{% import "macros.html" as macros -%}

<div class="bg-white rounded-lg shadow w-full border border-stone-200 mt-1">
  {% if members.is_empty() -%}
    <div class="px-8 py-4 text-sm/6 text-stone-600 italic">No members found</div>
  {% else -%}
    <ul class="text-sm text-stone-700 overflow-auto max-h-[180px]">
      {% for m in members -%}
        <li class="group
                   {% if loop.index != 1 -%}border-t border-stone-200{%- endif %}"
            data-index="{{ loop.index }}">
          <button type="button"
                  data-member-id="{{ m.member_id }}"
                  data-name="{{ m.name }}"
                  data-level="{{ m.level }}"
                  data-foundation="{{ m.foundation }}"
                  data-logo-url="{{ m.logo_url }}"
                  class="cursor-pointer btn-member px-4 py-2 w-full hover:bg-stone-100 group-[.active]:bg-stone-100">
            {% let label = &format!("{} {} member", m.foundation, m.level) -%}
            {% call macros::dropdown_card(name = m.name, label = label, logo_url = m.logo_url) -%}
          </button>
        </li>
      {% endfor -%}
    </ul>
  {% endif -%}
</div>
<script type="module">
  import {
    addMemberCard
  } from '/static/js/misc/members.js';

  const input = document.querySelector('input#member');
  const buttons = document.querySelectorAll('button.btn-member');

  if (buttons) {
    buttons.forEach((btn) => {
      btn.addEventListener('click', () => {
        // Add the member data to the inputs
        const memberId = btn.dataset.memberId;
        const name = btn.dataset.name;
        const level = btn.dataset.level;
        const foundation = btn.dataset.foundation;
        const logoUrl = btn.dataset.logoUrl;

        if (input) {
          input.value = "";
          input.blur();

          // Add the member data to the form
          const memberIdInput = document.getElementById('member_id');
          const nameInput = document.getElementById('member_name');
          const levelInput = document.getElementById('member_level');
          const foundationInput = document.getElementById('member_foundation');
          const logoUrlInput = document.getElementById('member_logo_url');

          if (memberIdInput) {
            memberIdInput.value = memberId;
          }

          if (nameInput) {
            nameInput.value = name;
          }

          if (levelInput) {
            levelInput.value = level;
          }

          if (foundationInput) {
            foundationInput.value = foundation;
          }

          if (logoUrlInput) {
            logoUrlInput.value = logoUrl;
          }

          addMemberCard(memberId, name, level, foundation, logoUrl, 'selected-member');
        }

        // Clean the search results
        document.getElementById('search-member').innerHTML = "";
      });

      // Highlight the item in the list when the user hovers over it
      btn.addEventListener('mouseover', () => {
        const activeItem = document.querySelector('#search-member li.active');
        // Remove the class from the active item
        if (activeItem) {
          activeItem.classList.remove('active');
        }
        btn.closest('li').classList.add('active');
      });
    });
  }
</script>
