{% import "macros.html" as macros %}

<div class="bg-white divide-y divide-gray-100 rounded-lg shadow w-full border mt-1">
  {% if projects.is_empty() %}
    <div class="px-8 py-4 text-sm/6 text-gray-600 italic">No projects found</div>
  {% else %}
    <ul class="text-sm text-gray-700 overflow-auto max-h-[180px]">
      {% for p in projects %}
        <li class="group
                   {% if loop.index != 1 -%}border-t{%- endif %}"
            data-index="{{ loop.index }}">
          <button type="button"
                  data-project-id="{{ p.project_id }}"
                  data-name="{{ p.name }}"
                  data-maturity="{{ p.maturity }}"
                  data-foundation="{{ p.foundation }}"
                  data-logo-url="{{ p.logo_url }}"
                  class="btn-project px-4 py-2 w-full hover:bg-gray-100 group-[.active]:bg-gray-100">
            {% let label = &format!("{} {}", p.foundation, p.maturity) %}
            {% call macros::dropdown_card(name = p.name, label = label, logo_url = p.logo_url) %}
          </button>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<script type="module">
  import {
    addProjectCard
  } from '/static/js/misc/projects.js';

  const buttons = document.querySelectorAll('button.btn-project');

  if (buttons) {
    buttons.forEach((btn) => {
      const projectsList = btn.closest("[data-projects-list]");
      const projectsListId = projectsList.dataset.name;
      const miniCards = projectsList.dataset.miniSize;

      const input = document.querySelector(`input#${projectsListId}`);

      btn.addEventListener('click', () => {

        // Add the project data to the inputs
        const projectId = btn.dataset.projectId;
        const name = btn.dataset.name;
        const maturity = btn.dataset.maturity;
        const foundation = btn.dataset.foundation;
        const logoUrl = btn.dataset.logoUrl;

        if (input) {
          input.value = "";
          input.blur();

          addProjectCard(projectId, name, maturity, foundation, logoUrl, `selected-${projectsListId}`, miniCards === "true");
        }

        // Clean the search results
        document.getElementById(`search-${projectsListId}`).innerHTML = "";
      });

      // Highlight the item in the list when the user hovers over it
      btn.addEventListener('mouseover', () => {
        const activeItem = document.querySelector(`#search-${projectsListId} li.active`);
        // Remove the class from the active item
        if (activeItem) {
          activeItem.classList.remove('active');
        }
        btn.closest('li').classList.add('active');
      });
    });
  }
</script>
