{% import "header.html" as macros_header -%}

<div class="flex items-center">
  <div class="hidden lg:flex items-center space-x-5">
    {% if user.logged_in -%}
      {%- if !user.has_profile -%}
        <a hx-boost="true"
           href="/dashboard/job-seeker"
           hx-target="body"
           class="btn-primary-outline-anchor w-[140px]">Create profile</a>
      {% endif -%}

      <a hx-boost="true"
         href="/dashboard/employer"
         hx-target="body"
         class="btn-primary-outline-anchor w-[140px]">Post a job</a>
    {% else -%}
      <a hx-boost="true"
         href="/dashboard/job-seeker"
         hx-target="body"
         class="btn-primary-outline-anchor w-[140px]">Create profile</a>

      <a hx-boost="true"
         href="/dashboard/employer"
         hx-target="body"
         class="btn-primary-outline-anchor w-[140px]">Post a job</a>
    {% endif -%}
  </div>
  <div class="ms-10">{% call macros_header::user_menu(user) -%}</div>
</div>
