{% import "macros.html" as macros -%}
{% import "misc/preview_modal.html" as preview -%}

{% call macros::form_title(title = "Invitations", description = "Here you will see the invitations you receive to join employers' teams.") -%}

{# Invitations Table -#}
<div class="relative overflow-visible mt-10">
  <table class="table-fixed w-full text-xs lg:text-sm text-left rtl:text-right text-stone-500">
    <thead class="text-xs text-stone-700 uppercase bg-stone-100 border-b border-stone-200">
      <tr>
        <th scope="col" class="px-3 xl:px-5 py-3 w-auto lg:w-2/5 xl:w-1/4">Company</th>
        <th scope="col" class="px-3 xl:px-5 py-3">Created</th>
        <th scope="col" class="p-4 w-24"></th>
      </tr>
    </thead>
    <tbody id="applications-list">
      {% if invitations.is_empty() -%}
        <tr class="bg-white border-b border-stone-200">
          {# No invitations -#}
          <td class="px-8 py-20 text-center" colspan="3">
            <div class="text-xl lg:text-2xl mb-10">You don't have any pending invitation.</div>
          </td>
        </tr>
      {% else -%}
        {% for invitation in invitations -%}
          <tr class="odd:bg-white even:bg-stone-50/50 border-b border-stone-200">
            {# Company -#}
            <td class="px-3 xl:px-5 py-4 font-medium text-stone-900">
              <div class="max-w-full text-black truncate">{{ invitation.company }}</div>
            </td>
            {# End company -#}

            {# Created at date -#}
            <td class="px-3 xl:px-5 py-4 whitespace-nowrap">{{ invitation.created_at.format(DATE_FORMAT) }}</td>
            {# End created at date -#}

            {# Actions -#}
            <td>
              <div class="flex items-center justify-center space-x-2">
                <div>
                  <button hx-put="/dashboard/employer/team/invitations/{{ invitation.employer_id }}/accept"
                          hx-disabled-elt="this"
                          class="btn-tertiary p-2"
                          title="Approve">
                    <div class="svg-icon size-3 md:size-4 icon-check"></div>
                  </button>
                </div>

                <div>
                  <button id="reject-employer-{{ invitation.employer_id }}"
                          hx-put="/dashboard/employer/team/invitations/{{ invitation.employer_id }}/reject"
                          hx-trigger="confirmed"
                          hx-disabled-elt="this"
                          class="btn-tertiary p-2 reject-modal"
                          title="Reject">
                    <div class="svg-icon size-2.5 md:size-3.5 icon-cancel"></div>
                  </button>
                  <script type="module">
                    import {
                      showConfirmAlert,
                      showErrorAlert,
                      showInfoAlertWithHtml,
                      showSuccessAlert,
                    } from "/static/js/common/alerts.js";
                    import {
                      isSuccessfulXHRStatus
                    } from "/static/js/common/common.js";
                    const rejectEmployerButton = document.getElementById('reject-employer-{{ invitation.employer_id }}');
                    rejectEmployerButton.addEventListener('click', (event) => {
                      showConfirmAlert("Are you sure you would like to reject this invitation?", "reject-employer-{{ invitation.employer_id }}", "Yes");
                    });

                    rejectEmployerButton.addEventListener("htmx:afterRequest", (e) => {
                      if (!isSuccessfulXHRStatus(e.detail.xhr.status)) {
                        showErrorAlert("Something went wrong rejecting this invitation. Please try again later.");
                      }
                    });
                  </script>
                </div>
              </div>
            </td>
            {# End actions -#}
          </tr>
        {% endfor -%}
      {% endif -%}
    </tbody>
  </table>
</div>
{# End invitations Table -#}
