{# Footer #}
<footer class="flex-none bg-gray-950 text-center text-white text-surface/75 mt-auto lg:text-left">
  <div class="px-8 py-6 lg:px-16 lg:py-12">
    <div class="pb-10 text-center md:text-left">
      <div class="flex flex-col justify-between md:flex-row">
        <img class="h-8 mx-auto md:mx-0"
             width="202"
             height="32"
             src="/static/images/CNCF_logo_white.svg"
             alt="Logo CNCF" />
      </div>
    </div>
    <div class="pt-8 border-solid border-0 border-t border-gray-800 text-xs text-gray-300">
      <p>
        Powered by <a href="https://github.com/tegioz/open-job-board"
    class="font-bold text-white"
    target="_blank"
    rel="noopener noreferrer">CNCF Open Job Board</a>.
      </p>
    </div>
  </div>
</footer>
{# End Footer #}
