{% extends "base.html" %}
{% import "common.html" as common %}

{% block main %}
  <div class="container max-w-md m-auto px-2 py-28">
    <div class="bg-white p-10 border rounded-3xl">
      <div class="flex items-center justify-between space-x-5 lg:space-x-10">
        {# GitHub login #}
        <div class="w-1/2">
          <a href="/log-in/oauth2/github?{%- if let Some(next_url) = next_url -%}next_url={{ next_url }}{%- endif -%}"
             class="group btn-outline flex justify-center items-center space-x-2">
            <div class="svg-icon size-4 icon-github group-hover:bg-white"></div>
            <div>GitHub</div>
          </a>
        </div>
        {# End GitHub login #}

        {# TODO login #}
        <div class="w-1/2">
          <a href=""
             class="group btn-outline flex justify-center items-center space-x-2">
            <div class="svg-icon size-4 icon-lfx group-hover:bg-white"></div>
            <div>LFID</div>
          </a>
        </div>
        {# End TODO login #}
      </div>

      <div class="inline-flex items-center justify-center w-full">
        <hr class="w-full h-0.5 my-8 bg-gray-200 border-0 rounded-sm">
        <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 text-xs text-gray-400">OR</div>
      </div>

      <form action="/log-in{%- if let Some(next_url) = next_url -%}?next_url={{ next_url }}{%- endif -%}"
            method="post">
        <div class="mb-10">{% call common::form_title(title = "Log In") %}</div>

        <div class="mb-5">
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
          <input type="text"
                 id="username"
                 name="username"
                 class="input-primary"
                 required />
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <input type="password"
                 id="password"
                 name="password"
                 class="input-primary"
                 required />
        </div>

        {# Submit button #}
        <button type="submit" class="btn-primary w-full mt-12">Submit</button>
        {# End submit button #}

        <div class="mt-5 text-sm text-gray-600">
          Don't have an account? <a href="/sign-up{%- if let Some(next_url) = next_url -%}?next_url={{ next_url }}{%- endif -%}"
    class="text-primary-700 hover:text-primary-900">Sign up</a>.
        </div>
      </form>

      {# Messages #}
      {% if messages.len() > 0 %}
        <div class="p-4 mt-10 text-md max-w-sm mx-auto text-red-800 rounded-lg bg-red-50"
             role="alert">
          {% for message in messages %}<p>{{ message }}</p>{% endfor %}
        </div>
      {% endif %}
      {# End messages #}
    </div>
  </div>
{% endblock main %}
