{% import "macros.html" as macros -%}

{# Update user details form -#}
<form id="user-details-form"
      hx-put="/dashboard/account/update/details"
      hx-ext="no-empty-vals"
      hx-trigger="submit"
      hx-indicator="#dashboard-spinner, #save-user-spinner"
      hx-disabled-elt="button[type=submit]">
  <div class="space-y-12">
    <div>
      {% call macros::form_title(title = "Account", description = "You can update your personal user account details here.") -%}
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
        {# Name -#}
        <div class="col-span-3">
          <label for="name" class="form-label">
            Name <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <input type="text"
                   name="name"
                   id="name"
                   value="{{ user_summary.name }}"
                   class="input-primary"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   required>
          </div>
        </div>
        {# End name -#}

        <div class="col-span-3"></div>

        {# Username -#}
        <div class="col-span-3 hidden">
          <label for="username" class="form-label">
            Username <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <input type="hidden"
                   name="username"
                   id="username"
                   value="{{ user_summary.username }}"
                   class="input-primary"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   required>
          </div>
        </div>
        {# End username -#}

        {# Email -#}
        <div class="col-span-3 hidden">
          <label for="email" class="form-label">
            Email <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <input type="hidden"
                   name="email"
                   id="email"
                   value="{{ user_summary.email }}"
                   class="input-primary"
                   required>
          </div>
        </div>
        {# End email -#}
      </div>
    </div>

    <div class="mt-6">
      <button type="submit" class="btn-primary">
        {% call macros::btn_spinner(id = "save-user-spinner", spinner_type = "2") -%}
        Save
      </button>
    </div>
  </div>
</form>
{# End update user details -#}

{% let has_password = user_summary.has_password.unwrap_or(false) -%}
{% if has_password -%}
  <hr class="w-full h-px mx-auto my-12 bg-stone-200 border-0">

  {# Update user password form -#}
  <form id="password-form"
        hx-put="/dashboard/account/update/password"
        hx-ext="no-empty-vals"
        hx-trigger="submit"
        hx-target="body"
        hx-indicator="#dashboard-spinner, #update-password-spinner"
        hx-disabled-elt="button[type=submit]">
    <div class="space-y-12">
      <div>
        {% call macros::form_title(title = "Update password", description = "After updating your password all your current sessions will be terminated and you will need to log back in.") -%}

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
          <div class="col-span-3">
            <label for="old_password" class="form-label">
              Current password <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="password"
                     id="old_password"
                     name="old_password"
                     class="input-primary"
                     required>
            </div>
          </div>

          <div class="col-span-3"></div>

          <div class="col-span-3">
            <label for="new_password" class="form-label">
              New password <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="password"
                     id="new_password"
                     name="new_password"
                     class="input-primary"
                     required>
            </div>
          </div>

          <div class="col-span-3">
            <label for="password_confirmation" class="form-label">
              Repeat new password <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="password"
                     id="password_confirmation"
                     name="password_confirmation"
                     class="input-primary"
                     required>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 items-center">
        <button type="submit" class="btn-primary">
          {% call macros::btn_spinner(id = "update-password-spinner", spinner_type = "2") -%}
          Save
        </button>
      </div>
    </div>
  </form>
  {# End update user password form -#}
{% endif -%}

<script type="module">
  import {
    showErrorAlert
  } from '/static/js/common/alerts.js';
  import {
    isSuccessfulXHRStatus
  } from '/static/js/common/common.js';

  const userDetailsForm = document.getElementById('user-details-form');
  const passwordForm = document.getElementById('password-form');

  userDetailsForm.addEventListener('htmx:afterRequest', (e) => {
    if (!isSuccessfulXHRStatus(e.detail.xhr.status)) {
      showErrorAlert('Something went wrong updating the user details, please try again later.');
    }
  });

  if (passwordForm) {
    const password = document.getElementById('new_password');
    const passwordConfirmation = document.getElementById('password_confirmation');

    const isValidPassword = () => {
      // Check if passwords match
      if (password.value !== passwordConfirmation.value) {
        passwordConfirmation.setCustomValidity('Passwords do not match');
      } else {
        passwordConfirmation.setCustomValidity('');
      }
    };

    password.addEventListener('input', isValidPassword);
    passwordConfirmation.addEventListener('input', isValidPassword);

    passwordForm.addEventListener('htmx:afterRequest', (e) => {
      if (!isSuccessfulXHRStatus(e.detail.xhr.status)) {
        showErrorAlert('Something went wrong updating the password, please try again later.');
      }
    });
  }
</script>
