{# Preview modal -#}
<div id="preview-modal"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 p-10 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full flex">
  <div id="backdrop-preview-modal"
       class="modal-overlay absolute w-full h-full bg-black opacity-75"></div>
  <div class="pointer-events-auto relative flex max-h-[100%] w-full flex-col overflow-hidden rounded-md border-none bg-white bg-clip-padding text-current shadow-4 outline-none dark:bg-surface-dark pointer-events-auto relative flex max-h-[100%] w-full flex-col overflow-hidden rounded-md border-none bg-white bg-clip-padding text-current shadow-4 outline-none">
    {# Modal header -#}
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
      {# Title -#}
      <h3 class="text-xl font-semibold text-gray-900">Job preview</h3>
      {# End title -#}

      {# Close button -#}
      <button id="close-preview-modal"
              type="button"
              class="group bg-transparent hover:bg-gray-200 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
        <div class="svg-icon h-5 w-5 bg-gray-400 grouphover:bg-gray-900 icon-close"></div>
        <span class="sr-only">Close modal</span>
      </button>
      {# End close button -#}
    </div>
    {# End modal header -#}

    {# Modal content -#}
    <div id="preview-content" class="relative overflow-y-auto p-4 md:p-8"></div>
    {# End modal content -#}
  </div>
</div>
{# End preview modal -#}

<script type="module">
  import {
    toggleModalVisibility
  } from '/static/js/common/common.js';

  // Close the preview modal on backdrop click
  const backdropPreviewModal = document.querySelector('#backdrop-preview-modal');
  backdropPreviewModal.addEventListener('click', () => toggleModalVisibility('preview-modal'));

  // Close the preview modal on close button click
  const closePreviewModal = document.querySelector('#close-preview-modal');
  closePreviewModal.addEventListener('click', () => toggleModalVisibility('preview-modal'));
</script>
