{% import "common.html" as common %}

{% let job_id = job_details.job_id|display_some %}

{# Jobs form #}
<form id="jobs-form"
      hx-put="/dashboard/jobs/{{ job_id }}/update"
      hx-ext="no-empty-vals"
      hx-trigger="submit">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900">Job Information</h2>
      <p class="mt-1 text-sm/6 text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

        {# Job title #}
        <div class="col-span-full">
          <label for="title" class="block text-sm/6 font-medium text-gray-900">Title (required)</label>
          <div class="mt-2">
            <input type="text"
                   name="title"
                   id="title"
                   value="{{ job_details.title }}"
                   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6"
                   required>
          </div>
          <p class="mt-1 text-xs/6 text-gray-600">Lorem ipsum.</p>
        </div>
        {# End Job title #}

        {# Job status #}
        <input type="hidden" name="status" value="draft">
        {# End job status #}

        {# Job location #}
        {% call common::location(location_id = job_details.location_id|display_some, city = job_details.city|display_some, state = job_details.state|display_some, country = job_details.country|display_some) %}
        {# End Job location #}

        {# Job type #}
        <div class="sm:col-span-1">
          <label for="type" class="block text-sm/6 font-medium text-gray-900">Job type (required)</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="type"
                    name="type"
                    class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6"
                    required>
              {% call common::select_option(value = JobType::Contractor, label = "Contractor", selected = job_details.type_) %}
              {% call common::select_option(value = JobType::FullTime, label = "Full Time", selected = job_details.type_) %}
              {% call common::select_option(value = JobType::Internship, label = "Internship", selected = job_details.type_) %}
              {% call common::select_option(value = JobType::PartTime, label = "Part Time", selected = job_details.type_) %}
            </select>
          </div>
        </div>
        {# End Job type #}

        {# Workplace #}
        <div class="sm:col-span-1">
          <label for="workplace" class="block text-sm/6 font-medium text-gray-900">Workplace (required)</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="workplace"
                    name="workplace"
                    class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6"
                    required>
              {% call common::select_option(value = Workplace::Hybrid, label = "Hybrid", selected = job_details.workplace) %}
              {% call common::select_option(value = Workplace::OnSite, label = "On Site", selected = job_details.workplace) %}
              {% call common::select_option(value = Workplace::Remote, label = "Remote", selected = job_details.workplace) %}
            </select>
          </div>
        </div>
        {# End Workplace #}

        {# Job Description #}
        <div class="col-span-full">
          <label for="description" class="block text-sm/6 font-medium text-gray-900">Description (required)</label>
          <div class="mt-2">
            {% call common::markdown_editor(id = "description", content = job_details.description, required = true) %}
          </div>
          <p class="mt-1 text-xs/6 text-gray-600">Lorem ipsum.</p>
        </div>
        {# End Job Description #}

        {# Job benefits #}
        <div class="sm:col-span-3">
          <multi-select id="benefits" name="Benefits" options="{{ benefits|json }}"
          {% if let Some(job_benefits) = job_details.benefits %}selected="{{ job_benefits|json }}"{% endif %}
          ></multi-select>
        </div>
        {# End job nebefits #}

        {# Job skills #}
        <div class="sm:col-span-3">
          <multi-select id="skills" name="Skills" options="{{ skills|json }}"
          {% if let Some(job_skills) = job_details.skills %}selected="{{ job_skills|json }}"{% endif %}
          ></multi-select>
        </div>
        {# End job skills #}

        {# Apply url #}
        <div class="sm:col-span-3">
          <label for="apply_url" class="block text-sm/6 font-medium text-gray-900">Apply url</label>
          <div class="mt-2">
            <input id="apply_url"
                   name="apply_url"
                   type="url"
                   value="{%- if let Some(apply_url) = job_details.apply_url -%} {{ apply_url }} {%- endif -%}"
                   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6">
          </div>
        </div>
        {# End Apply url #}
      </div>
    </div>

    {# Salary #}
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900">Salary</h2>
      <p class="mt-1 text-sm/6 text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        {% let salary_kind = job_details.salary_kind() %}
        <div class="col-span-full">
          <label for="salary" class="block text-sm/6 font-medium text-gray-900">Option</label>
          <div class="mt-2 flex space-x-12">
            <div class="flex items-center gap-x-3">
              <input id="fixed"
                     name="salary_kind"
                     type="radio"
                     {% if salary_kind == SalaryKind::Fixed %}checked{% endif %}
                     class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-primary-600 checked:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden">
              <label for="fixed" class="block text-sm/6 font-medium text-gray-900">Exact</label>
            </div>
            <div class="flex items-center gap-x-3">
              <input id="range"
                     name="salary_kind"
                     type="radio"
                     {% if salary_kind == SalaryKind::Range %}checked{% endif %}
                     class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-primary-600 checked:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden">
              <label for="range" class="block text-sm/6 font-medium text-gray-900">Range</label>
            </div>
          </div>
        </div>
        <script type="module">
          const salaryOptions = document.querySelectorAll('input[name="salary_kind"]');
          const salaryOptionFixed = document.getElementById('salary_kind_fixed');
          const salaryOptionRange = document.getElementById('salary_kind_range');
          salaryOptions.forEach((option) => {
            option.addEventListener('change', () => {
              if (option.id === 'fixed') {
                salaryOptionFixed.classList.remove('hidden');
                salaryOptionRange.classList.add('hidden');
              } else {
                salaryOptionFixed.classList.add('hidden');
                salaryOptionRange.classList.remove('hidden');
              }
            });
          });
        </script>

        {# Salary #}
        <div id="salary_kind_fixed"
             class="sm:col-span-2 {%- if salary_kind != SalaryKind::Fixed %} hidden {%- endif -%}">
          <label for="salary" class="block text-sm/6 font-medium text-gray-900">Salary</label>
          <div class="mt-2">
            <input id="salary"
                   name="salary"
                   type="number"
                   value="{{ job_details.salary|display_some }}"
                   min="0"
                   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6">
          </div>
        </div>
        <div id="salary_kind_range"
             class="grid grid-cols-1 gap-x-6 sm:grid-cols-6 sm:col-span-2 {%- if salary_kind != SalaryKind::Range %}hidden {%- endif -%}">
          <div class="sm:col-span-3">
            <label for="salary_min" class="block text-sm/6 font-medium text-gray-900">Salary min</label>
            <div class="mt-2">
              <input id="salary_min"
                     name="salary_min"
                     type="number"
                     value="{{ job_details.salary_min|display_some }}"
                     min="0"
                     class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6">
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="salary_max" class="block text-sm/6 font-medium text-gray-900">Salary max</label>
            <div class="mt-2">
              <input id="salary_max"
                     name="salary_max"
                     type="number"
                     value="{{ job_details.salary_max|display_some }}"
                     min="0"
                     class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6">
            </div>
          </div>
        </div>
        {# End Salary #}

        {# Salary currency #}
        <div class="sm:col-span-1">
          <label for="salary_currency"
                 class="block text-sm/6 font-medium text-gray-900">Currency</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="salary_currency"
                    name="salary_currency"
                    class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6">
              {% call common::select_option(value = "", label = "", selected = job_details.salary_currency|display_some) %}
              {% call common::select_option(value = "USD", label = "USD - United States Dollar", selected = job_details.salary_currency|display_some) %}
              {% call common::select_option(value = "EUR", label = "EUR - Euro", selected = job_details.salary_currency|display_some) %}
              {% call common::select_option(value = "GBP", label = "GBP - British Pound Sterling", selected = job_details.salary_currency|display_some) %}
              {% call common::select_option(value = "CAD", label = "CAD - Canadian Dollar", selected = job_details.salary_currency|display_some) %}
              {% call common::select_option(value = "JPY", label = "JPY - Japanese Yen", selected = job_details.salary_currency|display_some) %}
            </select>
          </div>
        </div>
        {# End Salary currency #}

        {# Salary period #}
        <div class="sm:col-span-1">
          <label for="salary_period" class="block text-sm/6 font-medium text-gray-900">Timeframe</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="salary_period"
                    name="salary_period"
                    class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6">
              {% call common::select_option(value = "", label = "", selected = job_details.salary_period|display_some) %}
              {% call common::select_option(value = "daily", label = "Daily", selected = job_details.salary_period|display_some) %}
              {% call common::select_option(value = "weekly", label = "Weekly", selected = job_details.salary_period|display_some) %}
              {% call common::select_option(value = "fortnightly", label = "Fortnightly", selected = job_details.salary_period|display_some) %}
              {% call common::select_option(value = "monthly", label = "Monthly", selected = job_details.salary_period|display_some) %}
              {% call common::select_option(value = "quarterly", label = "Quarterly", selected = job_details.salary_period|display_some) %}
              {% call common::select_option(value = "yearly", label = "Yearly", selected = job_details.salary_period|display_some) %}
            </select>
          </div>
        </div>
        {# End Salary period #}
      </div>
    </div>
    {# End salary #}

    {# Others #}
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900">Others</h2>
      <p class="mt-1 text-sm/6 text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        {# Open source #}
        <div class="col-span-full">
          <label for="open_source" class="block text-sm/6 font-medium text-gray-900">Open source</label>
          <div class="mt-2">
            {% call common::input_range(name = "open_source", value = job_details.open_source|display_some_or(0)) %}
          </div>
          <p class="mt-1 text-xs/6 text-gray-600">Lorem ipsum.</p>
        </div>
        {# End Open source #}

        {# Upstream commitment #}
        <div class="col-span-full">
          <label for="upstream_commitment"
                 class="block text-sm/6 font-medium text-gray-900">Upstream commitment</label>
          {% call common::input_range(name = "upstream_commitment", value = job_details.upstream_commitment|display_some_or(0)) %}
          <p class="mt-1 text-xs/6 text-gray-600">Lorem ipsum.</p>
        </div>
        {# End Upstream commitment #}
      </div>
    </div>
    {# End Others #}
  </div>
  <div class="mt-6 flex justify-between items-center">
    <div class="flex items-center gap-x-6">
      <button id="preview-button"
              type="button"
              hx-post="/dashboard/jobs/preview"
              hx-include="#jobs-form input, #jobs-form select, #jobs-form textarea"
              hx-ext="no-empty-vals"
              hx-target="#preview-content"
              type="button"
              class="text-primary-700 rounded-md hover:text-white border border-primary-700 hover:bg-primary-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-3 py-2">
        Preview
      </button>
      <div class="htmx-indicator">{% call common::spinner(size = 5) %}</div>
    </div>
    <div class="flex items-center justify-end gap-x-6">
      <a href="/dashboard?tab=jobs"
         class="text-sm/6 font-semibold text-gray-900">Cancel</a>
      {# Publish button #}
      {% if job_details.status == JobStatus::Published %}
        <button type="submit"
                class="bg-primary-700 px-3 py-2 text-sm font-semibold text-white rounded-md hover:bg-primary-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
          Save
        </button>
      {% else %}
        <button type="submit"
                class="rounded-md bg-primary-100 px-3 py-2 text-sm font-semibold text-primary-900 rounded-md hover:bg-primary-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
          Save
        </button>
        <button id="publish-job"
                type="button"
                class="bg-primary-700 px-3 py-2 text-sm font-semibold text-white rounded-md hover:bg-primary-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
          Publish
        </button>
      {% endif %}
      {# End publish button #}
    </div>
  </div>
</form>

{# Preview modal -#}
{% include "dashboard/jobs/preview_modal.html" %}
{# End preview modal -#}

<script type="module">
  import {
    triggerActionOnForm,
    updateJobsList
  } from '/static/js/dashboard/jobs.js';
  import {
    toggleModalVisibility
  } from '/static/js/common/common.js';

  const jobsForm = document.getElementById('jobs-form');

  // Before the form is submitted, check the salary option selected
  jobsForm.addEventListener('htmx:beforeRequest', (e) => {
    const selectedSalaryOption = document.querySelector('input[name="salary_kind"]:checked');
    // If the salary option is range, remove the salary value
    if (selectedSalaryOption.id === 'range') {
      document.querySelector('input[name="salary"]').value = '';
      // If the salary option is exact, remove the salary min and max values
    } else {
      document.querySelector('input[name="salary_min"]').value = '';
      document.querySelector('input[name="salary_max"]').value = '';
    }
  });

  // After the form is submitted, update the jobs list
  jobsForm.addEventListener('htmx:afterRequest', (e) => {
    // Check if the form is the jobs form and not the input ts_query requesting locations
    if (e.detail.elt.id === 'jobs-form') {
      updateJobsList();
    }
  });

  // Publish job
  const publishBtn = document.getElementById('publish-job');
  if (publishBtn) {
    publishBtn.addEventListener('click', () => {
      // Update the job status to published
      document.querySelector('#jobs-form input[name="status"]').value = 'published';
      triggerActionOnForm('jobs-form', 'submit');
    });
  }

  // On preview button click, show the preview modal
  const previewButton = document.getElementById('preview-button');
  previewButton.addEventListener('htmx:afterRequest', (e) => {
    if (e.detail.successful) {
      toggleModalVisibility('preview-modal');
    } else {
      console.log('Show error message');
    }
  });
</script>
{# End Jobs form #}
