<div class="w-full m-auto content-center py-5">
  <div class="text-3xl mb-10">Employer initial setup</div>

  <p class="mb-24">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>

  <div class="flex justify-center">
    <button hx-get="/dashboard/employers/add"
            hx-trigger="click"
            hx-target="#dashboard-content"
            class="bg-primary-700 px-3 py-2 text-sm font-semibold text-white rounded-md hover:bg-primary-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
      Add employer
    </button>
  </div>
</div>
