Welcome to CNCF job board!

Please click on the link below to verify your email address:

(Please note that the verification code is only valid for 24 hours. If you haven't verified your email by then you'll need to sign up again.)

VERIFY EMAIL BUTTON: {{ link }}

Or you can copy-paste this link: {{ link }}.

Once you've verified your email, you'll be able to log in using your credentials.

Thanks for joining us!

Didn't create an account? I's likely someone just typed in your email address by accident. Feel free to ignore this email.
