{% extends "notifications/base.html" -%}
{% import "notifications/email_macros.html" as macros %}

{% block subject -%}
  Verify your email address
{% endblock subject -%}

{% block preheader -%}
  Welcome to GitJobs!
{% endblock preheader -%}

{% block content -%}
  <p class="default mb-30">
    Welcome to <strong>GitJobs!</strong>!
    <br />
    <br />
    Please note that the verification code <strong>is only valid for 24 hours</strong>. If you haven't verified your account by then you'll need to sign up again.
  </p>

  {% call macros::email_button(link = link, text = "Verify your email" ) %}

  <p class="default mt-30 mb-15">
    Once you've verified your email, you'll be able to log in using your credentials.
    <br />
    <br />
    Thanks for joining us!
  </p>
{% endblock content -%}

{% block footer -%}
  Didn't create an account? I's likely someone just typed in your email address by accident.
  <br>
  Feel free to ignore this email.
{% endblock footer -%}
