{% import "jobboard/jobs/jobs_macros.html" as jobs_macros %}
{% import "macros.html" as macros %}

{# Mobile filters -#}
<div id="drawer-filters"
     class="fixed top-0 left-0 z-[1100] h-screen overflow-y-auto -translate-x-full bg-white w-80 border border-r shadow-lg"
     role="dialog"
     data-open="false"
     tabindex="-1"
     aria-labelledby="drawer-label">
  {# Close button -#}
  <button id="close-filters"
          type="button"
          class="group bg-transparent hover:bg-gray-200 rounded-full text-sm w-8 h-8 absolute top-4 end-2.5 flex items-center justify-center">
    <div class="svg-icon h-4 w-4 bg-gray-400 group-hover:bg-gray-900 icon-close"></div>
    <span class="sr-only">Close menu</span>
  </button>
  {# End close button -#}

  {# Filters content -#}
  <form id="mobile-jobs-form"
        hx-get='/jobs/section/results'
        hx-trigger="submit"
        hx-target="#items-list"
        hx-include="#searchbar"
        hx-ext="no-empty-vals"
        hx-indicator="#mobile-jobs-spinner"
        hx-boost="true">
  </form>

  {# Header Filters -#}
  <div class="flex justify-between items-center border-solid border-0 border-b border-gray-100 p-5">
    <div class="flex space-x-3 relative">
      <div class="font-semibold text-sm text-black">Filters</div>
      <div id="mobile-jobs-spinner" class="hx-spinner absolute start-10 -top-1">
        {% call macros::spinner(size = 5) %}
      </div>
    </div>
  </div>
  {# End header filters -#}
  {% call jobs_macros::filters(form = "mobile-jobs-form", device = "mobile") %}
  {# End filters content -#}

  <div class="text-end p-5">
    <button hx-get="/jobs"
            hx-target="body"
            hx-boost="true"
            hx-push-url="/jobs"
            class="btn-primary-outline btn-mini group">
      <div class="flex items-center space-x-1">
        <div class="svg-icon size-3 icon-close group-hover:bg-white"></div>
        <div>Reset</div>
      </div>
    </button>
  </div>
</div>
{# Overlay -#}
<div id="drawer-backdrop"
     class="hidden bg-gray-900/50 fixed inset-0 z-[1050]"></div>
{# End overlay -#}
{# End mobile filters -#}

<div class="relative container mx-auto max-w-7xl p-4 sm:p-6 lg:p-8 flex flex-grow h-full">
  <div class="flex items-start w-full h-full">

    {# Filters #}
    <div class="relative hidden w-[28%] max-w-[28%] xl:w-1/4 xl:max-w-1/4 lg:block bg-white border rounded-lg pb-5">
      <form id="desktop-jobs-form"
            hx-get='/jobs/section/results'
            hx-trigger="submit"
            hx-target="#items-list"
            hx-include="#searchbar"
            hx-ext="no-empty-vals"
            hx-indicator="#desktop-jobs-spinner"
            hx-boost="true">
      </form>

      {# Header #}
      <div class="flex justify-between items-center border-solid border-0 border-b border-gray-100 p-5">
        <div class="font-semibold text-sm text-black">Filters</div>

        <div class="flex space-x-3 relative">
          <div id="desktop-jobs-spinner" class="hx-spinner absolute -start-6 top-0">
            {% call macros::spinner(size = 5) %}
          </div>

          <button hx-get="/jobs"
                  hx-target="body"
                  hx-boost="true"
                  hx-push-url="/jobs"
                  class="btn-primary-outline btn-mini">Reset</button>
        </div>
      </div>
      {# End header #}

      {% call jobs_macros::filters(form = "desktop-jobs-form") %}

    </div>
    {# End filters #}

    {# Content #}
    <div class="relative w-full h-full lg:w-[72%] xl:w-3/4 lg:pl-6 xl:pl-10 self-stretch">
      <div class="relative flex flex-col bg-white border rounded-lg pt-5 md:pt-7 h-full w-full">
        <div class="flex lg:items-center mb-6 md:mb-10 px-5 md:px-7">
          <div class="flex align-items w-full">
            {# Mobile filters button -#}
            <div class="flex shrink-0 me-6 lg:hidden">
              <button id="open-filters"
                      class="btn-primary-outline group size-[40px] items-center flex justify-center">
                <div class="svg-icon size-4 icon-filter group-hover:bg-white shrink-0"></div>
              </button>
            </div>
            {# End mobile filters button -#}

            {# Searchbar #}
            <div class="flex items-center justify-center w-full">
              <div class="relative w-full md:w-3/4 md:-ml-[0.75rem]">
                <input id="searchbar"
                       name="ts_query"
                       type="text"
                       value='{{ filters.ts_query|display_some_or("") }}'
                       class="peer w-[100%] rounded-full border border-gray-300 text-gray-900 placeholder-gray-400 focus:ring-transparent focus:border-primary-500 focus:ring block flex-1 min-w-0 w-60 text-md p-2.5 ps-4 pe-14"
                       placeholder="Search jobs"
                       autocomplete="off"
                       autocorrect="off"
                       autocapitalize="off"
                       spellcheck="false">
                <div class="absolute right-[40px] top-[10px] block peer-placeholder-shown:hidden">
                  {# Clean searchbar #}
                  <button id="clean-search-jobs"
                          class="mr-2 mt-[2px] block peer-placeholder-shown:hidden">
                    <div class="svg-icon h-5 w-5 bg-gray-400 hover:bg-gray-700 icon-close"></div>
                  </button>
                  {# End clean searchbar #}
                </div>
                <div class="absolute right-[9px] top-[9px]">
                  {# Search button #}
                  <button id="search-jobs-btn" class="btn-primary-outline group p-1.5">
                    <div class="svg-icon size-3.5 mx-auto bg-primary-500 group-hover:bg-white icon-search"></div>
                  </button>
                  {# End search button #}
                </div>
              </div>
            </div>
            {# End searchbar #}
          </div>
        </div>

        <div class="flex justify-between items-center px-5 md:px-7">
          {# Results #}
          <div id="results"
               class="flex flex-row items-center justify-between text-xs md:text-sm font-semibold">
            {% if results_section.jobs.len() > 0 %}
              {% call jobs_macros::current_page(total = results_section.total, items_number = results_section.jobs.len(), offset_value = results_section.offset) %}
            {% endif %}
          </div>
          {# End results #}

          {# Sort by #}
          <div class="flex flex-1 flex-row items-center justify-end mb-3 mt-3 sm:mb-0 sm:mt-0">
            <label for="sort_by"
                   class="font-semibold text-filterTitle text-nowrap font-semibold leading-6 me-2 xl:me-3">
              Sort by
            </label>
            <select id="sort_by"
                    name="sort_by"
                    class="block w-24 py-1 px-3 text-[0.8rem] leading-none h-[30px] text-gray-900 bg-white border border-gray-300 rounded-full focus:outline-none focus:ring-0 focus:border-gray-300 hover:border-primary-500 focus:hover:border-primary-500">
              <option value="date" selected="">Date</option>
            </select>
          </div>
          {# End sort by #}
        </div>

        <div id="items-list" class="flex flex-col justify-between h-full">
          {# Results #}
          {{ results_section|safe }}
          {# End results #}
        </div>
      </div>
      {# End content #}
    </div>
  </div>
</div>
<script type="module">
  import {
    open,
    close,
    searchOnEnter,
    cleanInputField,
    triggerActionOnForm
  } from '/static/js/jobboard/filters.js';

  const openFiltersBtn = document.getElementById('open-filters');
  openFiltersBtn.addEventListener('click', open);

  const closeFiltersBtn = document.getElementById('close-filters');
  closeFiltersBtn.addEventListener('click', close);

  const backdropFilters = document.getElementById('drawer-backdrop');
  backdropFilters.addEventListener('click', close);

  const searchInput = document.getElementById('searchbar');
  searchInput.addEventListener('keydown', () => searchOnEnter(event, 'desktop-jobs-form'));

  const cleanSearch = document.getElementById('clean-search-jobs');
  cleanSearch.addEventListener('click', () => cleanInputField('searchbar', 'desktop-jobs-form'));

  const searchJobsBtn = document.getElementById('search-jobs-btn');
  searchJobsBtn.addEventListener('click', () => triggerActionOnForm('desktop-jobs-form', "submit", true));

  const formItems = document.querySelectorAll("[data-trigger-form]");
  formItems.forEach((item) => {
    item.addEventListener("change", (event) => {
      // If the item is a select element, blur it to trigger the change event
      if (item.tagName === "SELECT") {
        item.blur();
      }
      const form = item.getAttribute("form");
      // Trigger the form submit event
      if (form) {
        triggerActionOnForm(form, "submit");
      }
    });
  });
</script>
