{% import "jobboard/jobs/jobs_macros.html" as jobs_macros -%}
{% import "macros.html" as macros -%}

{# Mobile filters -#}
<div id="drawer-filters"
     class="fixed top-0 left-0 z-[1100] h-dvh overflow-y-auto -translate-x-full bg-white w-80 border border-r border-stone-200 shadow-lg"
     role="dialog"
     data-open="false"
     tabindex="-1"
     aria-labelledby="drawer-label">
  {# Close button -#}
  <button id="close-filters"
          type="button"
          class="cursor-pointer group bg-transparent text-sm absolute top-0 end-0 py-4 px-2.5">
    <div class="size-8 rounded-full bg-transparent group-hover:bg-stone-200 flex items-center justify-center">
      <div class="svg-icon size-4 bg-stone-400 group-hover:bg-stone-900 icon-close"></div>
      <span class="sr-only">Close menu</span>
    </div>
  </button>
  {# End close button -#}

  {# Filters content -#}
  <form id="mobile-jobs-form"
        hx-get='/section/jobs/results'
        hx-trigger="submit"
        hx-target="#items-list"
        hx-include="#searchbar,#sort-mobile"
        hx-ext="no-empty-vals"
        hx-indicator="#mobile-jobs-spinner"
        hx-on::after-request="window.scrollTo({top: 0, behavior: 'instant'})"
        hx-boost="true">
  </form>

  {# Header Filters -#}
  <div class="flex justify-between items-center border-solid border-0 border-b border-stone-100 p-5">
    <div class="flex space-x-3 relative">
      <div class="font-semibold text-sm text-black">Filters</div>
      <div id="mobile-jobs-spinner" class="hx-spinner absolute start-12 top-0">
        {% call macros::spinner(size = "size-5") -%}
      </div>
    </div>
  </div>
  {# End header filters -#}
  {% call jobs_macros::filters(form = "mobile-jobs-form", device = "mobile") -%}
  {# End filters content -#}

  <div class="text-end p-5">
    <button id="reset-mobile-filters" class="btn-primary-outline btn-mini group">
      <div class="flex items-center space-x-1">
        <div class="svg-icon size-3 icon-close group-hover:bg-white"></div>
        <div>Reset</div>
      </div>
    </button>
  </div>
</div>
{# Overlay -#}
<div id="drawer-backdrop"
     class="hidden bg-stone-900/50 fixed inset-0 z-[1050]"></div>
{# End overlay -#}
{# End mobile filters -#}

<div class="relative container mx-auto max-w-7xl p-4 pb-8 sm:p-6 lg:p-8 lg:pb-16 flex grow h-full">
  <div class="flex items-start w-full h-full">

    {# Filters -#}
    <div class="relative hidden w-[28%] max-w-[28%] xl:w-1/4 xl:max-w-1/4 lg:block bg-white border border-stone-200 rounded-lg pb-5">
      <form id="desktop-jobs-form"
            hx-get='/section/jobs/results'
            hx-trigger="submit"
            hx-target="#items-list"
            hx-include="#searchbar,#sort-desktop"
            hx-ext="no-empty-vals"
            hx-indicator="#desktop-jobs-spinner"
            hx-on::after-request="window.scrollTo({top: 0, behavior: 'instant'})"
            hx-boost="true">
      </form>

      {# Header -#}
      <div class="flex justify-between items-center border-solid border-0 border-b border-stone-100 p-5">
        <div class="font-semibold text-sm text-black">Filters</div>

        <div class="flex space-x-3 relative">
          <div id="desktop-jobs-spinner"
               class="hx-spinner absolute -start-8 top-0.5">
            {% call macros::spinner(size = "size-5") -%}
          </div>

          <button id="reset-desktop-filters" class="btn-primary-outline btn-mini">Reset</button>
        </div>
      </div>
      {# End header -#}

      {% call jobs_macros::filters(form = "desktop-jobs-form") -%}
    </div>
    {# End filters -#}

    {# Content -#}
    <div class="relative w-full h-full lg:w-[72%] xl:w-3/4 lg:pl-6 xl:pl-10 self-stretch">
      <div class="relative flex flex-col md:bg-white md:border md:border-stone-200 md:rounded-lg md:pt-7 h-full w-full">
        <div class="flex lg:items-center mb-6 md:mb-10 md:px-7">
          <div class="flex items-center w-full">
            {# Mobile filters button -#}
            <div class="flex shrink-0 me-3 md:me-6 lg:hidden">
              <button id="open-filters"
                      class="btn-primary-outline group size-[40px] items-center flex justify-center">
                <div class="svg-icon size-4 icon-filter group-hover:bg-white shrink-0"></div>
              </button>
            </div>
            {# End mobile filters button -#}

            {# Searchbar -#}
            <div class="flex items-center justify-center w-full">
              <div class="relative w-full md:w-3/4 md:-ml-[0.75rem]">
                <input id="searchbar"
                       name="ts_query"
                       type="text"
                       value='{{ filters.ts_query|display_some_or("") }}'
                       class="peer w-[100%] rounded-full border border-stone-300 text-stone-900 placeholder-stone-400 focus:ring-transparent focus:border-primary-500 focus:ring block flex-1 min-w-0 w-60 text-md p-2.5 ps-4 pe-14"
                       placeholder="Search jobs"
                       autocomplete="off"
                       autocorrect="off"
                       autocapitalize="off"
                       spellcheck="false">
                <div class="absolute right-[40px] top-[10px] block peer-placeholder-shown:hidden">
                  {# Clean searchbar -#}
                  <button id="clean-search-jobs"
                          class="cursor-pointer mr-2 mt-[2px] block peer-placeholder-shown:hidden">
                    <div class="svg-icon size-5 bg-stone-400 hover:bg-stone-700 icon-close"></div>
                  </button>
                  {# End clean searchbar -#}
                </div>
                <div class="absolute right-[9px] top-[9px]">
                  {# Search button -#}
                  <button id="search-jobs-btn"
                          class="hidden lg:inline-flex btn-primary-outline group p-1.5">
                    <div class="svg-icon size-3.5 mx-auto bg-primary-500 group-hover:bg-white icon-search"></div>
                  </button>
                  <button id="search-jobs-btn-mobile"
                          class="inline-flex lg:hidden btn-primary-outline group p-1.5">
                    <div class="svg-icon size-3.5 mx-auto bg-primary-500 group-hover:bg-white icon-search"></div>
                  </button>
                  {# End search button -#}
                </div>
              </div>
            </div>
            {# End searchbar -#}
          </div>
        </div>

        <div class="flex justify-between items-center md:px-7">
          {# Results -#}
          <div id="results"
               class="flex flex-row items-center justify-between text-xs md:text-sm font-semibold">
            {% if results_section.jobs.len() > 0 -%}
              {% call jobs_macros::current_page(total = results_section.total, items_number = results_section.jobs.len(), offset_value = results_section.offset) -%}
            {% endif -%}
          </div>
          {# End results -#}

          {# Sort by -#}
          <div class="flex flex-1 flex-row items-center justify-end">
            <label for="sort_by"
                   class="font-semibold text-xs md:text-[0.8rem] text-nowrap font-semibold leading-6 me-2 xl:me-3">
              Sort by
            </label>
            {%- let selected_sort = filters.sort.clone().unwrap_or_default().to_string() -%}
            <select id="sort-desktop"
                    name="sort"
                    class="hidden md:block w-[185px] py-1 px-3 text-[0.8rem] leading-none h-[30px] text-stone-900 bg-white border border-stone-300 rounded-full focus:outline-none focus:ring-0 focus:border-stone-300 hover:border-primary-500 focus:hover:border-primary-500">
              {% call macros::select_option(value = "date", label = "Date", selected = selected_sort) -%}
              {% call macros::select_option(value = "open-source", label = "Open Source", selected = selected_sort) -%}
              {% call macros::select_option(value = "salary", label = "Salary", selected = selected_sort) -%}
              {% call macros::select_option(value = "upstream-commitment", label = "Upstream Commitment", selected = selected_sort) -%}
            </select>
            <select id="sort-mobile"
                    name="sort"
                    class="block md:hidden w-[175px] py-1 px-3 text-xs leading-none h-[30px] text-stone-900 bg-white border border-stone-300 rounded-full focus:outline-none focus:ring-0 focus:border-stone-300 hover:border-primary-500 focus:hover:border-primary-500">
              {% call macros::select_option(value = "date", label = "Date", selected = selected_sort) -%}
              {% call macros::select_option(value = "open-source", label = "Open Source", selected = selected_sort) -%}
              {% call macros::select_option(value = "salary", label = "Salary", selected = selected_sort) -%}
              {% call macros::select_option(value = "upstream-commitment", label = "Upstream Commitment", selected = selected_sort) -%}
            </select>
            <script type="module">
              import {
                triggerActionOnForm
              } from '/static/js/jobboard/filters.js';

              const sortSelectDesktop = document.getElementById('sort-desktop');
              sortSelectDesktop.addEventListener('change', () => {
                triggerActionOnForm("desktop-jobs-form", "submit");
              });

              const sortSelectMobile = document.getElementById('sort-mobile');
              sortSelectMobile.addEventListener('change', () => {
                triggerActionOnForm("mobile-jobs-form", "submit");
              });
            </script>
          </div>
          {# End sort by -#}
        </div>

        <div id="items-list" class="flex flex-col justify-between h-full">
          {# Results -#}
          {{ results_section|safe }}
          {# End results -#}
        </div>
      </div>
      {# End content -#}
    </div>
  </div>
</div>

{# Embed modal -#}
<div id="embed-modal"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full flex">
  <div id="backdrop-embed-modal"
       class="modal-overlay absolute w-full h-full bg-stone-950 opacity-[.35]"></div>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow">
      {# Modal header -#}
      <div class="flex items-center justify-between p-4 md:p-5 border-b border-stone-200 rounded-t">
        {# Title -#}
        <h3 class="text-xl font-semibold text-stone-900">Embed</h3>
        {# End title -#}

        {# Close button -#}
        <button id="close-embed-modal"
                type="button"
                class="group bg-transparent hover:bg-stone-200 rounded-full text-sm size-8 ms-auto inline-flex justify-center items-center cursor-pointer">
          <div class="svg-icon size-5 bg-stone-400 group-hover:bg-stone-700 icon-close"></div>
          <span class="sr-only">Close modal</span>
        </button>
        {# End close button -#}
      </div>
      {# End modal header -#}

      {# Modal content -#}
      <div class="new-group-content p-4 md:p-8">
        <div class="flex flex-col">
          <div class="text-sm text-stone-500 mb-6">
            You can use the code below to embed the job board into your site using the current filters selected.
          </div>
          <pre class="w-full text-xs text-stone-200 px-5 py-2 border border-stone-900 bg-stone-800 rounded-lg overflow-x-auto">
            <code id="embed-code" class="whitespace-pre"></code>
          </pre>
          <div class="flex justify-end">
            <button id="copy-embed-code" class="btn-primary mt-8">
              <div class="flex items-center space-x-1">
                <div class="svg-icon size-3 icon-copy"></div>
                <div>Copy</div>
              </div>
            </button>
          </div>
        </div>
      </div>
      {# End modal content -#}
    </div>
  </div>
</div>
{# End embed modal -#}

<script type="module">
  import {
    open,
    close,
    searchOnEnter,
    cleanInputField,
    resetForm,
    triggerActionOnForm
  } from '/static/js/jobboard/filters.js';
  import {
    shouldDisplayJobModal,
    toggleModalVisibility
  } from '/static/js/common/common.js';
  import {
    copyEmbedCodeToClipboard,
    renderEmbedCode
  } from '/static/js/jobboard/job_section.js';

  const openFiltersBtn = document.getElementById('open-filters');
  openFiltersBtn.addEventListener('click', open);

  const closeFiltersBtn = document.getElementById('close-filters');
  closeFiltersBtn.addEventListener('click', close);

  const backdropFilters = document.getElementById('drawer-backdrop');
  backdropFilters.addEventListener('click', close);

  const searchInput = document.getElementById('searchbar');
  searchInput.addEventListener('keydown', () => searchOnEnter(event, 'desktop-jobs-form'));

  const cleanSearch = document.getElementById('clean-search-jobs');
  cleanSearch.addEventListener('click', () => cleanInputField('searchbar', 'desktop-jobs-form'));

  const searchJobsBtn = document.getElementById('search-jobs-btn');
  searchJobsBtn.addEventListener('click', () => triggerActionOnForm('desktop-jobs-form', "submit", true));

  const searchJobsBtnMobile = document.getElementById('search-jobs-btn-mobile');
  searchJobsBtnMobile.addEventListener('click', () => triggerActionOnForm('mobile-jobs-form', "submit", true));

  const formItems = document.querySelectorAll("[data-trigger-form]");
  formItems.forEach((item) => {
    item.addEventListener("change", (event) => {
      // If the item is a select element, blur it to trigger the change event
      if (item.tagName === "SELECT") {
        item.blur();
      }
      const form = item.getAttribute("form");
      // Trigger the form submit event
      if (form) {
        triggerActionOnForm(form, "submit");
      }
    });
  });

  const resetDesktopFilters = document.getElementById('reset-desktop-filters');
  resetDesktopFilters.addEventListener('click', () => resetForm('desktop-jobs-form'));

  const resetMobileFilters = document.getElementById('reset-mobile-filters');
  resetMobileFilters.addEventListener('click', () => resetForm('mobile-jobs-form'));

  // Embed buttons
  const embedButtons = document.querySelectorAll("[data-embed]");
  embedButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      // Set the embed code in the textarea
      renderEmbedCode();
      toggleModalVisibility('embed-modal', "open");

      const device = button.getAttribute("data-device");
      if (device === "mobile") {
        // Close the mobile filters drawer
        close();
      }
    });
  });

  // Copy embed code
  const copyEmbedCode = document.getElementById('copy-embed-code');
  copyEmbedCode.addEventListener('click', () => {
    copyEmbedCodeToClipboard("embed-code");
  });

  // Close embed modal
  const closeEmbedModal = document.getElementById('close-embed-modal');
  closeEmbedModal.addEventListener('click', () => {
    toggleModalVisibility('embed-modal', "close");
  });
  const backdropEmbedModal = document.getElementById('backdrop-embed-modal');
  backdropEmbedModal.addEventListener('click', () => {
    toggleModalVisibility('embed-modal', "close");
  });

  // Display job modal if the job_id is present in the query string
  shouldDisplayJobModal(true);
</script>
