{% import "misc/job_preview.html" as job_preview_macros -%}

{% let employer_description = job.employer.description|display_some -%}
{% if let Some(logo_id) = job.employer.logo_id -%}
  {% let logo = &self::build_jobboard_image_url(logo_id, "small") -%}
  {% call job_preview_macros::job_preview(job = job, employer = job.employer, logo = logo, employer_description = employer_description, job_id = job.job_id.to_string(), with_links = true) -%}
{% else -%}
  {% call job_preview_macros::job_preview(job = job, employer = job.employer, employer_description = employer_description, job_id = job.job_id.to_string(), with_links = true) -%}
{% endif -%}
