{% import "macros.html" as macros -%}

{# Filters -#}
{% macro filters(form, device = "desktop") -%}
  <div class="pt-3 md:pt-5 px-6">{% call filters_title(text = "Type and location") -%}</div>

  <div class="p-6 pb-4 md:pb-6 pt-3 flex flex-col space-y-5">
    {# Job type -#}
    <div>
      {% call filters_subtitle(text = "Job type") -%}
      <div class="grid grid-cols-2 w-full gap-2 mt-3">
        {# Full time -#}
        {% call checkbox(form = form, name = "kind[]", value = JobKind::FullTime, label = "Full Time", icon = "signature", active_filters = filters.kind, required = false, device = device) -%}
        {# End Full time -#}

        {# Part time -#}
        {% call checkbox(form = form, name = "kind[]", value = JobKind::PartTime, label = "Part Time", icon = "hour_glass", active_filters = filters.kind, required = false, device = device) -%}
        {# End Part time -#}

        {# Contractor -#}
        {% call checkbox(form = form, name = "kind[]", value = JobKind::Contractor, label = "Contractor", icon = "clipboard", active_filters = filters.kind, required = false, device = device) -%}
        {# End Contractor -#}

        {# Internship -#}
        {% call checkbox(form = form, name = "kind[]", value = JobKind::Internship, label = "Internship", icon = "graduation_cap", active_filters = filters.kind, required = false, device = device) -%}
        {# End Internship -#}
      </div>
    </div>
    {# End job type -#}

    {# Workplace -#}
    <div>
      {% call filters_subtitle(text = "Workplace") -%}
      <div class="grid grid-cols-2 w-full gap-2 mt-3">
        {# On site -#}
        {% call checkbox(form = form, name = "workplace[]", value = Workplace::OnSite, label = "On Site", icon = "office_chair", active_filters = filters.workplace, required = false, device = device) -%}
        {# End On site -#}

        {# Remote -#}
        {% call checkbox(form = form, name = "workplace[]", value = Workplace::Remote, label = "Remote", icon = "remote", active_filters = filters.workplace, required = false, device = device) -%}
        {# End Remote -#}

        {# Hybrid -#}
        {% call checkbox(form = form, name = "workplace[]", value = Workplace::Hybrid, label = "Hybrid", icon = "buildings", active_filters = filters.workplace, required = false, device = device) -%}
        {# End Hybrid -#}
      </div>
    </div>
    {# End workplace -#}

    <div class="grid grid-cols-2 w-full gap-2">
      {# Seniority -#}
      <div>
        {% call filters_subtitle(text = "Seniority level") -%}
        <div class="mt-2">
          {%- let selected_seniority = filters.seniority|display_some -%}
          <select form="{{ form }}"
                  data-trigger-form="true"
                  name="seniority"
                  class="select-primary py-0.5 text-[0.775rem]/6 text-stone-700">
            {% call macros::select_option(value = "", label = "Any", selected = selected_seniority) -%}
            {% call macros::select_option(value = "entry", label = "Entry", selected = selected_seniority) -%}
            {% call macros::select_option(value = "junior", label = "Junior", selected = selected_seniority) -%}
            {% call macros::select_option(value = "mid", label = "Mid", selected = selected_seniority) -%}
            {% call macros::select_option(value = "senior", label = "Senior", selected = selected_seniority) -%}
            {% call macros::select_option(value = "lead", label = "Lead", selected = selected_seniority) -%}
          </select>
        </div>
      </div>
      {# End seniority -#}

      {# Published date -#}
      <div>
        {% call filters_subtitle(text = "Published") -%}
        <div class="mt-2 relative">
          {%- let selected_date_range = filters.date_range.clone().unwrap_or_default().to_string() -%}
          <select form="{{ form }}"
                  name="date_range"
                  data-trigger-form="true"
                  class="select-primary py-0.5 text-[0.775rem]/6 text-stone-700">
            {% call macros::select_option(value = "last-day", label = "Last day", selected = selected_date_range) -%}
            {% call macros::select_option(value = "last3-days", label = "Last 3 days", selected = selected_date_range) -%}
            {% call macros::select_option(value = "last7-days", label = "Last week", selected = selected_date_range) -%}
            {% call macros::select_option(value = "last30-days", label = "Last month", selected = selected_date_range) -%}
          </select>
        </div>
      </div>
      {# End published date -#}
    </div>

    {# Location -#}
    <div>
      {% call filters_subtitle(text = "Location") -%}
      {% if let Some(location) = filters.location -%}
        <search-location form="{{ form }}" device="{{ device }}" locationId="{{ location.location_id }}" city="{{ location.city }}" state="{{ location.state|display_some }}" country="{{ location.country }}" withDistance="true" distance="{{ filters.max_distance|display_some }}" size="small"></search-location>
      {% else -%}
        <search-location form="{{ form }}" device="{{ device }}" withDistance="true" distance="{{ filters.max_distance|display_some }}" size="small"></search-location>
      {% endif -%}
    </div>
    {# End location -#}
  </div>

  {# Open source section -#}
  <div class="pt-4 md:pt-6 mt-2 px-6 border-t border-stone-100">
    {% call filters_title(text = "Open source") -%}
  </div>

  <div class="p-6 pb-4 md:pb-6 pt-3 flex flex-col space-y-5">
    {# Foundation -#}
    <div>
      {% call filters_subtitle(text = "Projects you'd like to work on") -%}

      <div class="text-xs/6 text-stone-500/75">
        Any project from the <span class="inline-block lg:hidden xl:inline-block">following</span> foundation
      </div>

      <div class="mt-2.5">
        {%- let selected_foundation = filters.foundation|display_some -%}
        <select id="{{ device }}-foundation"
                form="{{ form }}"
                data-trigger-form="true"
                name="foundation"
                class="select-primary py-0.5 text-[0.775rem]/6 text-stone-700">
          {% call macros::select_option(value = "", label = "Any foundation", selected = selected_foundation) -%}
          {% for foundation in filters_options.foundations -%}
            {% call macros::select_option(value = &foundation.name, label = foundation.name|upper, selected = selected_foundation) -%}
          {% endfor -%}
        </select>
        <script type="module">
          const foundationSelect = document.getElementById("{{ device }}-foundation");
          foundationSelect.addEventListener("change", (event) => {
            if (event.target.value !== "") {
              // Clean search projects input field
              const searchProjects = document.getElementsByTagName("search-projects");
              for (let i = 0; i < searchProjects.length; i++) {
                searchProjects[i].cleanSelected();
              }
            }
          });
        </script>
      </div>
    </div>
    {# End foundation -#}

    {# Projects -#}
    <div>
      <div class="text-xs/6 text-stone-500/75 -mt-2 mb-2">or select specific projects</div>
      <search-projects foundations="{{ filters_options.foundations|json }}" viewType="rows" form="{{ device }}-jobs-form" {%- if let Some(filters_projects) = filters.projects %}selected="{{ filters_projects|json }}"{%- endif -%}></search-projects>
    </div>
    {# End projects -#}

    {# Open source -#}
    <div>
      {% call filters_subtitle(text = "Time working on open source") -%}
      <div class="mt-1">
        <input-range form="{{ form }}" name="open_source" value="{{ filters.open_source|display_some_or(0) }}" step="5" type="type-3">
      </input-range>
    </div>
  </div>
  {# End open source -#}

  {# Upstream commitment -#}
  <div>
    {% call filters_subtitle(text = "Time working on upstream projects") -%}
    <div class="mt-1">
      <input-range form="{{ form }}" name="upstream_commitment" value="{{ filters.upstream_commitment|display_some_or(0) }}" step="5" type="type-2">
    </div>
  </div>
  {# End upstream commitment -#}
</div>
{# End open source section -#}

{# Compensation section -#}
<div class="pt-4 md:pt-6 px-6 border-t border-stone-100">
  {% call filters_title(text = "Compensation") -%}
</div>

<div class="p-6 pb-4 md:pb-6 pt-3 flex flex-col space-y-5">
  {# Salary -#}
  <div>
    {% call filters_subtitle(text = "Minimum salary (USD / year)") -%}
    <div class="mt-1">
      <input-range form="{{ form }}" name="salary_min" value="{{ filters.salary_min|display_some_or(0) }}" max="250000" step="5000" unit="K" prefix="$" legendsNumber="6">
    </div>
  </div>
  {# End salary -#}

  {# Benefits -#}
  <div>
    {% call filters_subtitle(text = "Benefits") -%}
    <searchable-filter name="benefits" viewType="rows" form="{{ device }}-jobs-form" {%- if let Some(filters_benefits) = filters.benefits %}selected="{{ filters_benefits|json }}"{%- endif -%}></searchable-filter>
  </div>
  {# End benefits -#}
</div>

{# Embed button -#}
<div class="pt-4 md:pt-6 px-6 md:mb-1 border-t border-stone-100 flex justify-center">
  <button class="btn-primary-outline btn-mini"
          data-embed="true"
          data-device="{{ device }}">Get embed code</button>
</div>
{# End embed button -#}
{# End compensation section -#}
{% endmacro filters -%}
{# End filters -#}

{# Filters title -#}
{% macro filters_title(text) -%}
  <div class="text-xs/6 text-primary-500 uppercase font-semibold">{{ text }}</div>
{% endmacro filters_title -%}
{# End filters title -#}

{# Filters subtitle -#}
{% macro filters_subtitle(text) -%}
  <div class="font-semibold leading-4 md:leading-8 text-[0.775rem] text-stone-700">{{ text }}</div>
{% endmacro filters_subtitle -%}
{# End filters subtitle -#}

{# Current page -#}
{% macro current_page(total, items_number, offset_value) -%}
  {%- if let Some(offset) = offset_value -%}
    {{ offset + 1 }} - {{ items_number + offset }}
  {%- else -%}
    1 - {{ items_number }}
  {%- endif -%}
  {{ "" }} of {{ total }} results
{%- endmacro current_page -%}
{# End current page -#}

{# Checkbox -#}
{% macro checkbox(form, name, value, label, icon, active_filters, required = false, device = "") -%}
  <div class="group">
    <input id="{%- if !device.is_empty() -%}{{ device }}-{%- endif -%}{{ name }}-{{ value }}"
           form="{{ form }}"
           type="checkbox"
           name="{{ name }}"
           value="{{ value }}"
           data-trigger-form="true"
           class="hidden peer"
           {%- if let Some(active_filters) = active_filters -%} {%- if active_filters.contains(value) -%}checked{%- endif -%} {%- endif %}
           {% if required %}required{% endif %}>
    <label for="{%- if !device.is_empty() -%}{{ device }}-{%- endif -%}{{ name }}-{{ value }}"
           class="inline-flex items-center justify-center w-full px-2 py-1 space-x-2 bg-white border border-stone-200 text-stone-700 rounded-md cursor-pointer select-none peer-checked:border-primary-500 peer-checked:text-primary-500 hover:bg-stone-50">
      <div class="svg-icon size-3 icon-{{ icon }} bg-stone-500 cursor-pointer group-has-[input:checked]:bg-primary-500">
      </div>
      <div class="text-[0.775rem] text-center text-nowrap relative">{{ label }}</div>
    </label>
  </div>
{% endmacro checkbox -%}
{# End checkbox -#}
