{% import "macros.html" as macros %}
{% import "misc/preview_modal.html" as preview %}

{% call macros::form_title(title = "Applications") %}

<div class="my-10">
  <div class="relative w-1/2">
    {# Jobs button to open dropdown #}
    <button id="jobs-btn"
            class="select select-primary flex items-center"
            {% if filters_options.jobs.is_empty() -%}
            disabled
            {%- endif -%}>
      {# Icon #}
      <div class="flex items-baseline relative">
        {% if let Some(selected_job) = self.selected_job() %}
          {{ selected_job.title }} <span class="text-xs text-stone-500 ms-2">
          {% if let Some(city) = selected_job.city %}
            ({{ city }}
            {%- if let Some (country) = selected_job.country -%}, {{ country }}{%- endif -%}
              )
            {% endif %}
          </span>
        {% else %}
          All jobs
        {% endif %}
      </div>
    </button>
    {# End jobs button to open dropdown #}

    {# Dropdown jobs #}
    <div id="dropdown-jobs"
         class="hidden absolute top-10 start-0 w-full z-10 bg-white rounded-lg shadow-sm border border-stone-200">
      <ul class="max-h-48 overflow-y-auto text-stone-700">
        <li>
          <button hx-get="/dashboard/employer/applications/list"
                  hx-trigger="click"
                  hx-include="[name=limit]"
                  hx-target="#dashboard-content"
                  class="w-full flex items-center px-4 py-2 text-sm/6 hover:bg-stone-100 disabled:bg-stone-100"
                  {% if filters.job_id.is_none() %}disabled{% endif %}>All jobs</button>
        </li>
        {% for job in filters_options.jobs %}
          <li>
            <button hx-get="/dashboard/employer/applications/list?job_id={{ job.job_id }}"
                    hx-trigger="click"
                    hx-include="[name=limit]"
                    hx-target="#dashboard-content"
                    class="w-full flex items-center px-4 py-2 text-sm/6 hover:bg-stone-100 disabled:bg-stone-100"
                    {% if let Some(job_id) = filters.job_id -%}
                    {%- if job_id == &job.job_id -%}
                    disabled
                    {%- endif -%}
                    {%- endif -%}>
              <div class="flex items-baseline relative">
                {{ job.title }} <span class="text-xs text-stone-500 ms-2">
                {% if let Some(city) = job.city %}
                  ({{ city }}
                  {%- if let Some (country) = job.country -%}, {{ country }}{%- endif -%}
                    )
                  {% endif %}
                </span>
              </div>
            </button>
          </li>
        {% endfor %}
      </ul>
      <input type="hidden" name="limit" value="25">
    </div>
    {# End dropdown jobs #}
  </div>
</div>

{# Applicants Table -#}
<div class="relative overflow-visible">
  <table class="table-fixed w-full text-sm text-left rtl:text-right text-stone-500">
    <thead class="text-xs text-stone-700 uppercase bg-stone-100 border-b border-stone-200">
      <tr>
        <th scope="col" class="px-3 xl:px-5 py-3">Applicant</th>
        <th scope="col" class="px-3 xl:px-5 py-3">Position</th>
        <th scope="col" class="px-3 xl:px-5 py-3 w-32">Applied</th>
      </tr>
    </thead>
    <tbody id="applications-list">
      {% if filters_options.jobs.is_empty() %}
        <tr class="bg-white border-b border-stone-200">
          <td class="px-8 py-20 text-center" colspan="3">
            <div class="text-2xl mb-10">It looks like you have not posted any job yet.</div>
            <p class="text-xl text-stone-700 mb-10">
              Once you do, you will be able to explore the applications received within GitJobs here.
            </p>
            <p class="text-stone-700">
              Please note that applicants for externally tracked job opportunities (e.g. when you use an external apply url in your postings) won't appear here.
            </p>
          </td>
        </tr>
      {% else %}
        {% if applications.is_empty() %}
          <tr class="bg-white border-b border-stone-200">
            {# No applications #}
            <td class="px-8 py-20 text-center" colspan="3">
              <div class="text-2xl mb-10">
                {# TODO - no jobs #}
                {% if filters.job_id.is_none() %}
                  <div>It looks like no one has applied yet to any of the jobs you have posted.</div>
                {% else %}
                  <div>It looks like no one has applied yet to this job.</div>
                {% endif %}
              </div>
              <p class="text-xl text-stone-700 mb-10">Hold on a bit, they will start applying soon :)</p>
              <p class="text-stone-700">
                Please note that applicants for externally tracked job opportunities (e.g. when you use an external apply url in your postings) won't appear here.
              </p>
            </td>
          </tr>
        {% else %}
          {% for application in applications %}
            <tr class="odd:bg-white even:bg-stone-50/50 border-b border-stone-200">
              {# Applicant #}
              <td class="px-3 xl:px-5 py-4 font-medium text-stone-900">
                <button hx-get="/dashboard/employer/applications/profile/{{ application.job_seeker_profile_id }}/preview"
                        hx-target="#preview-content"
                        hx-disabled-elt="this"
                        class="flex items-stretch gap-x-6 preview-button">
                  {# Photo #}
                  <div class="flex justify-center items-center size-8 md:size-10 shrink-0">
                    {% if let Some(photo_id) = application.photo_id %}
                      {% let photo = &self::build_dashboard_image_url(photo_id, "small") %}
                      <img class="size-auto"
                           height="auto"
                           width="auto"
                           src="{{ photo }}"
                           alt="{{ application.name }} photo">
                    {% else %}
                      <div class="rounded-full size-8 md:size-10 bg-stone-100 p-1 flex">
                        <div class="svg-icon size-4 md:size-6 icon-user bg-stone-500 m-auto"></div>
                      </div>
                    {% endif %}
                  </div>
                  {# End photo #}

                  <div class="flex flex-col justify-center items-start">
                    {# Name #}
                    <div class="max-w-full truncate">{{ application.name }}</div>
                    {# End name #}

                    {% if let Some(last_position) = application.last_position %}
                      {# Last position #}
                      <div class="text-xs/4 text-stone-500 max-w-full truncate mt-1">{{ last_position }}</div>
                      {# End last position #}
                    {% endif %}

                  </div>
                </button>
              </td>
              {# End applicant #}

              {# Position #}
              <td class="px-3 xl:px-5 py-4 font-medium text-stone-900">
                <button hx-post="/dashboard/employer/jobs/{{ application.job_id }}/preview"
                        hx-target="#preview-content"
                        hx-disabled-elt="this"
                        class="flex flex-col justify-between items-start h-[32px] md:h-[40px] preview-button">
                  <div class="max-w-full text-black truncate">{{ application.job_title }}</div>
                  <div class="text-xs/4 text-stone-500 max-w-full truncate">
                    {% if let Some(job_location) = application.job_location %}
                      {{ job_location.city }}, {{ job_location.country }}
                    {% else %}
                      -
                    {% endif %}
                  </div>
                </button>
              </td>
              {# End postion #}

              {# Applied date #}
              <td class="hidden lg:table-cell px-3 xl:px-5 py-4 whitespace-nowrap">
                {{ application.applied_at.format(DATE_FORMAT) }}
              </td>
              {# End applied date #}
            </tr>
          {% endfor %}
        {% endif %}
      {% endif %}
    </tbody>
  </table>
</div>
{# End applicants Table #}

{# Pagination -#}
{% if applications.len() > 0 %}{{ navigation_links|safe }}{% endif %}
{# End pagination -#}

{# Preview modal -#}
{% call preview::modal() %}
{# End preview modal -#}

<script type="module">
  import {
    toggleModalVisibility,
    isSuccessfulXHRStatus
  } from '/static/js/common/common.js';

  const jobsBtn = document.getElementById('jobs-btn');
  const dropdownJobs = document.getElementById('dropdown-jobs');
  if (jobsBtn) {
    jobsBtn.addEventListener('click', () => {
      const isOpen = dropdownJobs.classList.contains('hidden');
      dropdownJobs.classList.toggle('hidden');

      // Close dropdown jobs when clicking outside
      if (isOpen) {
        document.addEventListener('click', (event) => {
          if (!dropdownJobs.contains(event.target) && !jobsBtn.contains(event.target)) {
            dropdownJobs.classList.add('hidden');
          }
        });
      } else {
        // Remove event listener when dropdown is closed
        document.removeEventListener('click', () => {});
      }
    });
  }

  // On preview button click, show the preview modal
  const previewButtons = document.querySelectorAll('.preview-button');
  previewButtons.forEach((button) => {
    button.addEventListener('htmx:afterRequest', (e) => {
      if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
        toggleModalVisibility('preview-modal', "open");
      } else {
        // When the preview is not available, show an error message
        showErrorAlert('Something went wrong previewing the data, please try again later.');
      }
    });
  });
</script>
