{% extends "dashboard/dashboard_base.html" %}
{% import "macros.html" as macros %}
{% import "dashboard/macros.html" as dashboard_macros %}

{% block menu %}
  {# Employers #}
  <div class="flex-grow mb-8">
    <div class="flex justify-between items-center">
      {% call dashboard_macros::menu_title(text = "Employer") %}
      <div>
        <button hx-get="/dashboard/employer/employers/add"
                hx-trigger="click"
                hx-target="#dashboard-content"
                class="btn-primary p-1.5">
          <div class="svg-icon size-3 icon-plus"></div>
        </button>
      </div>
    </div>
    <div class="mt-2">
      {% let selected_employer = selected_employer_id|display_some %}
      <select id="employer_select"
              name="employer_select"
              class="select-primary disabled:bg-gray-100 disabled:opacity-75"
              {% if employers.len() == 0 %}disabled{% endif %}>
        {% for employer in employers %}
          {% call macros::select_option(value = employer.employer_id, label = employer.company, selected = selected_employer) %}
        {% endfor %}
      </select>
      <button id="change-selected-employer-button"
              data-url="/dashboard/employer/employers/{:employer_id}/select"
              data-replacement="employer_id"
              hx-put="/dashboard/employer/employers/{:employer_id}/select"
              hx-trigger="click"
              hx-target="#dashboard-content"
              class="hidden">Select</button>
    </div>
  </div>
  {# End employers #}

  {% if !content.is_employer_initial_setup() %}
    <div class="leading-10 pt-6 border-t grid gap-y-0.5">
      {% call dashboard_macros::menu_title(text = "Jobs") %}
      {% call dashboard_macros::menu_item(name = "List", icon = "list", is_active = content.is_jobs(), href = "/dashboard/employer?tab=jobs") %}
      <div class="rounded-md px-3 mb-3 border border-transparent hover:bg-white hover:border-gray-200">
        <button hx-get="/dashboard/employer/jobs/add"
                hx-target="#dashboard-content"
                class="flex items-center w-full">
          <div class="svg-icon size-3 icon-plus bg-primary-600 text-white"></div>
          <div class="text-xs/8 lg:text-sm/8 ms-3">Add job</div>
        </button>
      </div>

      {% call dashboard_macros::menu_title(text = "Employer") %}
      {% call dashboard_macros::menu_item(name = "Profile", icon = "gear", is_active = content.is_settings(), href = "/dashboard/employer?tab=settings") %}
      <div class="rounded-md px-3 mb-3 border border-transparent hover:bg-white hover:border-gray-200">
        <button hx-get="/dashboard/employer/employers/add"
                hx-trigger="click"
                hx-target="#dashboard-content"
                class="flex items-center w-full">
          <div class="svg-icon size-3 icon-plus bg-primary-600 text-white"></div>
          <div class="text-xs/8 lg:text-sm/8 ms-3">Add employer</div>
        </button>
      </div>
    </div>
  {% endif %}
{% endblock menu %}

{% block dashboard_main %}
  <div id="dashboard-content" class="p-4 sm:p-6 lg:p-8">
    {# Content -#}
    {{ content|safe }}
    {# End Content #}
  </div>

  {# Refresh table button #}
  <button id="refresh-table"
          hx-get="/dashboard/employer/jobs/list"
          hx-target="#dashboard-content"
          class="hidden">Refresh table</button>
  {# End refresh table button #}

  <script type="module">
    import {
      processNewHtmxUrl
    } from '/static/js/common/common.js';
    import {
      updateJobsList
    } from '/static/js/dashboard/employer/jobs.js';

    const employerSelect = document.getElementById('employer_select');
    const changeSelectedEmployerButton = document.getElementById('change-selected-employer-button');

    if (employerSelect) {
      employerSelect.addEventListener('change', (e) => {
        // Update the hx-put attribute with the selected employer
        processNewHtmxUrl('change-selected-employer-button', 'put', e.target.value);

        // Click the button to update the employer
        changeSelectedEmployerButton.click();
      });
    }

    changeSelectedEmployerButton.addEventListener('htmx:afterRequest', (event) => {
      updateJobsList();
      // Update the hx-put attribute to the original value
      changeSelectedEmployerButton.setAttribute('hx-put', changeSelectedEmployerButton.dataset.url);
    });
  </script>
{% endblock dashboard_main %}
