apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.resourceNamePrefix" . }}server-config
type: Opaque
stringData:
  server.yml: |-
    db:
      host: {{ default (printf "%s-postgresql.%s" .Release.Name .Release.Namespace) .Values.db.host }}
      port: {{ .Values.db.port }}
      dbname: {{ .Values.db.dbname }}
      user: {{ .Values.db.user }}
      password: {{ .Values.db.password }}
    email:
      from_address: {{ .Values.email.fromAddress }}
      from_name: {{ .Values.email.fromName }}
      smtp:
        host: {{ .Values.email.smtp.host }}
        port: {{ .Values.email.smtp.port }}
        username: {{ .Values.email.smtp.username }}
        password: {{ .Values.email.smtp.password }}
    log:
      format: {{ .Values.log.format }}
    server:
      addr: {{ .Values.server.addr }}
      base_url: {{ .Values.server.baseUrl }}
      basic_auth:
        enabled: {{ .Values.server.basicAuth.enabled }}
        username: {{ .Values.server.basicAuth.username }}
        password: {{ .Values.server.basicAuth.password }}
      cookie:
        secure: {{ .Values.server.cookie.secure }}
      login:
        email: {{ .Values.server.login.email }}
        github: {{ .Values.server.login.github }}
        linuxfoundation: {{ .Values.server.login.linuxfoundation }}
      oauth2:
        github:
          auth_url: {{ .Values.server.oauth2.github.authUrl }}
          client_id: {{ .Values.server.oauth2.github.clientId | quote }}
          client_secret: {{ .Values.server.oauth2.github.clientSecret | quote }}
          redirect_uri: {{ .Values.server.oauth2.github.redirectUri }}
          scopes: {{ .Values.server.oauth2.github.scopes }}
          token_url: {{ .Values.server.oauth2.github.tokenUrl }}
      oidc:
        linuxfoundation:
          client_id: {{ .Values.server.oidc.linuxfoundation.clientId | quote }}
          client_secret: {{ .Values.server.oidc.linuxfoundation.clientSecret | quote }}
          issuer_url: {{ .Values.server.oidc.linuxfoundation.issuerUrl }}
          redirect_uri: {{ .Values.server.oidc.linuxfoundation.redirectUri }}
          scopes: {{ .Values.server.oidc.linuxfoundation.scopes }}
