<!DOCTYPE html>
<html lang="en"
      class="h-full min-h-dvh has-[div[role='dialog'][data-open='true']]:overflow-hidden">
  <head>
    <title>GitJobs</title>
    <meta name="description"
          content="GitJobs is an open source job board focused on open source job opportunities.">
    <meta name="keywords" content="community, organization, jobs, job">
    <meta property="og:type" content="website">
    <meta property="og:title" content="GitJobs">
    <meta property="og:description"
          content="GitJobs is an open source job board focused on open source job opportunities.">
    <meta property="og:image"
          content="https://gitjobs.dev/static/images/index/gitjobs.png">
    <link rel="icon"
          href="https://gitjobs.dev/static/images/index/favicon.ico"
          sizes="any">
    <link rel="icon"
          href="https://gitjobs.dev/static/images/index/favicon.svg"
          sizes="any"
          type="image/svg+xml">
    <link rel="apple-touch-icon"
          href="https://gitjobs.dev/static/images/index/apple-touch-icon.png">
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale = 1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#f9fafb" />
    <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>

    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/vendor/css/easymde.v2.20.0.min.css" />

    <script type="text/javascript" src="/static/vendor/js/htmx.v2.0.4.min.js"></script>
    <script src="/static/vendor/js/easymde.v2.20.0.min.js"></script>
    <script src="/static/vendor/js/sweetalert2.v11.17.2.min.js"></script>

    <script type="text/javascript">
      // htmx extension to remove empty values from the parameters
      htmx.defineExtension("no-empty-vals", {
        encodeParameters: (xhr, parameters, elt) => {
          const currentParameters = new URLSearchParams(parameters);

          for (const key of [...currentParameters.keys()]) {
            const value = currentParameters.get(key).trim();
            // Remove empty values or "0"
            if (value === "" || value === "0") {
              parameters.delete(key);
            }
          }

          // Let HTMX encode the parameters
          return null;
        }
      });
    </script>
    <script type="module">
      import {
        getParamFromQueryString,
        shouldDisplayJobModal,
        toggleModalVisibility
      } from '/static/js/common/common.js';

      window.addEventListener("popstate", (event) => {
        const job_id_param = getParamFromQueryString('job_id');
        const modal_preview = document.getElementById('preview-modal');
        if (event.state && event.state.modal_preview !== undefined) {
          if (event.state.modal_preview && modal_preview !== null) {
            const job_id = getParamFromQueryString('job_id');
            if (modal_preview !== null) {
              if (job_id !== modal_preview.dataset.jobId) {
                shouldDisplayJobModal();
              } else {
                toggleModalVisibility('preview-modal', "open");
              }
            }
          } else {
            toggleModalVisibility('preview-modal', "close");
          }
        } else {
          if (modal_preview !== null && modal_preview.dataset.open === "true") {
            toggleModalVisibility('preview-modal', "close");
          }
        }
        const embedCode = document.getElementById('embed-code-modal');
        if (embedCode !== null && embedCode.dataset.open === "true") {
          toggleModalVisibility('embed-code-modal', "close");
        }
        const dropwodnUser = document.getElementById('dropdown-user');
        if (dropwodnUser !== null && !dropwodnUser.classList.contains('hidden')) {
          document.getElementById('dropdown-user').classList.add('hidden');
        }
      });
    </script>

    {# Analytics -#}
    {%- if let Some(analytics) = cfg.analytics -%}
      {# Osano -#}
      {%- if let Some(osano_script_url) = analytics.osano_script_url -%}
        <script src="{{ osano_script_url }}"></script>
      {% endif -%}
      {# End Osano -#}

      {# Google tag (gtag.js) -#}
      {%- if let Some(google_tag_id) = analytics.google_tag_id -%}
        <script src="https://www.googletagmanager.com/gtag/js?id={{ google_tag_id }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];

          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', '{{ google_tag_id }}');
        </script>
      {% endif -%}
      {# End Google tag -#}
    {% endif -%}
    {# End Analytics -#}
  </head>
  <body class="flex flex-col min-h-dvh font-inter bg-stone-100 relative"
        hx-get
        hx-trigger="refresh-body">
    {% block content -%}
    {% endblock content -%}

    {% if page_id == PageId::JobBoard || page_id == PageId::About -%}
      {# Footer -#}
      {% include "footer.html" -%}
      {# End Footer -#}
    {% endif -%}
  </body>
</html>
