{% extends "base.html" -%}

{% block content -%}
  {# Lit components -#}
  <script type="module" src="/static/js/common/search-location.js"></script>
  <script type="module" src="/static/js/common/search-projects.js"></script>
  <script type="module" src="/static/js/common/searchable-filter.js"></script>
  <script type="module" src="/static/js/common/input-range.js"></script>
  {# End lit components -#}

  {# Header -#}
  <nav class="flex items-center justify-between border-b border-transparent h-20 min-h-20 px-4 lg:px-5">
    {% include "header.html" -%}
  </nav>
  {# End Header -#}

  <div class="flex grow">
    {% block main -%}
    {% endblock main -%}
  </div>
{% endblock content -%}
