{# Footer -#}
<footer class="flex-none bg-stone-950 text-center text-white text-surface/75 mt-auto">
  <div class="p-8 lg:p-16">
    {# Copyright section -#}
    <div class="text-xs text-stone-300">Copyright © 2025 The Linux Foundation®. All rights reserved.</div>

    <div class="text-xs text-stone-300 mt-3">
      The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage"
    target="_blank"
    rel="noopener noreferrer"
    class="font-bold text-white">Trademark Usage page</a>. Linux is a registered trademark of Linus Torvalds. <a href="https://www.linuxfoundation.org/privacy"
    target="_blank"
    rel="noopener noreferrer"
    class="font-bold text-white">Privacy Policy</a> and <a href="https://www.linuxfoundation.org/terms"
    target="_blank"
    rel="noopener noreferrer"
    class="font-bold text-white">Terms of Use</a>.
    </div>
    {# End copyright section -#}

    <div class="text-xs text-stone-300 mt-6">
      Powered by <a href="https://github.com/cncf/gitjobs"
    class="font-bold text-white"
    target="_blank"
    rel="noopener noreferrer">CNCF GitJobs</a>.
    </div>

    {# Analytics -#}
    {%- if let Some(analytics) = cfg.analytics -%}
      {# Osano -#}
      {%- if let Some(osano_script_url) = analytics.osano_script_url -%}
        <button type="button"
                id="cookie-preferences-button"
                class="cursor-pointer absolute size-[30px] bottom-[30px] right-[30px] opacity-[0.9] hover:opacity-100 hover:scale-[1.1] transition-all duration-300 ease-in-out">
          <img src="/static/images/icons/cookie.svg"
               height="30"
               width="30"
               alt="Cookie icon" />
        </button>
        <script type="module">
          const cookieButton = document.getElementById('cookie-preferences-button');
          if (cookieButton) {
            cookieButton.addEventListener('click', () => {
              Osano.cm.showDrawer('osano-cm-dom-info-dialog-open');
            });
          }
        </script>
      {%- endif -%}
      {# End Osano -#}
    {% endif -%}
    {# End analytics -#}
  </div>
</footer>
{# End footer -#}
