{# Spinner -#}
{% macro spinner(size = 4, bg_color = "gray-200", extra_styles = "") %}
  <div role="status" class="{{ extra_styles }}">
    <svg aria-hidden="true"
         class="inline size-{{ size }} text-{{ bg_color }} animate-spin fill-primary-600"
         viewBox="0 0 100 101"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
{% endmacro spinner %}
{# End spinner -#}

{# Location -#}
{% macro location(location_id = "", city = "", state = "", country = "", required = false) %}
  {% let value = &self::build_location(Some(city), Some(state), Some(country))|display_some %}
  <div class="mt-2 relative">
    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
      <div class="svg-icon size-4 icon-search bg-gray-300"></div>
    </div>
    <input id="ts_query"
           name="ts_query"
           hx-get="/locations/search"
           hx-include="#ts_query"
           hx-trigger="searchLocations"
           hx-target="#search-location"
           hx-indicator="#location-spinner"
           type="text"
           value="{{ value }}"
           class="input-primary peer ps-10"
           placeholder="Search location"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           {% if required %}required{% endif %}>
    <input type="hidden"
           name="location_id"
           id="location_id"
           value="{{ location_id }}"
           data-location="{{ value }}"
           {% if required %}required{% endif %}>
    <input type="hidden" name="city" id="city" value="{{ city }}">
    <input type="hidden" name="state" id="state" value="{{ state }}">
    <input type="hidden" name="country" id="country" value="{{ country }}">
    <div id="location-spinner" class="hx-spinner absolute end-10 top-1">{% call spinner(size = 5) %}</div>
    <div class="absolute end-1.5 top-1.5 peer-placeholder-shown:hidden">
      <button id="clean-location" type="button" class="mt-[2px]">
        <div class="svg-icon size-5 bg-gray-400 hover:bg-gray-700 icon-close"></div>
      </button>
    </div>
    <div id="search-location" class="absolute z-10 start-0 end-0"></div>
  </div>
  <script type="module">
    import {
      highlightItem
    } from '/static/js/common/dropdown.js';
    import {
      debounce
    } from '/static/js/common/common.js';

    const tsQueryInput = document.getElementById('ts_query');
    const locationIdInput = document.getElementById('location_id');
    const locationCityInput = document.getElementById('city');
    const locationStateInput = document.getElementById('state');
    const locationCountryInput = document.getElementById('country');
    const cleanLocationButton = document.getElementById('clean-location');
    const contentData = "search-location";

    tsQueryInput.addEventListener('input', debounce(() => {
      if (tsQueryInput.value.length > 2) {
        htmx.trigger('#ts_query', 'searchLocations');
      } else {
        document.getElementById('search-location').innerHTML = "";
      }
    }));

    // Clear search results when focus is lost and clear the input field
    // if the location id is not set
    tsQueryInput.addEventListener('focusout', () => {
      // Delay the execution to allow the user to click on the search results
      setTimeout(() => {
        document.getElementById(contentData).innerHTML = "";

        // If the location id is set, set the ts_query input to the location
        if (locationIdInput.value !== "") {
          tsQueryInput.value = locationIdInput.dataset.location.trim();
        } else {
          tsQueryInput.value = "";
        }
      }, 200);
    });

    // Handle keyboard events
    tsQueryInput.addEventListener('keydown', (e) => {
      switch (e.key) {
        // Highlight the next item in the list
        case 'ArrowDown':
          highlightItem(contentData, 'down');
          break;
          // Highlight the previous item in the list
        case 'ArrowUp':
          highlightItem(contentData, 'up');
          break;
          // Select the highlighted item
        case 'Enter':
          e.preventDefault();
          const activeItem = document.querySelector(`#${contentData} li.active`);
          if (activeItem) {
            activeItem.querySelector('button').click();
          }
          break;
        default:
          break;
      }
    });

    // Clear the location
    cleanLocationButton.addEventListener('click', () => {
      tsQueryInput.value = "";
      locationIdInput.value = "";
      locationIdInput.dataset.location = "";
      locationCityInput.value = "";
      locationStateInput.value = "";
      locationCountryInput.value = "";
      document.getElementById(contentData).innerHTML = "";
    });
  </script>
{% endmacro location %}
{# End location -#}

{# Search member #}
{% macro search_member(member_id = "", member_name = "", member_level = "", member_logo_url = "") %}
  <div class="mt-2 relative">
    <div class="absolute top-2.5 start-0 flex items-center ps-3 pointer-events-none">
      <div class="svg-icon size-4 icon-search bg-gray-300"></div>
    </div>
    <input id="member"
           name="name"
           hx-get="/members/search"
           hx-include="#member"
           hx-trigger="searchMembers"
           hx-target="#search-member"
           hx-indicator="#member-spinner"
           type="text"
           value=""
           class="input-primary peer ps-10"
           placeholder="Search member"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           autocomplete="off">
    <input type="hidden" name="member_id" id="member_id" value="{{ member_id }}">
    <input type="hidden"
           name="member_name"
           id="member_name"
           value="{{ member_name }}">
    <input type="hidden"
           name="member_level"
           id="member_level"
           value="{{ member_level }}">
    <input type="hidden"
           name="member_logo_url"
           id="member_logo_url"
           value="{{ member_logo_url }}">
    <div id="member-spinner" class="hx-spinner absolute end-10 top-1">{% call spinner(size = 5) %}</div>
    <div class="absolute end-1.5 top-1.5 peer-placeholder-shown:hidden">
      <button id="clean-member" type="button" class="mt-[2px]">
        <div class="svg-icon size-5 bg-gray-400 hover:bg-gray-700 icon-close"></div>
      </button>
    </div>
    <div id="search-member" class="absolute z-10 start-0 end-0"></div>
  </div>
  <script type="module">
    import {
      highlightItem
    } from '/static/js/common/dropdown.js';
    import {
      debounce
    } from '/static/js/common/common.js';

    const memberInput = document.getElementById('member');
    const cleanMemberButton = document.getElementById('clean-member');
    const contentData = "search-member";

    memberInput.addEventListener('input', debounce(() => {
      if (memberInput.value.length > 2) {
        htmx.trigger('#member', 'searchMembers');
      } else {
        document.getElementById('search-member').innerHTML = "";
      }
    }));

    // Clear search results when focus is lost and clear the input field
    // if the member id is not set
    memberInput.addEventListener('focusout', () => {
      // Delay the execution to allow the user to click on the search results
      setTimeout(() => {
        document.getElementById('search-member').innerHTML = "";
        memberInput.value = "";
      }, 200);
    });

    // Handle keyboard events
    memberInput.addEventListener('keydown', (e) => {
      switch (e.key) {
        // Highlight the next item in the list
        case 'ArrowDown':
          highlightItem(contentData, 'down');
          break;
          // Highlight the previous item i  n the list
        case 'ArrowUp':
          highlightItem(contentData, 'up');
          break;
          // Select the highlighted item
        case 'Enter':
          e.preventDefault();
          const activeItem = document.querySelector(`#${contentData} li.active`);
          if (activeItem) {
            activeItem.querySelector('button').click();
          }
          break;
        default:
          break;
      }
    });

    // Clear the member
    cleanMemberButton.addEventListener('click', () => {
      memberInput.value = "";
      document.getElementById(contentData).innerHTML = "";
    });
  </script>
{% endmacro search_member %}
{# End search member #}

{# Search project #}
{% macro search_project() %}
  <div class="mt-2 relative">
    <div class="absolute top-2.5 start-0 flex items-center ps-3 pointer-events-none">
      <div class="svg-icon size-4 icon-search bg-gray-300"></div>
    </div>
    <input id="project"
           name="name"
           hx-get="/projects/search"
           hx-include="#project"
           hx-trigger="searchprojects"
           hx-target="#search-project"
           hx-indicator="#project-spinner"
           type="text"
           value=""
           class="input-primary peer ps-10"
           placeholder="Search project"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           autocomplete="off">
    <div id="project-spinner" class="hx-spinner absolute end-10 top-1">{% call spinner(size = 5) %}</div>
    <div class="absolute end-1.5 top-1.5 peer-placeholder-shown:hidden">
      <button id="clean-project" type="button" class="mt-[2px]">
        <div class="svg-icon size-5 bg-gray-400 hover:bg-gray-700 icon-close"></div>
      </button>
    </div>
    <div id="search-project" class="absolute z-10 start-0 end-0"></div>
  </div>
  <script type="module">
    import {
      highlightItem
    } from '/static/js/common/dropdown.js';
    import {
      debounce
    } from '/static/js/common/common.js';

    const projectInput = document.getElementById('project');
    const cleanprojectButton = document.getElementById('clean-project');
    const contentData = "search-project";

    projectInput.addEventListener('input', debounce(() => {
      if (projectInput.value.length > 2) {
        htmx.trigger('#project', 'searchprojects');
      } else {
        document.getElementById('search-project').innerHTML = "";
      }
    }));

    // Clear search results when focus is lost and clear the input field
    // if the project id is not set
    projectInput.addEventListener('focusout', () => {
      // Delay the execution to allow the user to click on the search results
      setTimeout(() => {
        document.getElementById('search-project').innerHTML = "";
        projectInput.value = "";
      }, 200);
    });

    // Handle keyboard events
    projectInput.addEventListener('keydown', (e) => {
      switch (e.key) {
        // Highlight the next item in the list
        case 'ArrowDown':
          highlightItem(contentData, 'down');
          break;
          // Highlight the previous item i  n the list
        case 'ArrowUp':
          highlightItem(contentData, 'up');
          break;
          // Select the highlighted item
        case 'Enter':
          e.preventDefault();
          const activeItem = document.querySelector(`#${contentData} li.active`);
          if (activeItem) {
            activeItem.querySelector('button').click();
          }
          break;
        default:
          break;
      }
    });

    // Clear the project
    cleanprojectButton.addEventListener('click', () => {
      projectInput.value = "";
      document.getElementById(contentData).innerHTML = "";
    });
  </script>
{% endmacro search_project %}
{# End search project #}

{# Job status badge -#}
{% macro job_status_badge(status, size = "xs") %}
  {# djlint:off H008 #}
  {% match status %}
  {% when JobStatus::Archived %}
  <span class='bg-orange-100 text-orange-800 text-{{ size }} {%- if size == "xs" %} px-2.5 py-0.5 {%- else %} px-3 py-1 {%- endif %} rounded-full capitalize tracking-wide'>{{ status }}</span>
  {% when JobStatus::Draft %}
  <span class='bg-blue-100 text-blue-800 text-{{ size }} {%- if size == "xs" %} px-2.5 py-0.5 {%- else %} px-3 py-1 {%- endif %} rounded-full capitalize tracking-wide'>{{ status }}</span>
  {% when JobStatus::Published %}
  <span class='bg-green-100 text-green-800 text-{{ size }} {%- if size == "xs" %} px-2.5 py-0.5 {%- else %} px-3 py-1 {%- endif %} rounded-full capitalize tracking-wide'>{{ status }}</span>
{% endmatch %}
{# djlint:on H008 #}
{% endmacro job_status_badge %}
{# End job status badge -#}

{# Toggle checkbox #}
{% macro toggle_checkbox(id, checked = false) %}
  <input id="toggle_{{ id }}"
         name="toggle_{{ id }}"
         value="{{ id }}"
         type="checkbox"
         class="sr-only peer"
         {% if checked %}checked{% endif %}>
  <input type="hidden" id="{{ id }}" name="{{ id }}" value="{{ checked }}">
  <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-primary-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-600">
  </div>

  <script>
    document.getElementById('toggle_{{ id }}').addEventListener('change', () => {
      document.getElementById('{{ id }}').value = document.getElementById('toggle_{{ id }}').checked;
    });
  </script>
{% endmacro toggle_checkbox %}
{# End toggle checkbox #}

{# Select option #}
{% macro select_option(value, label, selected = "") %}
  <option value="{{ value }}" {% if value == selected|ref %}selected{% endif %}>{{ label }}</option>
{% endmacro select_option %}
{# End select option #}

{# Badge #}
{% macro badge(content, content_styles = "", icon = "") %}
  <div class="inline-flex bg-gray-100 text-gray-800 text-sm/4 font-medium px-2.5 py-1.5 rounded-full border">
    <div class="flex items-center">
      {% if !icon.is_empty() %}
        <div class="me-2">
          <div class="svg-icon size-4 icon-{{ icon }} bg-gray-500"></div>
        </div>
      {% endif %}
      <div class="capitalize {{ content_styles }}">{{ content }}</div>
    </div>
  </div>
{% endmacro badge %}
{# End badge #}

{# Input range #}
{% macro input_range(name, value = "0") %}
  <div class="relative">
    <input id="{{ name }}"
           name="{{ name }}"
           type="range"
           min="0"
           max="100"
           step="5"
           value="{{ value }}"
           class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-primary-900">
    <div id="tooltip-{{ name }}"
         role="tooltip"
         class="duration-100 transition-opacity opacity-0 absolute z-10 inline-block px-2 py-1 text-sm font-medium text-white text-center bg-primary-900 rounded-lg shadow-xs tooltip top-8 start-[8.5px] -ms-6 w-12">
      <span>0</span><small>%</small>
      <div class="h-0 w-0 border-x-[6px] border-x-transparent border-b-[6px] border-b-primary-900 absolute -top-1.5 start-[18px]">
      </div>
    </div>
    <ul class="flex justify-between w-full px-[10px] h-5">
      <li class="flex justify-center relative text-xs text-gray-500">
        <span class="absolute">0</span>
      </li>
      <li class="flex justify-center relative text-xs text-gray-500">
        <span class="absolute">25</span>
      </li>
      <li class="flex justify-center relative text-xs text-gray-500">
        <span class="absolute">50</span>
      </li>
      <li class="flex justify-center relative text-xs text-gray-500">
        <span class="absolute">75</span>
      </li>
      <li class="flex justify-center relative text-xs text-gray-500">
        <span class="absolute">100</span>
      </li>
    </ul>
  </div>
  {# djlint:off #}
  <script type="module">
    import {
      debounce
    } from '/static/js/common/common.js';

    // Update the styles of the tooltip and the input range background
    const refreshStyles = (newValue) => {
      const value = parseInt(newValue, 10);
      const thumbSize = 17;
      const offset = thumbSize * (0.5 - value / 100);
      const tooltip = document.getElementById('tooltip-{{ name }}');
      tooltip.getElementsByTagName('span')[0].textContent = value;
      tooltip.style.left = `calc(${value}% + ${offset}px)`;
      const inputRange = document.getElementById('{{ name }}');
      inputRange.style.backgroundImage = `linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) ${value}%, rgb(229 231 235 / var(--tw-bg-opacity, 1)) ${value}%, rgb(229 231 235 / var(--tw-bg-opacity, 1)) 100%)`;
    };

    const inputRange = document.getElementById('{{ name }}');
    const tooltip = document.getElementById('tooltip-{{ name }}');
    // Send the value to refresh the styles
    inputRange.addEventListener('input', debounce((e) => {
      refreshStyles(e.target.value);
    }, 20));

    inputRange.addEventListener('mousedown', (e) => {
      tooltip.classList.remove('opacity-0');
    });

    inputRange.addEventListener('mouseup', (e) => {
      tooltip.classList.add('opacity-0');
    });

    // Set the initial value
    refreshStyles({{ value }});
</script>
  {# djlint:on #}
{% endmacro input_range %}
{# End input range #}

{# Form title #}
{% macro form_title(title, description = "") %}
  <div class="text-xl lg:text-2xl font-medium text-gray-900">{{ title }}</div>
  {% if !description.is_empty() %}<p class="mt-1 text-sm/6 text-gray-500">{{ description }}</p>{% endif %}
{% endmacro form_title %}
{# End form title #}

{# Radio box #}
{% macro radio_box(name, value, label, icon, checked = "", required = false) %}
  <div class="flex items-center px-3 py-2 border border-gray-200 rounded-md">
    <div class="svg-icon size-4 icon-{{ icon }} bg-gray-600 cursor-pointer"></div>
    <label for="{{ name }}-{{ value }}"
           class="ms-2 text-sm text-gray-900 flex-grow sm:text-sm/6 cursor-pointer">{{ label }}</label>
    <input id="{{ name }}-{{ value }}"
           type="radio"
           value="{{ value }}"
           name="{{ name }}"
           class="radio-primary"
           {% if value == checked %}checked{% endif %}
           {% if required %}required{% endif %}>
  </div>
{% endmacro radio_box %}
{# End radio box #}

{# Form image #}
{% macro images_form(label, name, icon = "company", value = "") %}
  {% let empty_image = value == "" %}

  {# Images form #}
  <form id="images-form"
        hx-post="/images"
        hx-encoding="multipart/form-data"
        hx-trigger="change from:#logo"
        hx-swap="none"
        hx-indicator="#images-spinner">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <div class="mt-3 flex items-stretch gap-x-5">
      <div class="relative flex items-center size-24 min-w-24 bg-gray-200 rounded-xl overflow-hidden">
        <div id="images-spinner" class="hx-spinner absolute z-10 start-5 top-5">
          {% call spinner(size = 14, bg_color = "gray-300") %}
        </div>

        {# Placeholder image #}
        <div id="placeholder-image"
             class="svg-icon size-20 icon-{{ icon }} bg-white m-auto {%- if !empty_image %} hidden {%- endif -%}">
        </div>
        {# End placeholder image #}

        {# Image #}
        <img id="image"
             src="{%- if !empty_image -%}/images/{{ value }}/small{%- endif -%}"
             alt="Image"
             height="auto"
             width="auto"
             class="size-[86px] object-contain rounded-lg m-auto {%- if empty_image %} hidden {%- endif -%}">
        {# End image #}
      </div>

      <div class="flex flex-col justify-between self-stretch">
        <p class="form-legend">
          Images must be at least 400x400, preferably in square format. Formats supported: SVG, PNG, JPEG, GIF, WEBP and TIFF.
        </p>

        <div class="flex items-center gap-x-3">
          {# Input file #}
          <label for="logo"
                 class="btn-primary btn-mini cursor-pointer whitespace-nowrap">
            <input type="file" id="logo" name="logo" class="hidden" />
            {% if empty_image %}
              Upload
            {% else %}
              Edit
            {% endif %}
            image
          </label>
          {# End input file #}

          <button id="clean-image"
                  type="button"
                  class="group btn-primary-outline btn-mini whitespace-nowrap"
                  {% if empty_image -%}
                  disabled
                  {%- endif -%}>Remove image</button>

        </div>
      </div>
    </div>
  </form>
  {# End images form #}

  {# Input hidden #}
  <input id="{{ name }}" type="hidden" name="{{ name }}" value="{{ value }}">
  {# End input hidden #}

  <script type="module">
    // On clean image button click, remove the image and the clear button, and show the placeholder
    const cleanImage = document.getElementById('clean-image');
    const inputHidden = document.getElementById('{{ name }}');
    const placeholderImage = document.getElementById('placeholder-image');
    const image = document.getElementById('image');
    cleanImage.addEventListener('click', () => {
      inputHidden.value = "";
      cleanImage.disabled = true;
      placeholderImage.classList.remove('hidden');
      image.setAttribute('src', '');
      image.classList.add('hidden');
    });

    // On image upload, show the image and the clear button, and hide the placeholder
    const imagesForm = document.getElementById('images-form');
    imagesForm.addEventListener('htmx:afterRequest', (e) => {
      if (e.detail.successful) {
        const imageId = e.detail.xhr.response;
        inputHidden.value = imageId;
        cleanImage.disabled = false;
        placeholderImage.classList.add('hidden');
        image.setAttribute('src', `/images/${imageId}/small`);
        image.classList.remove('hidden');
      } else {
        // TODO: Show an error message
      }
    });
  </script>
{% endmacro images_form %}
{# End form image #}

{# Dropdown card #}
{% macro dropdown_card(name, label, logo_url, line_height = 6) %}
  <div class="flex items-center space-x-3">
    <img class="size-10"
         height="40"
         width="40"
         src="{{ logo_url }}"
         alt="{{ name }} logo">
    <div class="flex flex-col justify-start min-w-0">
      <div class="truncate text-start text-gray-700 font-medium">{{ name }}</div>
      <div class="inline-flex">
        <div class="truncate text-nowrap uppercase max-w-[100%] text-xs/{{ line_height }} font-medium text-gray-400">
          {{ label }}
        </div>
      </div>
    </div>
  </div>
{% endmacro dropdown_card %}
{# End dropdown card #}
