{# Spinner -#}
{% macro spinner(size = 4, spinner_type = "1", extra_styles = "") %}
  <div role="status" class="flex size-{{ size }} {{ extra_styles }}">
    <img src="/static/images/spinner/spinner_{{ spinner_type }}.svg"
         height="auto"
         width="auto"
         alt="Loading spinner"
         class="size-auto animate-spin" />
    <span class="sr-only">Loading...</span>
  </div>
{% endmacro spinner %}
{# End spinner -#}

{# Button spinner #}
{% macro btn_spinner(id, size = 5, spinner_type = "1", htmx = true) %}
  <div id="{{ id }}"
       class="top-0 start-0 bottom-0 end-0 bg-inherit absolute {%- if htmx %} hx-spinner{%- endif -%}">
    <div class="flex items-center justify-center h-full w-full">
      {% call spinner(size = size, spinner_type = spinner_type) %}
    </div>
  </div>

{% endmacro btn_spinner %}
{# End button spinner #}

{# Search member #}
{% macro search_member(member_id = "", member_name = "", member_level = "", member_foundation = "", member_logo_url = "") %}
  <div class="mt-2 relative">
    <div class="absolute top-2.5 start-0 flex items-center ps-3 pointer-events-none">
      <div class="svg-icon size-4 icon-search bg-stone-300"></div>
    </div>
    <input id="member"
           name="name"
           hx-get="/dashboard/members/search"
           hx-include="#member"
           hx-trigger="searchMembers"
           hx-target="#search-member"
           hx-indicator="#member-spinner"
           type="text"
           value=""
           class="input-primary peer ps-10"
           placeholder="Search member"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           autocomplete="off">
    <input type="hidden"
           name="member[member_id]"
           id="member_id"
           value="{{ member_id }}">
    <input type="hidden"
           name="member[name]"
           id="member_name"
           value="{{ member_name }}">
    <input type="hidden"
           name="member[level]"
           id="member_level"
           value="{{ member_level }}">
    <input type="hidden"
           name="member[foundation]"
           id="member_foundation"
           value="{{ member_foundation }}">
    <input type="hidden"
           name="member[logo_url]"
           id="member_logo_url"
           value="{{ member_logo_url }}">
    <div id="member-spinner" class="hx-spinner absolute end-10 top-1">{% call spinner(size = 5) %}</div>
    <div class="absolute end-1.5 top-1.5 peer-placeholder-shown:hidden">
      <button id="clean-member" type="button" class="mt-[2px]">
        <div class="svg-icon size-5 bg-stone-400 hover:bg-stone-700 icon-close"></div>
      </button>
    </div>
    <div id="search-member" class="absolute z-10 start-0 end-0"></div>
  </div>
  <script type="module">
    import {
      highlightItem
    } from '/static/js/common/dropdown.js';
    import {
      debounce
    } from '/static/js/common/common.js';

    const memberInput = document.getElementById('member');
    const cleanMemberButton = document.getElementById('clean-member');
    const contentData = "search-member";

    memberInput.addEventListener('input', debounce(() => {
      if (memberInput.value.length > 2) {
        htmx.trigger('#member', 'searchMembers');
      } else {
        document.getElementById('search-member').innerHTML = "";
      }
    }));

    // Clear search results when focus is lost and clear the input field
    // if the member id is not set
    memberInput.addEventListener('focusout', () => {
      // Delay the execution to allow the user to click on the search results
      setTimeout(() => {
        document.getElementById('search-member').innerHTML = "";
        memberInput.value = "";
      }, 200);
    });

    // Handle keyboard events
    memberInput.addEventListener('keydown', (e) => {
      switch (e.key) {
        // Highlight the next item in the list
        case 'ArrowDown':
          highlightItem(contentData, 'down');
          break;
          // Highlight the previous item i  n the list
        case 'ArrowUp':
          highlightItem(contentData, 'up');
          break;
          // Select the highlighted item
        case 'Enter':
          e.preventDefault();
          const activeItem = document.querySelector(`#${contentData} li.active`);
          if (activeItem) {
            activeItem.querySelector('button').click();
          }
          break;
        default:
          break;
      }
    });

    // Clear the member
    cleanMemberButton.addEventListener('click', () => {
      memberInput.value = "";
      document.getElementById(contentData).innerHTML = "";
    });
  </script>
{% endmacro search_member %}
{# End search member #}

{# Search project #}
{% macro search_project(id = "projects", mini = false) %}
  <div class="mt-2 relative">
    <div class="absolute top-2.5 start-0 flex items-center ps-3 pointer-events-none">
      <div class="svg-icon size-4 icon-search bg-stone-300"></div>
    </div>
    <input id="{{ id }}"
           name="name"
           hx-get="/dashboard/projects/search"
           hx-include="#{{ id }}"
           hx-trigger="searchprojects"
           hx-target="#search-{{ id }}"
           hx-indicator="#{{ id }}-spinner"
           type="text"
           value=""
           class="input-primary peer ps-10"
           placeholder="Search project"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           autocomplete="off">
    <div id="{{ id }}-spinner" class="hx-spinner absolute end-10 top-1">{% call spinner(size = 5) %}</div>
    <div class="absolute end-1.5 top-1.5 peer-placeholder-shown:hidden">
      <button id="clean-{{ id }}" type="button" class="mt-[2px]">
        <div class="svg-icon size-5 bg-stone-400 hover:bg-stone-700 icon-close"></div>
      </button>
    </div>
    <div id="search-{{ id }}"
         data-projects-list="true"
         {% if mini -%}data-mini-size="true"{%- endif %}
         data-name="{{ id }}"
         class="absolute z-10 start-0 end-0"></div>
  </div>
  <script type="module">
    import {
      highlightItem
    } from '/static/js/common/dropdown.js';
    import {
      debounce
    } from '/static/js/common/common.js';

    const projectInput = document.getElementById('{{ id }}');
    const cleanprojectButton = document.getElementById('clean-{{ id }}');
    const contentData = "search-{{ id }}";

    projectInput.addEventListener('input', debounce(() => {
      if (projectInput.value.length > 2) {
        htmx.trigger('#{{ id }}', 'searchprojects');
      } else {
        document.getElementById('search-{{ id }}').innerHTML = "";
      }
    }));

    // Clear search results when focus is lost and clear the input field
    // if the project id is not set
    projectInput.addEventListener('focusout', () => {
      // Delay the execution to allow the user to click on the search results
      setTimeout(() => {
        document.getElementById(contentData).innerHTML = "";
        projectInput.value = "";
      }, 200);
    });

    // Handle keyboard events
    projectInput.addEventListener('keydown', (e) => {
      switch (e.key) {
        // Highlight the next item in the list
        case 'ArrowDown':
          highlightItem(contentData, 'down');
          break;
          // Highlight the previous item i  n the list
        case 'ArrowUp':
          highlightItem(contentData, 'up');
          break;
          // Select the highlighted item
        case 'Enter':
          e.preventDefault();
          const activeItem = document.querySelector(`#${contentData} li.active`);
          if (activeItem) {
            activeItem.querySelector('button').click();
          }
          break;
        default:
          break;
      }
    });

    // Clear the project
    cleanprojectButton.addEventListener('click', () => {
      projectInput.value = "";
      document.getElementById(contentData).innerHTML = "";
    });
  </script>
{% endmacro search_project %}
{# End search project #}

{# Job status badge -#}
{% macro job_status_badge(status, size = "xs") %}
  {# djlint:off H008 #}
  {% match status %}
  {% when JobStatus::Archived %}
  <span class='bg-orange-100 text-orange-800 text-{{ size }} {%- if size == "xs" %} px-2.5 py-0.5 {%- else %} px-3 py-1 {%- endif %} rounded-full capitalize tracking-wide'>{{ status }}</span>
  {% when JobStatus::Draft %}
  <span class='bg-blue-100 text-blue-800 text-{{ size }} {%- if size == "xs" %} px-2.5 py-0.5 {%- else %} px-3 py-1 {%- endif %} rounded-full capitalize tracking-wide'>{{ status }}</span>
  {% when JobStatus::Published %}
  <span class='bg-green-100 text-green-800 text-{{ size }} {%- if size == "xs" %} px-2.5 py-0.5 {%- else %} px-3 py-1 {%- endif %} rounded-full capitalize tracking-wide'>{{ status }}</span>
{% endmatch %}
{# djlint:on H008 #}
{% endmacro job_status_badge %}
{# End job status badge -#}

{# Toggle checkbox #}
{% macro toggle_checkbox(id, checked = false) %}
  <input id="toggle_{{ id }}"
         name="toggle_{{ id }}"
         value="{{ id }}"
         type="checkbox"
         class="sr-only peer"
         {% if checked %}checked{% endif %}>
  <input type="hidden" id="{{ id }}" name="{{ id }}" value="{{ checked }}">
  <div class="relative w-11 h-6 bg-stone-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-primary-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-stone-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-600">
  </div>

  <script>
    document.getElementById('toggle_{{ id }}').addEventListener('change', () => {
      document.getElementById('{{ id }}').value = document.getElementById('toggle_{{ id }}').checked;
    });
  </script>
{% endmacro toggle_checkbox %}
{# End toggle checkbox #}

{# Select option #}
{% macro select_option(value, label, selected = "", disabled = false) %}
  <option value="{{ value }}"
          {% if value == selected|ref %}selected{% endif %}
          {% if disabled %}disabled{% endif %}>{{ label }}</option>
{% endmacro select_option %}
{# End select option #}

{# Badge #}
{% macro badge(content, content_styles = "", icon = "") %}
  <div class="inline-flex bg-stone-100 text-stone-800 text-xs/4 md:text-sm/4 font-medium px-2.5 py-1.5 rounded-full border">
    <div class="flex items-center">
      {% if !icon.is_empty() %}
        <div class="me-2">
          <div class="svg-icon size-4 icon-{{ icon }} bg-stone-500"></div>
        </div>
      {% endif %}
      <div class="capitalize text-nowrap {{ content_styles }}">{{ content }}</div>
    </div>
  </div>
{% endmacro badge %}
{# End badge #}

{# Form title #}
{% macro form_title(title, description = "") %}
  <div class="text-xl lg:text-2xl font-medium text-stone-900">{{ title }}</div>
  {% if !description.is_empty() %}<p class="mt-1 text-sm/6 text-stone-500">{{ description }}</p>{% endif %}
{% endmacro form_title %}
{# End form title #}

{# Radio box #}
{% macro radio_box(name, value, label, icon, checked = "", required = false) %}
  <div class="flex items-center px-3 py-2 border border-stone-200 rounded-md">
    <div class="hidden lg:block svg-icon size-4 icon-{{ icon }} bg-stone-600 cursor-pointer"></div>
    <label for="{{ name }}-{{ value }}"
           class="ms-2 text-xs lg:text-sm text-stone-900 flex-grow cursor-pointer">{{ label }}</label>
    <input id="{{ name }}-{{ value }}"
           type="radio"
           value="{{ value }}"
           name="{{ name }}"
           class="radio-primary"
           {% if value == checked %}checked{% endif %}
           {% if required %}required{% endif %}>
  </div>
{% endmacro radio_box %}
{# End radio box #}

{# Form image #}
{% macro images_form(label, name, icon = "company", value = "", url_image = "") %}
  {% let empty_image = value.is_empty() %}

  {# Images form #}
  <form id="images-form"
        hx-post="/dashboard/images"
        hx-encoding="multipart/form-data"
        hx-trigger="change from:#logo"
        hx-swap="none"
        hx-indicator="#images-spinner"
        hx-disabled-elt="#clean-image, input[type=file]">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <div class="mt-3 flex items-stretch gap-x-5">
      <div class="relative flex items-center size-24 min-w-24 bg-stone-200 rounded-xl overflow-hidden">
        <div id="images-spinner" class="hx-spinner absolute z-10 start-5 top-5">
          {% call spinner(size = 14, spinner_type = "4") %}
        </div>
        <div id="image-container" class="relative w-100 h-100 flex mx-auto">
          {# Image #}
          <img id="image"
               src="{{ url_image }}"
               alt="Image"
               height="auto"
               width="auto"
               class="size-[86px] object-contain rounded-lg m-auto {%- if empty_image %} hidden{%- endif -%}">
          {# End image #}
          {# Placeholder image #}
          <div id="placeholder-image"
               class="svg-icon size-20 icon-{{ icon }} bg-white m-auto {%- if !empty_image %} hidden{%- endif -%}">
          </div>
          {# End placeholder image #}
        </div>
      </div>

      <div class="flex flex-col justify-between self-stretch">
        <p class="form-legend">
          Images must be at least 400x400, preferably in square format. Formats supported: SVG, PNG, JPEG, GIF, WEBP and TIFF.
        </p>

        <div class="flex items-center gap-x-3">
          {# Input file #}
          <label for="logo"
                 class="btn-primary btn-mini cursor-pointer whitespace-nowrap">
            <input type="file" id="logo" name="logo" class="hidden" />
            Upload image
          </label>
          {# End input file #}

          <button id="clean-image"
                  type="button"
                  class="group btn-primary-outline btn-mini whitespace-nowrap"
                  {% if empty_image -%}
                  disabled
                  {%- endif -%}>Remove image</button>
        </div>
      </div>
    </div>
  </form>
  {# End images form #}

  {# Input hidden #}
  <input id="{{ name }}" type="hidden" name="{{ name }}" value="{{ value }}">
  {# End input hidden #}

  <script type="module">
    import {
      isSuccessfulXHRStatus
    } from '/static/js/common/common.js';
    import {
      showErrorAlert,
      showSuccessAlert
    } from '/static/js/common/alerts.js';

    const cleanImage = document.getElementById('clean-image');
    const imagesForm = document.getElementById('images-form');
    const image = document.getElementById('image');
    const inputHidden = document.getElementById('{{ name }}');
    const placeholderImage = document.getElementById('placeholder-image');

    // On image upload, show the image and enable clear button, and hide the placeholder
    imagesForm.addEventListener('htmx:afterRequest', (e) => {
      if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
        showSuccessAlert('Image added successfully.');
        const imageId = e.detail.xhr.response;
        inputHidden.value = imageId;
        image.setAttribute('src', `/dashboard/images/${imageId}/small`);
        image.classList.remove('hidden');
        placeholderImage.classList.add('hidden');
        cleanImage.removeAttribute('disabled');
      } else {
        showErrorAlert('Something went wrong adding the image, please try again later.');
      }
    });

    // On clean image button click, remove the image and the clear button, and show the placeholder
    cleanImage.addEventListener('click', () => {
      inputHidden.value = "";
      cleanImage.disabled = true;
      placeholderImage.classList.remove('hidden');
      image.setAttribute('src', '');
      image.classList.add('hidden');
    });
  </script>
{% endmacro images_form %}
{# End form image #}

{# Dropdown card #}
{% macro dropdown_card(name, label, logo_url, line_height = 6) %}
  <div class="flex items-center space-x-3">
    <div class="flex justify-center items-center shrink-0 size-10">
      <img loading="lazy"
           class="size-auto"
           height="auto"
           width="auto"
           src="{{ logo_url }}"
           alt="{{ name }} logo">
    </div>
    <div class="flex flex-col justify-start min-w-0">
      <div class="truncate text-start text-stone-700 font-medium">{{ name }}</div>
      <div class="inline-flex">
        <div class="truncate text-nowrap uppercase max-w-[100%] text-xs/{{ line_height }} font-medium text-stone-500/75">
          {{ label }}
        </div>
      </div>
    </div>
  </div>
{% endmacro dropdown_card %}
{# End dropdown card #}

{# Alert box #}
{% macro alert_box(content, title = "") %}
  <div class="p-10 md:p-14">
    <div class="border border-primary-300 p-10 text-sm text-stone-800 rounded-lg bg-primary-50/20 text-center"
         role="alert">
      <div class="text-xl mb-6">{{ title }}</div>
      {{ content }}
    </div>
  </div>
{% endmacro alert_box %}
{# End alert box #}

{# Alerts #}
{# djlint:off #}
{% macro alerts(messages) %}
  <script type="module">
    import { showErrorAlert, showSuccessAlert } from '/static/js/common/alerts.js';

    {% for message in messages %}
      {% match message.level %}
        {% when Level::Success %}
          showSuccessAlert('{{ message }}');
        {% when Level::Error %}
          showErrorAlert('{{ message }}');
        {% when _ %}
          {# Do nothing #}
      {% endmatch %}
    {% endfor %}
</script>
{% endmacro alerts %}
{# djlint:on #}
{# End alerts #}
