{# Pagination -#}
<div id="pagination" class="flex items-end justify-center pt-12 pb-8">
  <div hx-boost="true" class="inline-flex" role="group">
    {# First button -#}
    {% if let Some(first) = first %}
      <a href="{{ first.url }}"
         hx-get="{{ first.hx_url }}"
         hx-target="#items-list"
         hx-swap="innerHTML show:body:top"
         class="group cursor-pointer inline-flex items-center pr-4 pl-3 py-2 text-sm text-primary-500 bg-transparent border border-primary-500 rounded-s-full hover:bg-primary-500 hover:text-white focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
        <div class="svg-icon me-2 size-5 bg-primary-500 group-hover:bg-white icon-arrow_left_double"></div>
        First
      </a>
    {% else %}
      <button type="button"
              disabled
              class="inline-flex items-center pr-4 pl-3 py-2 text-sm text-gray-300 bg-gray-50 border border-gray-300 rounded-s-full">
        <div class="svg-icon me-2 size-5 bg-gray-300 icon-arrow_left_double"></div>
        First
      </button>
    {% endif %}
    {# End first button -#}

    {# Prev button -#}
    {% if let Some(prev) = prev %}
      <a href="{{ prev.url }}"
         hx-get="{{ prev.hx_url }}"
         hx-target="#items-list"
         hx-swap="innerHTML show:body:top"
         class="group cursor-pointer inline-flex items-center pr-4 pl-[0.6rem] py-2 text-sm text-primary-500 bg-transparent border-t border-b border-e border-primary-500 hover:bg-primary-500 hover:text-white focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
        <div class="svg-icon me-2 size-5 bg-primary-500 group-hover:bg-white icon-arrow_left"></div>
        Prev
      </a>
    {% else %}
      <button type="button"
              disabled
              class="inline-flex items-center pr-4 pl-[0.6rem] py-2 text-sm text-gray-300 bg-gray-50 border-t border-b border-e border-gray-300">
        <div class="svg-icon me-2 size-5 bg-gray-300 icon-arrow_left"></div>
        Prev
      </button>
    {% endif %}
    {# End prev button -#}

    {# Next button -#}
    {% if let Some(next) = next %}
      <a href="{{ next.url }}"
         hx-get="{{ next.hx_url }}"
         hx-target="#items-list"
         hx-swap="innerHTML show:body:top"
         class="group cursor-pointer inline-flex items-center pl-4 pr-[0.6rem] py-2 text-sm text-primary-500 bg-transparent border-t border-b border-s -ml-[1px] border-primary-500 hover:bg-primary-500 hover:text-white focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
        Next
        <div class="svg-icon ms-2 size-5 bg-primary-500 group-hover:bg-white icon-arrow_right"></div>
      </a>
    {% else %}
      <button type="button"
              disabled
              class="inline-flex items-center pl-4 pr-[0.6rem] py-2 text-sm text-gray-300 bg-gray-50 border-t border-b border-gray-300">
        Next
        <div class="svg-icon ms-2 size-5 bg-gray-300 icon-arrow_right"></div>
      </button>
    {% endif %}
    {# End next button -#}

    {# Last button -#}
    {% if let Some(last) = last %}
      <a href="{{ last.url }}"
         hx-get="{{ last.hx_url }}"
         hx-target="#items-list"
         hx-swap="innerHTML show:body:top"
         class="group cursor-pointer inline-flex items-center pl-4 pr-3 py-2 text-sm text-primary-500 bg-transparent border border-primary-500 rounded-e-full hover:bg-primary-500 hover:text-white focus:z-10 focus:ring-2 focus:ring-primary-300 focus:bg-primary-500 focus:text-white">
        Last
        <div class="svg-icon ms-2 size-5 bg-primary-500 group-hover:bg-white icon-arrow_right_double"></div>
      </a>
    {% else %}
      <button type="button"
              disabled
              class="inline-flex items-center pl-4 pr-3 py-2 text-sm text-gray-300 bg-gray-50 border border-gray-300 rounded-e-full">
        Last
        <div class="svg-icon ms-2 size-5 bg-gray-300 icon-arrow_right_double"></div>
      </button>
    {% endif %}
    {# End last button -#}
  </div>
</div>
{# End pagination -#}
