{% extends "base.html" %}

{% block main %}
  <div class="container max-w-6xl px-2 py-[200px] text-center mx-auto">
    <div class="text-5xl font-semibold mb-10 text-gray-900">Welcome to the Cloud Native Job Board</div>
    <p class="text-3xl text-gray-700">It's free to all and CNCF members get featured listings!</p>

    <div class="bg-base border border-4 border-primary-600 border-dashed rounded-3xl p-20 mt-32">
      <p class="mb-2 text-xl leading-[2] text-gray-600">
        We'll be launching this new version of the job board very soon 🚀
      </p>
      <p class="mb-16 text-xl leading-[2] text-gray-900">
        Registration for employers and job seekers is already <span class="font-semibold">open</span>, so you can get started <span class="italic font-semibold">right away</span>!
      </p>
      <div class="flex items-center justify-center space-x-10">
        <a hx-boost="true" href="/dashboard/employer" class="btn-primary w-64">Post a job</a>
        <a hx-boost="true" href="/dashboard/job-seeker" class="btn-primary w-64">Create profile</a>
      </div>
    </div>
  </div>
{% endblock main %}
