{% import "macros.html" as macros %}

{# Jobs form #}
<form id="jobs-form"
      hx-post="/dashboard/employer/jobs/add"
      hx-ext="no-empty-vals"
      hx-trigger="submit">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      {% call macros::form_title(title = "Job details", description = "Please add as many details about this job as possible. You can save it as a draft and come back later to finish it.") %}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
        {# Job title #}
        <div class="col-span-3">
          <label for="title" class="form-label">
            Title <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <input type="text" name="title" id="title" class="input-primary" required>
          </div>
          <p class="form-legend">Job position (e.g. Backend engineer).</p>
        </div>
        {# End Job title #}

        {# Job status #}
        <input type="hidden" name="status" value="draft">
        {# End job status #}

        {# Job location #}
        <div class="col-span-full lg:col-span-3">
          <label for="ts_query" class="form-label">Location</label>
          {% call macros::location() %}
          <p class="form-legend">Location of the job.</p>
        </div>

        {# End Job location #}

        {# Job type #}
        <div class="col-span-full">
          <label for="type" class="form-label">
            Job type <span class="asterisk">*</span>
          </label>
          <div class="mt-2 grid grid-cols-4 gap-x-6">
            {# Full time #}
            {% call macros::radio_box(name = "type", value = JobType::FullTime, label = "Full Time", icon = "signature", checked = JobType::FullTime, required = true) %}
            {# End Full time #}

            {# Part time #}
            {% call macros::radio_box(name = "type", value = JobType::PartTime, label = "Part Time", icon = "hour_glass", checked = JobType::FullTime, required = true) %}
            {# End Part time #}

            {# Contractor #}
            {% call macros::radio_box(name = "type", value = JobType::Contractor, label = "Contractor", icon = "clipboard", checked = JobType::FullTime, required = true) %}
            {# End Contractor #}

            {# Internship #}
            {% call macros::radio_box(name = "type", value = JobType::Internship, label = "Internship", icon = "graduation_cap", checked = JobType::FullTime, required = true) %}
            {# End Internship #}
          </div>
        </div>
        {# End Job type #}

        {# Workplace #}
        <div class="col-span-full">
          <label for="workplace" class="form-label">
            Workplace <span class="asterisk">*</span>
          </label>
          <div class="mt-2 grid grid-cols-4 gap-x-6">
            {# On site #}
            {% call macros::radio_box(name = "workplace", value = Workplace::OnSite, label = "On Site", icon = "office_chair", checked = Workplace::OnSite, required = true) %}
            {# End On site #}

            {# Remote #}
            {% call macros::radio_box(name = "workplace", value = Workplace::Remote, label = "Remote", icon = "remote", checked = Workplace::OnSite, required = true) %}
            {# End Remote #}

            {# Hybrid #}
            {% call macros::radio_box(name = "workplace", value = Workplace::Hybrid, label = "Hybrid", icon = "buildings", checked = Workplace::OnSite, required = true) %}
            {# End Hybrid #}
          </div>
        </div>
        {# End Workplace #}

        {# Job Description #}
        <div class="col-span-full">
          <label for="description" class="form-label">
            Description <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <markdown-editor id="description" required></markdown-editor>
          </div>
          <p class="form-legend">Description of the job. You can use markdown to format the text.</p>
        </div>
        {# End Job Description #}

        {# Job responsibilities #}
        <div class="col-span-full">
          <label for="responsibilities" class="form-label">Responsibilities</label>
          <div class="mt-2">
            <markdown-editor id="responsibilities"></markdown-editor>
          </div>
          <p class="form-legend">
            Explain potential candidates what will they do at this job and what their responsibilities will be.
          </p>
        </div>
        {# End Job responsibilities #}

        {# Job qualifications #}
        <div class="col-span-full">
          <label for="qualifications" class="form-label">Qualifications</label>
          <div class="mt-2">
            <markdown-editor id="qualifications"></markdown-editor>
          </div>
          <p class="form-legend">Education, experience and skills required for the job.</p>
        </div>
        {# End Job qualifications #}

        {# Job skills #}
        <div class="col-span-full">
          <multi-select id="skills" name="Skills" options="{{ skills|json }}" legend="Relevant skills for this job position."></multi-select>
        </div>
        {# End job skills #}

        {# Projects #}
        <div class="col-span-full lg:col-span-3">
          <label for="project" class="form-label">Projects</label>
          {% call macros::search_project() %}
          <p class="form-legend">Lorem ipsum.</p>
          <div id="selected-projects" class="flex space-x-5"></div>
        </div>
        {# End projects #}

        {# Apply instructions #}
        <div class="col-span-full">
          <label for="apply_instructions" class="form-label">Apply instructions</label>
          <div class="mt-2">
            <markdown-editor id="apply_instructions"></markdown-editor>
          </div>
          <p class="form-legend">Additional instructions on how to apply to the job position.</p>
        </div>
        {# End apply instructions #}

        {# Apply url #}
        <div class="col-span-full">
          <label for="apply_url" class="form-label">Apply url</label>
          <div class="mt-2">
            <input id="apply_url" name="apply_url" type="url" class="input-primary">
          </div>
          <p class="form-legend">
            URL of your apply page (optional). Use it only if you'd like people to use your own system to track applicants.
          </p>
        </div>
        {# End Apply url #}
      </div>
    </div>

    {# Salary section #}
    <div class="border-b border-gray-900/10 pb-12">
      {% call macros::form_title(title = "Compensation", description = "This section includes the salary details and benefits.") %}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
        {# Salary kind #}
        <div class="col-span-full">
          <label for="salary" class="form-label">Salary</label>
          <div class="mt-4 flex space-x-8">
            <div class="flex items-center gap-x-3">
              <input id="fixed"
                     name="salary_kind"
                     type="radio"
                     checked
                     class="radio-primary">
              <label for="fixed" class="form-label">Fixed</label>
            </div>
            <div class="flex items-center gap-x-3">
              <input id="range" name="salary_kind" type="radio" class="radio-primary">
              <label for="range" class="form-label">Range</label>
            </div>
          </div>
        </div>
        <script type="module">
          const salaryOptions = document.querySelectorAll('input[name="salary_kind"]');
          const salaryOptionFixed = document.getElementById('salary_kind_fixed');
          const salaryOptionRange = document.getElementById('salary_kind_range');
          salaryOptions.forEach((option) => {
            option.addEventListener('change', () => {
              if (option.id === 'fixed') {
                salaryOptionFixed.classList.remove('hidden');
                salaryOptionRange.classList.add('hidden');
              } else {
                salaryOptionFixed.classList.add('hidden');
                salaryOptionRange.classList.remove('hidden');
              }
            });
          });
        </script>
        {# End salary kind #}

        {# Salary #}
        <div id="salary_kind_fixed" class="col-span-full md:col-span-2">
          <label for="salary" class="form-label">Amount</label>
          <div class="mt-2">
            <input id="salary" name="salary" type="number" min="0" class="input-primary">
          </div>
        </div>
        <div id="salary_kind_range"
             class="hidden grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 col-span-full md:col-span-2">
          <div class="col-span-3">
            <label for="salary_min" class="form-label">Minimum</label>
            <div class="mt-2">
              <input id="salary_min"
                     name="salary_min"
                     type="number"
                     min="0"
                     class="input-primary">
            </div>
          </div>
          <div class="col-span-3">
            <label for="salary_max" class="form-label">Maximum</label>
            <div class="mt-2">
              <input id="salary_max"
                     name="salary_max"
                     type="number"
                     min="0"
                     class="input-primary">
            </div>
          </div>
        </div>
        {# End Salary #}

        {# Salary currency #}
        <div class="col-span-3 md:col-span-2 lg:col-span-1">
          <label for="salary_currency" class="form-label">Currency</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="salary_currency" name="salary_currency" class="select-primary">
              {% call macros::select_option(value = "", label = "") %}
              {% call macros::select_option(value = "USD", label = "USD - United States Dollar") %}
              {% call macros::select_option(value = "EUR", label = "EUR - Euro") %}
              {% call macros::select_option(value = "GBP", label = "GBP - British Pound Sterling") %}
              {% call macros::select_option(value = "CAD", label = "CAD - Canadian Dollar") %}
              {% call macros::select_option(value = "JPY", label = "JPY - Japanese Yen") %}
            </select>
          </div>
        </div>
        {# End Salary currency #}

        {# Salary period #}
        <div class="col-span-3 md:col-span-2 lg:col-span-1">
          <label for="salary_period" class="form-label">Timeframe</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="salary_period" name="salary_period" class="select-primary">
              {% call macros::select_option(value = "", label = "") %}
              {% call macros::select_option(value = "daily", label = "Daily") %}
              {% call macros::select_option(value = "weekly", label = "Weekly") %}
              {% call macros::select_option(value = "fortnightly", label = "Fortnightly") %}
              {% call macros::select_option(value = "monthly", label = "Monthly") %}
              {% call macros::select_option(value = "quarterly", label = "Quarterly") %}
              {% call macros::select_option(value = "yearly", label = "Yearly") %}
            </select>
          </div>
        </div>
        {# End Salary period #}

        {# Job benefits #}
        <div class="col-span-full">
          <multi-select id="benefits" name="Benefits" options="{{ benefits|json }}" legend="Benefits and perks for employees."></multi-select>
        </div>
        {# End job benefits #}
      </div>
    </div>
    {# End salary section #}

    {# Open Source #}
    <div class="border-b border-gray-900/10 pb-12">
      {% call macros::form_title(title = "Open Source", description = "Does this job involve working on open source projects? Does it offer time to contribute to upstream projects?") %}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-6xl">
        {# Open source #}
        <div class="col-span-full lg:col-span-3">
          <label for="open_source" class="form-label">Open source</label>
          <div class="mt-2 me-8">{% call macros::input_range(name = "open_source") %}</div>
          <p class="form-legend">Percentage of time working on open source projects.</p>
        </div>
        {# End Open source #}

        {# Upstream commitment #}
        <div class="col-span-full lg:col-span-3">
          <label for="upstream_commitment" class="form-label">Upstream commitment</label>
          <div class="mt-2 me-8">{% call macros::input_range(name = "upstream_commitment") %}</div>
          <p class="form-legend">
            Percentage of time working on upstream open source projects the company depends on.
          </p>
        </div>
        {# End Upstream commitment #}
      </div>
    </div>
    {# End Open Source #}

    <div class="mt-6 flex justify-between items-center">
      {# Preview #}
      <div class="flex items-center gap-x-6">
        {# Preview button #}
        <button id="preview-button"
                type="button"
                hx-post="/dashboard/employer/jobs/preview"
                hx-include="#jobs-form input, #jobs-form radio, #jobs-form select, #jobs-form textarea"
                hx-ext="no-empty-vals"
                hx-target="#preview-content"
                hx-indicator="#preview-spinner"
                type="button"
                class="group btn-primary-outline">
          <span class="hidden md:block">Preview</span>
          <span class="block md:hidden">
            <div class="svg-icon size-3 icon-eye group-hover:bg-white"></div>
          </span>
        </button>
        {# End preview button #}

        <div id="preview-spinner" class="hx-indicator">{% call macros::spinner(size = 5) %}</div>

        {# Error preview #}
        <div id="preview-error"
             class="hidden fixed top-5 end-5 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 z-30"
             role="alert">
          <span class="font-medium">Not available preview!</span> Please fill in the required fields.
        </div>
        {# End error preview #}
      </div>
      {# End preview #}

      <div class="flex items-center justify-end gap-x-6">
        {# Cancel button #}
        <a href="/dashboard/employer?tab=jobs" class="btn-primary-outline">Cancel</a>
        {# End cancel button #}

        {# Save draft button #}
        <button type="submit" class="btn-secondary">Save draft</button>
        {# End save draft button #}

        {# Publish button #}
        <button id="publish-job" type="button" class="btn-primary">Publish</button>
        {# End publish button #}
      </div>
    </div>
  </div>
</form>

{# Preview modal -#}
{% include "dashboard/employer/jobs/preview_modal.html" %}
{# End preview modal -#}

<script type="module">
  import {
    triggerActionOnForm,
    updateJobsList
  } from '/static/js/dashboard/employer/jobs.js';
  import {
    toggleModalVisibility
  } from '/static/js/common/common.js';

  const jobsForm = document.getElementById('jobs-form');

  // Before the form is submitted, check the salary option selected
  jobsForm.addEventListener('htmx:beforeRequest', (e) => {
    const selectedSalaryOption = document.querySelector('input[name="salary_kind"]:checked');
    // If the salary option is range, remove the salary value
    if (selectedSalaryOption.id === 'range') {
      document.querySelector('input[name="salary"]').value = '';
      // If the salary option is exact, remove the salary min and max values
    } else {
      document.querySelector('input[name="salary_min"]').value = '';
      document.querySelector('input[name="salary_max"]').value = '';
    }
  });

  // After the form is submitted, update the jobs list
  jobsForm.addEventListener('htmx:afterRequest', (e) => {
    // Check if the form is the jobs form and not the input ts_query requesting locations
    if (e.detail.elt.id === 'jobs-form') {
      updateJobsList();
    }
  });

  // Publish job
  const publishBtn = document.getElementById('publish-job');
  if (publishBtn) {
    publishBtn.addEventListener('click', () => {
      // Update the job status to published
      document.querySelector('#jobs-form input[name="status"]').value = 'published';
      triggerActionOnForm('jobs-form', 'submit');
    });
  }

  // On preview button click, show the preview modal
  const previewButton = document.getElementById('preview-button');
  previewButton.addEventListener('htmx:afterRequest', (e) => {
    if (e.detail.successful) {
      toggleModalVisibility('preview-modal');
    } else {
      // When the preview is not available, show an error message
      const previewError = document.getElementById('preview-error');
      previewError.classList.remove('hidden');
      // Hide the error message after 5 seconds
      setTimeout(() => {
        previewError.classList.add('hidden');
      }, 5000);
    }
  });
</script>
{# End Jobs form #}
