{% import "macros.html" as macros %}

{% call macros::form_title(title = "Jobs") %}

<div class="flex justify-between my-10">
  <div class="flex items-center gap-x-6">
    {# Search jobs input #}
    <div class="relative">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <div class="svg-icon size-4 icon-search bg-gray-300"></div>
      </div>
      <input id="search_jobs"
             name="search_jobs"
             type="text"
             value=""
             class="input-primary peer ps-10 w-96"
             placeholder="Search jobs"
             disabled>
      <div class="absolute end-1.5 top-1.5 peer-placeholder-shown:hidden">
        <button id="clean-search-jobs" type="button" class="mt-[2px]">
          <div class="svg-icon size-5 bg-gray-400 hover:bg-gray-700 icon-close"></div>
        </button>
      </div>
    </div>
  </div>
  {# End search jobs input #}

  {# Add job button #}
  <div>
    <button id="add-job-button"
            hx-get="/dashboard/employer/jobs/add"
            hx-target="#dashboard-content"
            class="btn-primary">Add Job</button>
  </div>
  {# End add job button #}

  <script type="module">
    const addJobButton = document.getElementById('add-job-button');
    addJobButton.addEventListener('htmx:afterRequest', () => {
      history.pushState({}, "Jobs list", '/dashboard/employer?tab=jobs');
    });

    const cleanSearchJobs = document.getElementById('clean-search-jobs');
    cleanSearchJobs.addEventListener('click', () => {
      document.getElementById('search_jobs').value = '';
    });
  </script>
</div>

{# Jobs Table -#}
<div class="relative overflow-visible">
  <table class="table-auto w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 border-b">
      <tr>
        <th scope="col" class="px-3 xl:px-5 py-3">Title</th>
        <th scope="col" class="hidden xl:table-cell px-3 xl:px-5 py-3">Location</th>
        <th scope="col" class="px-3 xl:px-5 py-3">Status</th>
        <th scope="col" class="px-3 xl:px-5 py-3">Created</th>
        <th scope="col" class="px-3 xl:px-5 py-3">Published</th>
        <th scope="col" class="hidden xl:table-cell px-5 py-3">Archived</th>
        <th scope="col" class="p-4"></th>
      </tr>
    </thead>
    <tbody id="jobs-list">
      {% if jobs.len() == 0 %}
        <tr class="bg-white border-b">
          <td class="px-8 py-20 text-center" colspan="7">
            <div class="text-3xl mb-10">It looks like you haven't created any jobs yet.</div>

            <p class="text-md text-gray-700">
              Jobs created by this employer will be listed here. You can create a new job by clicking on the <span class="italic">Add Job</span> button in the top right corner.
            </p>
          </td>
        </tr>
      {% else %}
        {% for job in jobs %}
          {% let location = &self::build_location(job.city.as_deref(), None, job.country.as_deref())|display_some_or("-") %}
          <tr class="odd:bg-white even:bg-gray-50/50 border-b">
            {# Title job #}
            <th scope="row"
                class="px-3 xl:px-5 py-4 font-medium text-gray-900 min-w-[100px] max-w-[200px] xl:max-w-auto">
              <div class="max-w-full truncate">{{ job.title }}</div>
              <div class="block xl:hidden text-xs text-gray-500 max-w-full truncate">{{ location }}</div>
            </th>
            {# End title job #}

            {# Location #}
            <td class="hidden xl:table-cell px-3 xl:px-5 py-4 whitespace-nowrap min-w-[100px] max-w-[100px] xl:max-w-[200px]">
              <div class="max-w-full truncate">{{ location }}</div>
            </td>
            {# End location #}

            {# Status #}
            <td class="px-3 xl:px-5 py-4 whitespace-nowrap w-32">
              {% call macros::job_status_badge(status = job.status) %}
            </td>
            {# End status #}

            {# Created date #}
            <td class="px-3 xl:px-5 py-4 whitespace-nowrap w-32">{{ job.created_at.format(DATE_FORMAT) }}</td>
            {# End created date #}

            {# Published date #}
            <td class="px-3 xl:px-5 py-4 whitespace-nowrap w-32">
              {{ job.published_at|display_some_datetime_or(DATE_FORMAT, "-") }}
            </td>
            {# End published date #}

            {# Archived date #}
            <td class="hidden xl:table-cell px-3 xl:px-5 py-4 whitespace-nowrap w-32">
              {{ job.archived_at|display_some_datetime_or(DATE_FORMAT, "-") }}
            </td>
            {# End archived date #}

            {# Actions #}
            <td class="px-3 xl:px-5 py-4 w-24">
              <div class="flex items-center gap-x-2 xl:gap-x-3">
                <div>
                  <button hx-get="/dashboard/employer/jobs/{{ job.job_id }}/update"
                          hx-target="#dashboard-content"
                          class="btn-tertiary p-2">
                    <div class="svg-icon size-4 icon-pencil"></div>
                  </button>
                </div>

                <div class="group relative">
                  <button data-job-id="{{ job.job_id }}"
                          class="btn-actions btn-tertiary p-2 group-has-[.dropdown:not(.hidden)]:bg-gray-50">
                    <div class="svg-icon size-4 icon-vertical_dots"></div>
                  </button>

                  {# Dropdown actions #}
                  <div id="dropdown-actions-{{ job.job_id }}"
                       class="dropdown absolute hidden z-10 end-0 top-8 w-[200px] bg-white divide-y divide-gray-100 rounded-lg shadow border">
                    <ul class="py-2 text-sm text-gray-700"
                        aria-labelledby="dropdownDefaultButton">
                      {% if job.status != JobStatus::Published %}
                        <li>
                          <button hx-put="/dashboard/employer/jobs/{{ job.job_id }}/publish"
                                  hx-target="#dashboard-content"
                                  class="w-full text-start px-4 py-2 hover:bg-gray-100">
                            <div class="flex items-center">
                              <div class="svg-icon size-4 icon-send bg-gray-600"></div>
                              <div class="ms-2">Publish</div>
                            </div>
                          </button>
                        </li>
                      {% endif %}
                      <li>
                        <button hx-delete="/dashboard/employer/jobs/{{ job.job_id }}/delete"
                                hx-target="#dashboard-content"
                                hx-confirm="Are you sure you wish to delete this job?"
                                class="w-full text-start px-4 py-2 hover:bg-gray-100">
                          <div class="flex items-center">
                            <div class="svg-icon size-4 icon-trash bg-gray-600"></div>
                            <div class="ms-2">Delete</div>
                          </div>
                        </button>
                      </li>
                      {% if job.status == JobStatus::Published %}
                        <li>
                          <button hx-put="/dashboard/employer/jobs/{{ job.job_id }}/archive"
                                  hx-target="#dashboard-content"
                                  class="w-full text-start px-4 py-2 hover:bg-gray-100">
                            <div class="flex items-center">
                              <div class="svg-icon size-4 icon-archive bg-gray-600"></div>
                              <div class="ms-2">Archive</div>
                            </div>
                          </button>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                  {# End dropdown actions #}
                </div>
              </div>
            </td>
            {# End actions #}
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>

    <script type="module">
      import {
        updateJobsList
      } from '/static/js/dashboard/employer/jobs.js';

      const btnActions = document.querySelectorAll('.btn-actions');
      btnActions.forEach((btnAction) => {
        btnAction.addEventListener('click', () => {
          const jobId = btnAction.dataset.jobId;

          const dropdownActions = document.getElementById(`dropdown-actions-${jobId}`);
          if (dropdownActions) {
            const isOpen = dropdownActions.classList.contains('hidden');
            dropdownActions.classList.toggle('hidden');
            if (isOpen) {
              // Close dropdown actions when clicking outside
              document.addEventListener('click', (event) => {
                if (!dropdownActions.contains(event.target) && !btnAction.contains(event.target)) {
                  dropdownActions.classList.add('hidden');
                }
              });
            } else {
              // Remove event listener when dropdown is closed
              document.removeEventListener('click', () => {});
            }

            const allActions = dropdownActions.querySelectorAll('button');
            allActions.forEach((action) => {
              // Refresh the jobs list after an action is clicked
              action.addEventListener('htmx:afterRequest', () => {
                updateJobsList();
              });
            });
          }
        });
      });
    </script>
  </table>
</div>
{# End Jobs Table #}
