{% import "macros.html" as macros %}

<div class="flex items-center border-b pb-10">
  <div class="flex-grow">
    <div class="flex-grow flex items-stretch gap-x-5 min-w-0">
      {# Image #}
      <div class="min-w-[56px]">
        {% if let Some(logo_id) = employer.logo_id %}
          {% let logo = &self::build_image_url(logo_id, "small") %}
          <img class="size-14 rounded-lg"
               height="56"
               width="56"
               src="{{ logo }}"
               alt="{{ employer.company }} logo">
        {% else %}
          <div class="rounded-full size-14 bg-gray-200 p-1 flex">
            <div class="svg-icon size-8 icon-company bg-gray-600 m-auto"></div>
          </div>
        {% endif %}
      </div>
      {# End image #}

      <div class="flex flex-col justify-center min-w-0">
        {# Title #}
        <div class="text-xl font-stretch-condensed font-medium text-gray-900 truncate">{{ job.title }}</div>
        {# End title #}

        {# Company #}
        <div class="text-sm/6 text-gray-500 italic">{{ employer.company }}</div>
        {# End company #}
      </div>
    </div>
  </div>

  {% if let Some(member_level) = employer.member_level %}
    <div class="w-1/4 ps-3">
      <div class="flex gap-x-2 items-center bg-gray-50 border rounded-lg p-2 max-w-full min-w-full">
        <div>
          <img src="/static/images/cncf_icon.svg"
               alt="CNCF icon"
               height="40"
               width="40"
               class="size-10">
        </div>
        <div class="flex flex-col justify-start min-w-0">
          <div class="truncate text-start text-gray-700 font-medium">{{ employer.member_name|display_some }}</div>
          <div class="truncate text-nowrap uppercase max-w-[100%] text-xs/4 font-medium text-gray-400">
            CNCF {{ member_level }} member
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div class="flex items-stretch">
  <div class="w-3/4 border-e me-10 pe-10 pt-10">

    {# Content #}
    <div class="flex flex-col space-y-6">
      {# Job description #}
      <div>
        {% call content_heading(content = "Job description", margin = 0) %}
        <div class="text-sm/6 text-gray-600 markdown">{{ job.description|md_to_html|safe }}</div>
      </div>
      {# End job description #}

      {# Job responsibilities #}
      {% if let Some(responsibilities) = job.responsibilities %}
        <div>
          {% call content_heading(content = "Responsibilities") %}
          <div class="text-sm/6 text-gray-600 markdown">{{ responsibilities|md_to_html|safe }}</div>
        </div>
      {% endif %}
      {# End job responsibilities #}

      {# Job qualifications #}
      {% if let Some(qualifications) = job.qualifications %}
        <div>
          {% call content_heading(content = "Qualifications") %}
          <div class="text-sm/6 text-gray-600 markdown">{{ qualifications|md_to_html|safe }}</div>
        </div>
      {% endif %}
      {# End job qualifications #}

      {# Skills #}
      {% if let Some(skills) = job.skills %}
        <div class="mb-5">
          {% call content_heading(content = "Required skills") %}
          <div class="flex gap-x-5 mt-2">
            {% for skill in skills %}
              {% call macros::badge(content = skill|unnormalize) %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {# End skills #}

      {# Benefits #}
      {% if let Some(benefits) = job.benefits %}
        <div class="mb-5">
          {% call content_heading(content = "Benefits") %}
          <div class="flex gap-x-5 mt-2">
            {% for benefit in benefits %}
              {% call macros::badge(content = benefit|unnormalize) %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {# End benefits #}

      {# Application #}
      {% if let Some(apply_instructions) = job.apply_instructions %}
        <div>
          {% call content_heading(content = "Apply instructions") %}
          <div class="text-sm/6 text-gray-600 markdown">{{ apply_instructions|md_to_html|safe }}</div>
        </div>
      {% endif %}
      {# End application #}

      {# Company information #}
      <div>
        {% call content_heading(content = "About company") %}
        <div class="text-sm/6 text-gray-600 markdown">{{ employer.description|md_to_html|safe }}</div>
      </div>
      {# End company information #}
    </div>
    {# End content #}
  </div>

  {# Right column #}
  <div class="w-1/4 pt-6">
    {# Published date #}
    {% call job_details_subheading(content = "Published") %}
    {% call job_details_content(text = job.published_at|display_some_datetime_or(DATE_FORMAT, "-")) %}
    {# End published date #}

    {# Last update #}
    {% call job_details_subheading(content = "Last updated") %}
    {% call job_details_content(text = job.updated_at|display_some_datetime_or(DATE_FORMAT, "-")) %}
    {# End last update #}

    {# Type #}
    {% call job_details_subheading(content = "Job type") %}
    {% let job_type = job.type_.to_string().as_str()|unnormalize %}

    {% match job.type_ %}
    {% when JobType::FullTime %}
    {% call job_details_content(text = job_type, icon = "signature", extra_styles = "capitalize") %}
    {% when JobType::PartTime %}
    {% call job_details_content(text = job_type, icon = "hour_glass", extra_styles = "capitalize") %}
    {% when JobType::Contractor %}
    {% call job_details_content(text = job_type, icon = "clipboard", extra_styles = "capitalize") %}
    {% when JobType::Internship %}
    {% call job_details_content(text = job_type, icon = "graduation_cap", extra_styles = "capitalize") %}
  {% endmatch %}
  {# End type #}

  {# Salary #}
  {% call job_details_subheading(content = "Salary") %}
  <div class="flex items-baseline text-xs/6">
    {% let salary_kind = job.salary_kind() %}
    {% match salary_kind %}
    {% when SalaryKind::Fixed %}
    {# Fixed salary #}
    <div class="flex items-baseline">
      {% if let Some(salary) = job.salary %}
        <div class="flex items-baseline font-medium text-gray-900 text-sm">
          {% call currency(value = job.salary_currency) %}
          {{ salary }}
        </div>
      {% else %}
        -
      {% endif %}
      {% if let Some(salary_period) = job.salary_period %}
        <div class="text-gray-900 text-xs ms-2">({{ salary_period }})</div>
      {% endif %}
    </div>
    {# End fixed salary #}
    {% when SalaryKind::Range %}
    {# Range salary #}
    <div class="flex items-baseline">
      {% if let Some(salary_min) = job.salary_min %}
        <div class="flex items-baseline font-medium text-gray-900 text-sm">
          {% call currency(value = job.salary_currency) %}
          {{ salary_min }}
        </div>
      {% else %}
        -
      {% endif %}

      {% if let Some(salary_max) = job.salary_max %}
        <div class="flex items-baseline text-gray-900 text-sm">
          <span class="mx-1">-</span>
          {% call currency(value = job.salary_currency) %}
          {{ salary_max }}
        </div>
      {% endif %}

      {% if let Some(salary_period) = job.salary_period %}
        <div class="text-gray-900 text-xs ms-2">({{ salary_period }})</div>
      {% endif %}
    </div>
    {# End range salary #}
  {% endmatch %}
</div>
{# End salary #}

{# Location #}
{% call job_details_subheading(content = "Location") %}
{% let location = &self::build_location(job.city.as_deref(), job.state.as_deref(), job.country.as_deref())|display_some_or("-") %}

{% match job.workplace %}
{% when Workplace::Remote %}
{% call job_details_content(text = "Remote", icon = "location") %}
{% when Workplace::Hybrid %}
{% call job_details_content(text = "{} (hybrid)"|format(location), icon = "location") %}
{% when Workplace::OnSite %}
{% call job_details_content(text = location, icon = "location") %}
{% endmatch %}
{# End location #}

{# Open source #}
{% if let Some(open_source) = job.open_source %}
  {% if open_source + 0 > 0 %}
    {% call job_details_subheading(content = "Time working on open source") %}
    {% call badge_percentage_bar(percentage = open_source) %}
  {% endif %}
{% endif %}
{# End open source #}

{# Upstream commitment #}
{% if let Some(upstream_commitment) = job.upstream_commitment %}
  {% if upstream_commitment + 0 > 0 %}
    {% call job_details_subheading(content = "Time working on upstream projects") %}
    {% call badge_percentage_bar(percentage = upstream_commitment) %}
  {% endif %}
{% endif %}
{# End Upstream commitment #}

{# Projects #}
{% if let Some(projects) = job.projects %}
  {% call job_details_subheading(content = "CNCF projects you'd work on") %}
  <div class="flex flex-col space-y-3">
    {% for p in projects %}
      <div class="border rounded-lg p-2 text-sm/5 bg-white w-full">
        {% let label = &format!("CNCF {}", p.maturity) %}
        {% call macros::dropdown_card(name = p.name, label = label, logo_url = p.logo_url, line_height = 5) %}
      </div>
    {% endfor %}
  </div>
{% endif %}
{# End projects #}

</div>
{# End right column #}
</div>

{# Content heading #}
{% macro content_heading(content, margin = 1) %}
  <div class="text-lg font-semibold text-gray-800 mb-3 mt-{{ margin }}">{{ content }}</div>
{% endmacro content_heading %}
{# End content heading #}

{# Job details subheading #}
{% macro job_details_subheading(content) %}
  <div class="text-xs/6 text-gray-400 mb-1 mt-4">{{ content }}</div>
{% endmacro job_details_subheading %}
{# End job details subheading #}

{# Job details content #}
{% macro job_details_content(text, icon = "", extra_styles = "") %}
  <div class="flex items-center text-xs">
    {% if !icon.is_empty() %}<div class="svg-icon size-3 icon-{{ icon }} bg-gray-500 me-2"></div>{% endif %}
    <div class="truncate {{ extra_styles }}">{{ text }}</div>
  </div>
{% endmacro job_details_content %}
{# End job details content #}

{# Currency #}
{% macro currency(value) %}
  {% if let Some(value) = value %}<div class="text-xs text-gray-500 me-1">{{ value }}</div>{% endif %}
{% endmacro %}
{# End currency #}

{# Badge with percentage bar #}
{% macro badge_percentage_bar(percentage = 0) %}
  <div class="-mt-1 flex space-x-2 items-center w-full">
    <div class="w-full bg-gray-200 rounded-full h-1.5 my-2">
      <div class="bg-primary-600 h-1.5 rounded-full"
           style="width: {{ percentage }}%"></div>
    </div>
    <div class="text-xs font-semibold w-[15%] text-end">
      {{ percentage }}<small class="text-gray-500">%</small>
    </div>
  </div>
{% endmacro %}
{# End badge with percentage bar #}
