{% import "macros.html" as macros %}

<div class="flex flex-col w-full gap-3 md:flex-row md:items-center border-b border-stone-200 pb-5 md:pb-10">
  <div class="flex-grow">
    <div class="flex-grow flex items-stretch gap-x-4 md:gap-x-5 pe-12 md:pe-0 min-w-0">
      {# Image #}
      <div class="flex justify-center items-center size-12 md:size-14 shrink-0">
        {% if let Some(logo_id) = employer.logo_id %}
          {% let logo = &self::build_dashboard_image_url(logo_id, "small") %}
          <img class="size-auto"
               height="auto"
               width="auto"
               src="{{ logo }}"
               alt="{{ employer.company }} logo">
        {% else %}
          <div class="rounded-full size-14 bg-stone-100 p-1 flex">
            <div class="svg-icon size-8 icon-company bg-stone-500 m-auto"></div>
          </div>
        {% endif %}
      </div>
      {# End image #}

      <div class="flex flex-col md:flex-col-reverse justify-center min-w-0">
        {# Company #}
        <div class="text-sm/6 text-stone-500">{{ employer.company }}</div>
        {# End company #}

        {# Title #}
        <div class="text-normal md:text-xl font-stretch-condensed font-medium text-stone-900 truncate">
          {{ job.title }}
        </div>
        {# End title #}
      </div>
    </div>
  </div>

  {% if let Some(member) = employer.member %}
    <div class="hidden md:flex xl:w-1/4">
      <div class="flex gap-x-2 items-center bg-stone-50 border border-stone-200 rounded-lg p-2 max-w-full xl:min-w-full">
        <div class="flex items-center justify-center size-10 shrink-0">
          <img src="/static/images/foundations/{{ member.foundation }}.svg"
               alt="{{ member.foundation }} logo"
               height="auto"
               width="auto"
               class="size-auto">
        </div>
        <div class="flex flex-col justify-start min-w-0">
          <div class="truncate text-start text-stone-700 font-medium">{{ member.name }}</div>
          <div class="truncate text-nowrap uppercase max-w-[100%] text-xs/4 font-medium text-stone-500/75">
            {{ member.foundation }} {{ member.level }} member
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div class="flex flex-col md:flex-row-reverse flex-grow md:items-stretch">
  {# Info #}
  <div class="border-b md:border-0 mb-5 md:mb-0 md:border border-stone-200 md:w-1/4 pt-6">
    {# Apply button #}
    <button class="btn-primary w-full block my-6" disabled>Apply</button>
    {# End apply button #}

    {# Published date #}
    {% call job_details_subheading(content = "Published") %}
    {% call job_details_content(text = job.published_at|display_some_datetime_or(DATE_FORMAT, "-")) %}
    {# End published date #}

    {# Last update #}
    {% if let Some(updated_at) = job.updated_at %}
      {% call job_details_subheading(content = "Last updated") %}
      {% call job_details_content(text = job.updated_at|display_some_datetime(DATE_FORMAT)) %}
    {% endif %}
    {# End last update #}

    {# Type #}
    {% call job_details_subheading(content = "Job type") %}
    {% call job_kind(kind = job.kind) %}
    {# End type #}

    {# Seniority level #}
    {% call job_details_subheading(content = "Seniority level") %}
    {% call job_details_content(text = job.seniority|display_some_or("-"), extra_styles = "capitalize") %}
    {# End seniority level #}

    {# Salary #}
    {% call job_details_subheading(content = "Salary") %}
    <div class="flex items-baseline text-xs/6">
      {% let salary_kind = job.salary_kind() %}
      {% match salary_kind %}
      {% when SalaryKind::Fixed %}
      {# Fixed salary #}
      <div class="flex items-baseline">
        {% if let Some(salary) = job.salary %}
          <div class="flex items-baseline font-medium text-stone-900 text-sm">
            {% call currency(value = job.salary_currency) %}
            {{ salary|humanize_number }}
          </div>
        {% else %}
          -
        {% endif %}
        {%- if let Some(salary_period) = job.salary_period -%}
          <div class="text-stone-900 text-xs ms-1">/ {{ salary_period }}</div>
        {%- endif -%}
      </div>
      {# End fixed salary #}
      {% when SalaryKind::Range %}
      {# Range salary #}
      <div class="flex items-baseline">
        {% if let Some(salary_min) = job.salary_min %}
          <div class="flex items-baseline font-medium text-stone-900 text-sm">
            {% call currency(value = job.salary_currency) %}
            {{ salary_min|humanize_number }}
          </div>
        {% else %}
          -
        {% endif %}

        {% if let Some(salary_max) = job.salary_max %}
          <div class="flex items-baseline font-medium text-stone-900 text-sm">
            <span class="mx-1">-</span>
            {{ salary_max|humanize_number }}
          </div>
        {% endif %}

        {%- if let Some(salary_period) = job.salary_period -%}
          <div class="text-stone-900 text-xs ms-1">/ {{ salary_period }}</div>
        {%- endif -%}
      </div>
      {# End range salary #}
    {% endmatch %}
  </div>
  {# End salary #}

  {# Location #}
  {% call job_details_subheading(content = "Location") %}
  {% call job_workplace(workplace = job.workplace, location = job.location|display_some_or("-")) %}
  {# End location #}

  {# Timezone #}
  {% if let Some(tz_start) = job.tz_start %}
    {% call job_details_subheading(content = "Timezone") %}
    {% if let Some(tz_end) = job.tz_end %}
      {% let timezone = format!("{} - {}", tz_start, tz_end) %}
      {% call job_details_content(text = timezone) %}
    {% else %}
      {% call job_details_content(text = tz_start) %}
    {% endif %}
  {% endif %}
  {# End timezone #}

  {# Open source #}
  {% call job_details_subheading(content = "Time working on open source") %}
  {% call badge_percentage_bar(percentage = job.open_source|display_some_or("0")) %}
  {# End open source #}

  {# Upstream commitment #}
  {% call job_details_subheading(content = "Time working on upstream projects") %}
  {% call badge_percentage_bar(percentage = job.upstream_commitment|display_some_or("0"), type = "upstream_commitment") %}
  {# End Upstream commitment #}

  {# Projects #}
  {% if let Some(projects) = job.projects %}
    {% call job_details_subheading(content = "Projects you'd work on") %}
    <div class="flex flex-col space-y-3 mt-2">
      {% for p in projects %}
        <div class="border border-stone-200 rounded-lg p-2 text-sm/5 bg-white w-full">
          {% let label = &format!("{} {}", p.foundation, p.maturity) %}
          {% call macros::dropdown_card(name = p.name, label = label, logo_url = p.logo_url, line_height = 5) %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {# End projects #}

</div>
{# End info #}

<div class="md:w-3/4 md:border-e border-stone-200 md:me-10 md:pe-10 pt-5 md:pt-10">
  {# Content #}
  <div class="flex flex-col space-y-6">
    {# Job description #}
    <div>
      {% call content_heading(content = "Job description", margin = "mt-0") %}
      <div class="text-sm/6 text-stone-600 markdown">{{ job.description|md_to_html|safe }}</div>
    </div>
    {# End job description #}

    {# Job responsibilities #}
    {% if let Some(responsibilities) = job.responsibilities %}
      <div>
        {% call content_heading(content = "Responsibilities") %}
        <div class="text-sm/6 text-stone-600 markdown">{{ responsibilities|md_to_html|safe }}</div>
      </div>
    {% endif %}
    {# End job responsibilities #}

    {# Job qualifications #}
    {% if let Some(qualifications) = job.qualifications %}
      <div>
        {% call content_heading(content = "Qualifications") %}
        <div class="text-sm/6 text-stone-600 markdown">{{ qualifications|md_to_html|safe }}</div>
      </div>
    {% endif %}
    {# End job qualifications #}

    {# Skills #}
    {% if let Some(skills) = job.skills %}
      <div class="mb-5">
        {% call content_heading(content = "Required skills") %}
        <div class="flex flex-wrap gap-3 md:gap-5 mt-2">
          {% for skill in skills %}
            {% call macros::badge(content = skill|unnormalize) %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {# End skills #}

    {# Benefits #}
    {% if let Some(benefits) = job.benefits %}
      <div class="mb-5">
        {% call content_heading(content = "Benefits") %}
        <div class="flex flex-wrap gap-3 md:gap-5 mt-2">
          {% for benefit in benefits %}
            {% call macros::badge(content = benefit|unnormalize) %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {# End benefits #}

    {# Application #}
    {% if let Some(apply_instructions) = job.apply_instructions %}
      <div>
        {% call content_heading(content = "Apply instructions") %}
        <div class="text-sm/6 text-stone-600 markdown">{{ apply_instructions|md_to_html|safe }}</div>
      </div>
    {% endif %}
    {# End application #}

    {# Company information #}
    <div>
      {% call content_heading(content = "About company") %}
      <div class="text-sm/6 text-stone-600 markdown">{{ employer.description|md_to_html|safe }}</div>
    </div>
    {# End company information #}
  </div>
  {# End content #}
</div>
</div>

{% macro job_kind(kind) %}
  {% let job_kind = kind.to_string().as_str()|unnormalize %}

  {% match kind %}
  {% when JobKind::FullTime %}
  {% call job_details_content(text = job_kind, icon = "signature", extra_styles = "capitalize") %}
  {% when JobKind::PartTime %}
  {% call job_details_content(text = job_kind, icon = "hour_glass", extra_styles = "capitalize") %}
  {% when JobKind::Contractor %}
  {% call job_details_content(text = job_kind, icon = "clipboard", extra_styles = "capitalize") %}
  {% when JobKind::Internship %}
  {% call job_details_content(text = job_kind, icon = "graduation_cap", extra_styles = "capitalize") %}
{% endmatch %}
{% endmacro job_kind %}

{% macro job_workplace(workplace, location) %}
  {% match workplace %}
  {% when Workplace::Remote %}
  {% call job_details_content(text = "Remote", icon = "location") %}
  {% when Workplace::Hybrid %}
  {% call job_details_content(text = "{} (hybrid)"|format(location), icon = "location") %}
  {% when Workplace::OnSite %}
  {% call job_details_content(text = location, icon = "location") %}
{% endmatch %}
{% endmacro job_workplace %}

{# Content heading #}
{% macro content_heading(content, margin = "mt-1") %}
  <div class="text-lg font-semibold text-stone-800 mb-3 {{ margin }}">{{ content }}</div>
{% endmacro content_heading %}
{# End content heading #}

{# Job details subheading #}
{% macro job_details_subheading(content, extra_styles = "") %}
  <div class="text-xs/6 text-stone-500/75 my-0 md:mb-1 md:mt-4 {{ extra_styles }}">{{ content }}</div>
{% endmacro job_details_subheading %}
{# End job details subheading #}

{# Job details content #}
{% macro job_details_content(text, icon = "", extra_styles = "") %}
  <div class="flex items-center text-xs">
    {% if !icon.is_empty() %}
      <div class="svg-icon size-3 icon-{{ icon }} bg-stone-500 me-2 shrink-0"></div>
    {% endif %}
    <div class="truncate {{ extra_styles }}">{{ text }}</div>
  </div>
{% endmacro job_details_content %}
{# End job details content #}

{# Currency #}
{% macro currency(value) %}
  {% if let Some(value) = value %}<div class="text-xs text-stone-500 me-1">{{ value }}</div>{% endif %}
{% endmacro %}
{# End currency #}

{# Badge with percentage bar #}
{% macro badge_percentage_bar(percentage = 0, type = &"open_source") %}
  <div class="-mt-1 flex space-x-2 items-center w-full">
    <div class="w-full bg-stone-200 rounded-full h-1.5 my-2">
      {# djlint:off H008 #}
      <div class='{%- if type == &"open_source" -%}bg-lime-300{%- else -%}bg-lime-500{%- endif %} h-1.5 rounded-full'
           style="width: {{ percentage }}%"></div>
      {# djlint:on H008 #}
    </div>
    <div class="text-xs font-semibold w-[15%] text-end">
      {{ percentage }}<small class="text-stone-500">%</small>
    </div>
  </div>
{% endmacro %}
{# End badge with percentage bar #}
