{% import "macros.html" as macros %}

{# Status badge #}
<div class="flex items-center justify-end border-b p-4 py-2 md:p-8 md:py-4">
  <div class="uppercase text-xs text-gray-500 me-3">Status:</div>
  {% call macros::job_status_badge(status = job.status) %}
</div>
{# End status badge #}

<div class="relative overflow-y-auto p-4 md:p-8">
  <div class="flex justify-between">
    <div>
      <div class="text-sm text-gray-500 mb-2">{{ employer.company }}</div>
      <div class="flex items-baseline gap-x-10">
        {# Title #}
        <div class="text-4xl font-stretch-condensed font-medium text-gray-900 text-truncate">{{ job.title }}</div>
        {# End title #}
      </div>
      <div class="mt-3 flex items-center space-x-5">
        {# Location badge #}
        {% let location = &self::build_location(job.city.as_deref(), job.state.as_deref(), job.country.as_deref())|display_some %}

        {% match job.workplace %}
        {% when Workplace::Remote %}
        {% call macros::badge(content = "remote", icon = "location") %}
        {% when Workplace::Hybrid %}
        {% call macros::badge(content = "{} (hybrid)"|format(location), icon = "location") %}
        {% when Workplace::OnSite %}
        {% call macros::badge(content = location, icon = "location") %}
      {% endmatch %}
      {# End location badge #}

      {# Type badge #}
      {% call macros::badge(content = job.type_.to_string().replace("-", " "), icon = "calendar") %}
      {# End workplace type #}
    </div>
  </div>
  {# Logo #}
  {# {% if let Some(logo_url) = employer.logo_url %}
    <div class="ml-5">
      <span class="relative flex size-[110px] shrink-0 overflow-hidden">
        <img class="h-auto max-w-[100%] m-auto" alt="Logo company" height="auto" width="auto" src="{{ logo_url }}" />
      </span>
    </div>
  {% endif %} #}
  {# End logo #}
</div>
{# Content #}
<div class="mt-5">
  {# Company information #}
  {% call content_heading(content = "About company") %}
  <div>{{ employer.description }}</div>
  {# End company information #}

  {# Job description #}
  {% call content_heading(content = "Job description") %}
  <div>{{ job.description }}</div>
  {# End job description #}

  {# Compensantion #}
  {% call content_heading(content = "Compensation") %}
  <div class="flex items-baseline">
    {% let salary_kind = job.salary_kind() %}
    {% match salary_kind %}
    {% when SalaryKind::Fixed %}
    {# Fixed salary #}
    <div class="flex">
      {% if let Some(salary) = job.salary %}
        <div class="flex items-baseline font-medium text-gray-900">
          {% call currency(value = job.salary_currency) %}
          {{ salary }}
        </div>
      {% else %}
        -
      {% endif %}
      {# End fixed salary #}
      {% when SalaryKind::Range %}
      {# Range salary #}
      <div class="flex">
        {% if let Some(salary_min) = job.salary_min %}
          <div class="flex items-baseline font-medium text-gray-900">
            {% call currency(value = job.salary_currency) %}
            {{ salary_min }}
          </div>
        {% else %}
          -
        {% endif %}

        {% if let Some(salary_max) = job.salary_max %}
          <div class="flex items-baseline text-gray-900">
            <span class="mx-2">-</span>
            {% call currency(value = job.salary_currency) %}
            {{ salary_max }}
          </div>
        {% endif %}
      </div>
      {# End range salary #}
    {% endmatch %}

    {% if let Some(salary_period) = job.salary_period %}
      <div class="text-gray-900 text-xs font-semibold uppercase ms-2">{{ salary_period }}</div>
    {% endif %}
  </div>
</div>
{# End compensantion #}

{# Benefits #}
{% if let Some(benefits) = job.benefits %}
  {% call content_heading(content = "Benefits") %}
  <div class="flex gap-x-5">
    {% for benefit in benefits %}
      {% call macros::badge(content = benefit.replace("-", " ")) %}
    {% endfor %}
  </div>
{% endif %}
{# End benefits #}

{# Skills #}
{% if let Some(skills) = job.skills %}
  {% call content_heading(content = "Skills") %}
  <div class="flex gap-x-5">
    {% for skill in skills %}
      {% call macros::badge(content = skill.replace("-", " ")) %}
    {% endfor %}
  </div>
{% endif %}
{# End skills #}

{# Others #}
{% call content_heading(content = "Others") %}
<div class="flex flex-col gap-y-3">
  <div class="font-medium">
    <span class="text-gray-500 text-xs uppercase">Open source:</span> {{ job.open_source|display_some_or("-") }}<small class="ms-0.5">%</small>
  </div>
  <div class="font-medium">
    <span class="text-gray-500 text-xs uppercase">Upstream commitment:</span> {{ job.upstream_commitment|display_some_or("-") }}<small class="ms-0.5">%</small>
  </div>
</div>
{# End others #}
</div>
{# End content #}
</div>

{# Content heading #}
{% macro content_heading(content) %}
  <div class="text-md uppercase font-medium text-gray-500 pb-1 mb-5 mt-10 border-b">{{ content }}</div>
{% endmacro content_heading %}
{# End content heading #}

{# Currency #}
{% macro currency(value) %}
  {% if let Some(value) = value %}<div class="text-xs text-gray-500 me-0.5">{{ value }}</div>{% endif %}
{% endmacro %}
{# End currency #}
