{% import "macros.html" as macros %}
{% import "misc/preview_modal.html" as preview %}

{% let job_id = job.job_id|display_some %}

{# Jobs form #}
<form id="jobs-form"
      hx-put="/dashboard/employer/jobs/{{ job_id }}/update"
      hx-ext="no-empty-vals"
      hx-trigger="submit"
      hx-indicator="#dashboard-spinner, #save-spinner"
      hx-disabled-elt="button[type=submit], #cancel-button, #preview-button">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      {% call macros::form_title(title = "Job details", description = "Please add as many details about this job as possible. You can save it as a draft and come back later to finish it.") %}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
        {# Job title #}
        <div class="col-span-full lg:col-span-3">
          <label for="title" class="form-label">
            Title <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <input type="text"
                   name="title"
                   id="title"
                   value="{{ job.title }}"
                   class="input-primary"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   required>
          </div>
          <p class="form-legend">Job position (e.g. Backend engineer).</p>
        </div>
        {# End Job title #}

        <div class="col-span-3"></div>

        {# Job location #}
        <div class="col-span-full lg:col-span-3">
          <label for="ts_query" class="form-label">Location</label>
          {% if let Some(location) = job.location %}
            <search-location location_id="{{ location.location_id }}" city="{{ location.city }}" state="{{ location.state|display_some }}" country="{{ location.country }}"></search-location>
          {% else %}
            <search-location></search-location>
          {% endif %}
          <p class="form-legend">Location of the job.</p>
        </div>
        {# End Job location #}

        {# Timezone range section #}
        <div class="col-span-full lg:col-span-3">
          <div class="form-label">Timezone</div>
          <div class="grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6">
            {# Timezone start #}
            <div class="col-span-3">
              <div class="mt-2 grid grid-cols-1 relative">
                <div class="absolute top-3 start-3 text-xs text-gray-500">Start</div>
                <select id="tz_start"
                        name="tz_start"
                        class="select-primary ps-10 aligned-right">
                  {% call macros::select_option(value = "", label = "", selected = job.tz_start|display_some) %}
                  {% for i in 0..25 %}
                    {% let timezone = format!("UTC{:+}", (12 - i)) %}
                    {% call macros::select_option(value = &timezone, label = timezone, selected = job.tz_start|display_some) %}
                  {% endfor %}
                </select>
              </div>
            </div>
            {# End Timezone start #}

            {# Timezone end #}
            <div class="col-span-3">
              <div class="mt-2 grid grid-cols-1 relative">
                <div class="absolute top-3 start-3 text-xs text-gray-500">End</div>
                <select id="tz_end" name="tz_end" class="select-primary ps-10 aligned-right">
                  {% call macros::select_option(value = "", label = "", selected = job.tz_end|display_some) %}
                  {% for i in 0..25 %}
                    {% let timezone = format!("UTC{:+}", (12 - i)) %}
                    {% call macros::select_option(value = &timezone, label = timezone, selected = job.tz_end|display_some) %}
                  {% endfor %}
                </select>
              </div>
            </div>
            {# End Timezone end #}
          </div>

          <p class="form-legend">Timezone range where you would like your remote applicants to be located at.</p>
        </div>
        {# End timezone range section #}

        {# Job type #}
        <div class="col-span-full">
          <label for="type" class="form-label">
            Job type <span class="asterisk">*</span>
          </label>
          <div class="mt-2 grid grid-cols-4 gap-x-6">
            {# Full time #}
            {% call macros::radio_box(name = "kind", value = JobKind::FullTime, label = "Full Time", icon = "signature", checked = job.kind, required = true) %}
            {# End Full time #}

            {# Part time #}
            {% call macros::radio_box(name = "kind", value = JobKind::PartTime, label = "Part Time", icon = "hour_glass", checked = job.kind, required = true) %}
            {# End Part time #}

            {# Contractor #}
            {% call macros::radio_box(name = "kind", value = JobKind::Contractor, label = "Contractor", icon = "clipboard", checked = job.kind, required = true) %}
            {# End Contractor #}

            {# Internship #}
            {% call macros::radio_box(name = "kind", value = JobKind::Internship, label = "Internship", icon = "graduation_cap", checked = job.kind, required = true) %}
            {# End Internship #}
          </div>
        </div>
        {# End Job type #}

        {# Workplace #}
        <div class="col-span-full">
          <label for="workplace" class="form-label">
            Workplace <span class="asterisk">*</span>
          </label>
          <div class="mt-2 grid grid-cols-4 gap-x-6">
            {# On site #}
            {% call macros::radio_box(name = "workplace", value = Workplace::OnSite, label = "On Site", icon = "office_chair", checked = job.workplace, required = true) %}
            {# End On site #}

            {# Remote #}
            {% call macros::radio_box(name = "workplace", value = Workplace::Remote, label = "Remote", icon = "remote", checked = job.workplace, required = true) %}
            {# End Remote #}

            {# Hybrid #}
            {% call macros::radio_box(name = "workplace", value = Workplace::Hybrid, label = "Hybrid", icon = "buildings", checked = job.workplace, required = true) %}
            {# End Hybrid #}
          </div>
        </div>
        {# End Workplace #}

        {# Job Description #}
        <div class="col-span-full">
          <label for="description" class="form-label">
            Description <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <markdown-editor id="description" content="{{ job.description }}" required></markdown-editor>
          </div>
          <p class="form-legend">Description of the job. You can use markdown to format the text.</p>
        </div>
        {# End Job Description #}

        {# Seniority #}
        <div class="col-span-full lg:col-span-2">
          <label for="seniority" class="form-label">Seniority level</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="seniority" name="seniority" class="select-primary">
              {% call macros::select_option(value = "", label = "", selected = job.seniority|display_some) %}
              {% call macros::select_option(value = "entry", label = "Entry", selected = job.seniority|display_some) %}
              {% call macros::select_option(value = "junior", label = "Junior", selected = job.seniority|display_some) %}
              {% call macros::select_option(value = "mid", label = "Mid-level", selected = job.seniority|display_some) %}
              {% call macros::select_option(value = "senior", label = "Senior", selected = job.seniority|display_some) %}
              {% call macros::select_option(value = "lead", label = "Lead", selected = job.seniority|display_some) %}
            </select>
          </div>
          <p class="form-legend">Experience level required for the position.</p>
        </div>

        <div class="hidden lg:flex lg:col-span-4"></div>
        {# End Seniority #}

        {# Job responsibilities #}
        <div class="col-span-full">
          <label for="responsibilities" class="form-label">Responsibilities</label>
          <div class="mt-2">
            <markdown-editor id="responsibilities" content="{{ job.responsibilities|display_some }}"></markdown-editor>
          </div>
          <p class="form-legend">
            Explain to potential candidates what they will do at this job and what their responsibilities will be.
          </p>
        </div>
        {# End Job responsibilities #}

        {# Job qualifications #}
        <div class="col-span-full">
          <label for="qualifications" class="form-label">Qualifications</label>
          <div class="mt-2">
            <markdown-editor id="qualifications" content="{{ job.qualifications|display_some }}"></markdown-editor>
          </div>
          <p class="form-legend">Education, experience and skills required for the job.</p>
        </div>
        {# End Job qualifications #}

        {# Job skills #}
        <div class="col-span-full">
          <multi-select name="skills" label="Skills"
          {% if let Some(job_skills) = job.skills %}selected="{{ job_skills|json }}"{% endif %}
          legend="Relevant skills for this job position."></multi-select>
        </div>
        {# End job skills #}

        {# Apply instructions #}
        <div class="col-span-full">
          <label for="apply_instructions" class="form-label">Apply instructions</label>
          <div class="mt-2">
            <markdown-editor id="apply_instructions" content="{{ job.apply_instructions|display_some }}"></markdown-editor>
          </div>
          <p class="form-legend">Additional instructions on how to apply to the job position.</p>
        </div>
        {# End apply instructions #}

        {# Apply url #}
        <div class="col-span-full">
          <label for="apply_url" class="form-label">Apply url</label>
          <div class="mt-2">
            <input id="apply_url"
                   name="apply_url"
                   type="url"
                   value="{%- if let Some(apply_url) = job.apply_url -%} {{ apply_url }} {%- endif -%}"
                   class="input-primary">
          </div>
          <p class="form-legend">
            URL of your apply page (optional). Use it only if you'd like people to use your own system to track applications.
          </p>
        </div>
        {# End Apply url #}
      </div>
    </div>

    {# Salary section #}
    <div class="border-b border-gray-900/10 pb-12">
      {% call macros::form_title(title = "Compensation", description = "This section includes the salary details and benefits.") %}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
        {% let salary_kind = job.salary_kind() %}
        {# Salary kind #}
        <div class="col-span-full">
          <label for="salary" class="form-label">Salary</label>
          <div class="mt-4 flex space-x-8">
            <div class="flex items-center gap-x-3">
              <input id="fixed"
                     name="salary_kind"
                     type="radio"
                     {% if salary_kind == SalaryKind::Fixed %}checked{% endif %}
                     class="radio-primary">
              <label for="fixed" class="form-label">Exact</label>
            </div>
            <div class="flex items-center gap-x-3">
              <input id="range"
                     name="salary_kind"
                     type="radio"
                     {% if salary_kind == SalaryKind::Range %}checked{% endif %}
                     class="radio-primary">
              <label for="range" class="form-label">Range</label>
            </div>
          </div>
        </div>
        <script type="module">
          const salaryOptions = document.querySelectorAll('input[name="salary_kind"]');
          const salaryOptionFixed = document.getElementById('salary_kind_fixed');
          const salaryOptionRange = document.getElementById('salary_kind_range');
          salaryOptions.forEach((option) => {
            option.addEventListener('change', () => {
              if (option.id === 'fixed') {
                salaryOptionFixed.classList.remove('hidden');
                salaryOptionRange.classList.add('hidden');
              } else {
                salaryOptionFixed.classList.add('hidden');
                salaryOptionRange.classList.remove('hidden');
              }
            });
          });
        </script>
        {# End salary kind #}

        {# Salary #}
        <div id="salary_kind_fixed"
             class="col-span-full md:col-span-2
                    {% if salary_kind != SalaryKind::Fixed %}
                      hidden{%- endif -%}">
          <label for="salary" class="form-label">Amount</label>
          <div class="mt-2">
            <input id="salary"
                   name="salary"
                   type="number"
                   value="{{ job.salary|display_some }}"
                   min="0"
                   class="input-primary">
          </div>
        </div>
        <div id="salary_kind_range"
             class="grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 col-span-full md:col-span-2
                    {% if salary_kind != SalaryKind::Range %}
                      hidden {%- endif -%}">
          <div class="col-span-3">
            <label for="salary_min" class="form-label">Minimum</label>
            <div class="mt-2">
              <input id="salary_min"
                     name="salary_min"
                     type="number"
                     value="{{ job.salary_min|display_some }}"
                     min="0"
                     class="input-primary">
            </div>
          </div>
          <div class="col-span-3">
            <label for="salary_max" class="form-label">Maximum</label>
            <div class="mt-2">
              <input id="salary_max"
                     name="salary_max"
                     type="number"
                     value="{{ job.salary_max|display_some }}"
                     min="0"
                     class="input-primary">
            </div>
          </div>
        </div>
        {# End Salary #}

        {# Salary currency #}
        <div class="col-span-3 md:col-span-2 lg:col-span-1">
          <label for="salary_currency" class="form-label">Currency</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="salary_currency" name="salary_currency" class="select-primary">
              {% call macros::select_option(value = "", label = "", selected = job.salary_currency|display_some) %}
              {% call macros::select_option(value = "USD", label = "USD - United States Dollar", selected = job.salary_currency|display_some) %}
            </select>
          </div>
        </div>
        {# End Salary currency #}

        {# Salary period #}
        <div class="col-span-3 md:col-span-2 lg:col-span-1">
          <label for="salary_period" class="form-label">Timeframe</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="salary_period" name="salary_period" class="select-primary">
              {% call macros::select_option(value = "", label = "", selected = job.salary_period|display_some) %}
              {% call macros::select_option(value = "annual", label = "Annual", selected = job.salary_period|display_some) %}
            </select>
          </div>
        </div>
        {# End Salary period #}

        {# Job benefits #}
        <div class="col-span-full">
          <multi-select name="benefits" label="Benefits"
          {% if let Some(job_benefits) = job.benefits %}selected="{{ job_benefits|json }}"{% endif %}
          legend="Benefits and perks for employees."></multi-select>
        </div>
        {# End job benefits #}
      </div>
    </div>
    {# End salary section #}

    {# Open Source #}
    <div class="border-b border-gray-900/10 pb-12">
      {% call macros::form_title(title = "Open Source", description = "Does this job involve working on open source projects? Does it offer time to contribute to upstream projects?") %}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-6xl">
        {# Open source #}
        <div class="col-span-full lg:col-span-3">
          <label for="open_source" class="form-label">Open source</label>
          <div class="mt-2 me-8">
            <input-range name="open_source" value="{{ job.open_source|display_some_or(0) }}">
          </div>
          <p class="form-legend">Percentage of time working on open source projects.</p>
        </div>
        {# End Open source #}

        {# Upstream commitment #}
        <div class="col-span-full lg:col-span-3">
          <label for="upstream_commitment" class="form-label">Upstream commitment</label>
          <div class="mt-2 me-8">
            <input-range name="upstream_commitment" value="{{ job.upstream_commitment|display_some_or(0) }}">
          </div>
          <p class="form-legend">
            Percentage of time working on upstream open source projects the company depends on.
          </p>
        </div>
        {# End Upstream commitment #}

        {# Projects #}
        <div class="col-span-full lg:col-span-3">
          <label for="project" class="form-label">Projects</label>
          {% call macros::search_project() %}
          <p class="form-legend">
            If the job position involves contributing to any of the supported foundations projects, please list them here.
          </p>
        </div>
        <div class="col-span-full -mt-4">
          <div id="selected-projects"
               class="flex flex-wrap gap-5 w-full"
               {% if let Some(projects) = job.projects -%}data-projects="{{ projects|json }}"{%- endif %}></div>
        </div>
        <script type="module">
          import {
            addProjectCard
          } from '/static/js/misc/projects.js';

          const selectedProjects = document.getElementById('selected-projects');
          if (selectedProjects) {
            const projects = selectedProjects.dataset.projects;
            if (projects) {
              const parsedProjects = JSON.parse(projects);
              parsedProjects.forEach((project) => {
                addProjectCard(project.project_id, project.name, project.maturity, project.foundation, project.logo_url, 'selected-projects');
              });
            }
          }
        </script>
        {# End projects #}
      </div>
    </div>
    {# End Open Source #}

    {# Job status #}
    <input type="hidden" name="status" value="{{ job.status }}">
    {# End job status #}

    <div class="mt-6 flex justify-between items-center">
      {# Preview #}
      <div class="flex items-center gap-x-6">
        {# Preview button #}
        <button id="preview-button"
                type="button"
                hx-post="/dashboard/employer/jobs/preview"
                hx-include="#jobs-form"
                hx-ext="no-empty-vals"
                hx-target="#preview-content"
                hx-indicator="#preview-spinner"
                type="button"
                class="group btn-primary-outline">
          <span class="hidden md:block">Preview</span>
          <span class="block md:hidden">
            <div class="svg-icon size-3 icon-eye group-hover:bg-white"></div>
          </span>
          {% call macros::btn_spinner(id = "preview-spinner") %}
        </button>
        {# End preview button #}
      </div>
      {# End preview #}

      <div class="flex items-center justify-end gap-x-6 relative">
        {# Cancel button #}
        <button id="cancel-button"
                hx-get="/dashboard/employer?tab=jobs"
                hx-target="body"
                hx-indicator="#dashboard-spinner"
                class="btn-primary-outline">Cancel</button>
        {# End cancel button #}

        {# Save button #}
        <button type="submit" class="btn-primary">
          {% call macros::btn_spinner(id = "save-spinner", bg_color = "white", fill_color = "primary-300") %}
          Save
        </button>
        {# End save button #}
      </div>
    </div>
  </div>

</form>

{# Preview modal -#}
{% call preview::modal() %}
{# End preview modal -#}

<script type="module">
  import {
    triggerActionOnForm
  } from '/static/js/dashboard/employer/jobs.js';
  import {
    toggleModalVisibility,
    isSuccessfulXHRStatus
  } from '/static/js/common/common.js';
  import {
    showErrorAlert,
    showSuccessAlert
  } from '/static/js/common/alerts.js';

  const jobsForm = document.getElementById('jobs-form');

  // Before the form is submitted, check the salary option selected
  jobsForm.addEventListener('htmx:beforeRequest', (e) => {
    const selectedSalaryOption = document.querySelector('input[name="salary_kind"]:checked');
    // If the salary option is range, remove the salary value
    if (selectedSalaryOption.id === 'range') {
      document.querySelector('input[name="salary"]').value = '';
      // If the salary option is exact, remove the salary min and max values
    } else {
      document.querySelector('input[name="salary_min"]').value = '';
      document.querySelector('input[name="salary_max"]').value = '';
    }
  });

  jobsForm.addEventListener('htmx:afterRequest', (e) => {
    // Check if the form is the jobs form and not the input ts_query requesting locations
    if (e.detail.elt.id === 'jobs-form') {
      // Update hx-spinner
      jobsForm.setAttribute('hx-indicator', '#dashboard-spinner, #save-spinner');

      if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
        showSuccessAlert('Job updated successfully.');
      } else {
        showErrorAlert('Something went wrong updating the job, please try again later.');
      }
    }
  });

  // On preview button click, show the preview modal
  const previewButton = document.getElementById('preview-button');
  previewButton.addEventListener('htmx:afterRequest', (e) => {
    if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
      toggleModalVisibility('preview-modal');
    } else {
      // When the preview is not available, show an error message
      showErrorAlert('Something went wrong previewing the job, please try again later.');
    }
  });
</script>
{# End Jobs form #}
