<div class="bg-white divide-y divide-gray-100 rounded-lg shadow w-full border mt-1">
  {% if locations.len() == 0 %}
    <div class="p-8 text-sm text-gray-600 italic">No locations found</div>
  {% else %}
    <ul class="py-2 text-sm text-gray-700 overflow-auto max-h-[180px]">
      {% for l in locations %}
        <li class="group" data-index="{{ loop.index }}">
          <button type="button"
                  data-location-id="{{ l.location_id }}"
                  class="btn-location flex items-center px-4 py-2 w-full hover:bg-gray-100 group-[.active]:bg-gray-100">
            <div class="me-2">
              <div class="svg-icon size-4 icon-location bg-gray-500"></div>
            </div>
            <div class="location-text"
                 data-city="{{ l.city }}"
                 data-state="{{ l.state|display_some }}"
                 data-country="{{ l.country }}">
              {# djlint:off #}
                 {{ &l.format()|display_some }}
              {# djlint:on #}
            </div>
          </button>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<script type="module">
  const input = document.querySelector('input#ts_query');
  const buttons = document.querySelectorAll('button.btn-location');

  if (buttons) {
    buttons.forEach((btn) => {
      btn.addEventListener('click', () => {
        const locationContent = btn.querySelector('.location-text');
        // Add the location to the input
        const location = locationContent.textContent.trim();
        const city = locationContent.dataset.city;
        const state = locationContent.dataset.state;
        const country = locationContent.dataset.country;

        if (input) {
          input.value = location;
          input.blur();
        }

        // Add the location id to the form
        const locationId = btn.dataset.locationId;
        const locationInput = document.getElementById('location_id');
        if (locationInput) {
          locationInput.value = locationId;
          locationInput.dataset.location = location;

          // Add the city, state, and country to the form
          const cityInput = document.getElementById('city');
          const stateInput = document.getElementById('state');
          const countryInput = document.getElementById('country');

          if (cityInput) {
            cityInput.value = city;
          }

          if (stateInput) {
            stateInput.value = state;
          }

          if (countryInput) {
            countryInput.value = country;
          }
        }

        // Clean the search results
        document.getElementById('search-location').innerHTML = "";
      });

      // Highlight the item in the list when the user hovers over it
      btn.addEventListener('mouseover', () => {
        const activeItem = document.querySelector('li.active');
        // Remove the class from the active item
        if (activeItem) {
          activeItem.classList.remove('active');
        }
        btn.closest('li').classList.add('active');
      });
    });
  }
</script>
