{% extends "base.html" %}

{% block main %}
  {# Sticky menu #}
  <aside class="h-screen sticky top-0 w-[175px] lg:w-[250px]">
    <div class="flex flex-col justify-between h-full px-3 lg:px-5 py-5 pt-24">
      <div>
        {% block menu %}
        {% endblock menu %}
      </div>

      <div>
        <div class="flex flex-row items-center justify-between border px-3 py-2 rounded-lg bg-white">
          <div class="flex items-center">
            {# Image #}
            <div>
              <img class="size-5 xl:size-8 bg-gray-200 p-1 rounded-full"
                   height="32"
                   width="32"
                   src="/static/images/user.png"
                   alt="User avatar">
            </div>
            {# End image #}

            {# Name #}
            <div class="ms-3 text-xs xl:text-sm">Jane Smith</div>
            {# End name #}
          </div>

          {# Logout #}
          <a href="/log-out" class="btn-tertiary size-8 p-1">
            <div class="h-full w-full flex items-center justify-center">
              <div class="svg-icon size-4 m-auto icon-logout"></div>
            </div>
          </a>
          {# End logout #}
        </div>
      </div>
    </div>
  </aside>
  {# End sticky menu #}

  <main class="w-[calc(100%-175px)] lg:w-[calc(100%-250px)] bg-white border rounded-3xl m-5 ms-0 mt-[75px] relative">
    {% block dashboard_main %}
    {% endblock dashboard_main %}
  </main>
{% endblock main %}
