{% extends "base.html" -%}
{% import "macros.html" as macros -%}

{% block content -%}
  {# Lit components -#}
  <script type="module" src="/static/js/common/search-location.js"></script>
  <script type="module" src="/static/js/common/multiselect.js"></script>
  <script type="module" src="/static/js/common/markdown-editor.js"></script>
  <script type="module" src="/static/js/dashboard/common/dashboard-search.js"></script>
  <script type="module" src="/static/js/dashboard/jobseeker/education.js"></script>
  <script type="module" src="/static/js/dashboard/jobseeker/experience.js"></script>
  <script type="module" src="/static/js/dashboard/jobseeker/certifications.js"></script>
  <script type="module" src="/static/js/dashboard/jobseeker/projects.js"></script>
  <script type="module" src="/static/js/common/input-range.js"></script>
  {# End lit components -#}

  {# Header -#}
  <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-stone-200 h-20 drop-shadow-sm flex items-center justify-between px-3 lg:px-5">
    {% include "header.html" -%}
  </nav>
  {# End Header -#}

  {# Mobile menu -#}
  <div id="drawer-menu"
       class="fixed top-0 left-0 z-[1100] h-dvh overflow-y-auto -translate-x-full bg-white w-80 border border-r border-stone-200 shadow-lg"
       role="dialog"
       data-open="false"
       tabindex="-1"
       aria-labelledby="drawer-label">
    {# Close button -#}
    <button id="close-menu"
            type="button"
            class="cursor-pointer group bg-transparent text-sm absolute top-0 end-0 py-4 px-2.5">
      <div class="size-8 rounded-full bg-transparent group-hover:bg-stone-200 flex items-center justify-center">
        <div class="svg-icon size-4 bg-stone-400 group-hover:bg-stone-900 icon-close"></div>
        <span class="sr-only">Close menu</span>
      </div>
    </button>
    {# End close button -#}

    {# Menu content -#}
    <div class="flex flex-col justify-between pb-5 pt-1 h-full">
      <div class="flex flex-col grow min-h-0 w-full">
        {% block menu -%}
        {% endblock menu -%}
      </div>

      <div class="w-full px-3 lg:px-5 shrink-0">
        {# Analytics -#}
        {%- if let Some(analytics) = cfg.analytics -%}
          {# Osano -#}
          {%- if let Some(osano_script_url) = analytics.osano_script_url -%}
            {# Cookie preferences -#}
            {% call macros::cookie_button(id = "btn-cookies-mobile", close_drawer = true, extra_styles = "mt-4 mb-8") -%}
            {# End cookie preferences -#}
          {%- endif -%}
        {% endif -%}
        {# End analytics -#}

        {# Logout -#}
        <a href="/log-out"
           hx-boost="false"
           target="_self"
           class="group btn-primary-outline-anchor inline-flex w-full items-center justify-between">
          <div>Log out</div>
          <div class="svg-icon size-4 icon-logout group-hover:bg-white"></div>
        </a>
        {# End logout -#}
      </div>
      {# End menu content -#}
    </div>
  </div>
  {# Overlay -#}
  <div id="drawer-backdrop"
       class="hidden bg-stone-900/50 fixed inset-0 z-[1050]"></div>
  {# End overlay -#}
  {# End mobile menu -#}

  <script type="module">
    import {
      close
    } from '/static/js/dashboard/base.js';

    const closeMenuBtn = document.getElementById('close-menu');
    closeMenuBtn.addEventListener('click', close);

    const backdropMenu = document.getElementById('drawer-backdrop');
    backdropMenu.addEventListener('click', close);
  </script>

  {# Main Content -#}
  <div class="flex">
    {# Sticky menu -#}
    <aside class="hidden lg:flex h-dvh sticky top-0 w-[225px] lg:w-[300px]">
      <div class="flex flex-col justify-between py-5 pt-24 h-full w-full">
        <div class="flex flex-col grow min-h-0 w-full">
          {% block menu -%}
          {% endblock menu -%}
        </div>

        <div class="w-full px-3 lg:px-5 shrink-0">
          {# Analytics -#}
          {%- if let Some(analytics) = cfg.analytics -%}
            {# Osano -#}
            {%- if let Some(osano_script_url) = analytics.osano_script_url -%}
              {# Cookie preferences -#}
              {% call macros::cookie_button(extra_styles = "mt-4 mb-8") -%}
              {# End cookie preferences -#}
            {%- endif -%}
          {% endif -%}
          {# End analytics -#}

          {# Logout -#}
          <a href="/log-out"
             hx-boost="false"
             target="_self"
             class="group btn-primary-outline-anchor inline-flex w-full items-center justify-between">
            <div>Log out</div>
            <div class="svg-icon size-4 icon-logout group-hover:bg-white"></div>
          </a>
          {# End logout -#}
        </div>
      </div>
    </aside>
    {# End sticky menu -#}

    <main class="w-full lg:w-[calc(100%-300px)] md:bg-white md:border md:border-stone-200 md:rounded-lg md:m-5 lg:ms-0 mt-[5.5rem] md:mt-[6.25rem] relative">
      {% block dashboard_main -%}
      {% endblock dashboard_main -%}
    </main>
  </div>
  {# End Main Content -#}
{% endblock content -%}
