{% extends "base.html" %}

{% block main %}
  {# Sticky menu #}
  <aside class="h-screen sticky top-0 w-[225px] lg:w-[300px]">
    <div class="flex flex-col justify-between py-5 pt-24 h-full">
      <div class="flex flex-col flex-grow min-h-0 w-full">
        {% block menu %}
        {% endblock menu %}
      </div>

      <div class="w-full px-3 lg:px-5 shrink-0">
        {# Logout #}
        <a href="/log-out"
           class="group btn-primary-outline-anchor inline-block w-full flex items-center justify-between">
          <div>Log out</div>
          <div class="svg-icon size-4 icon-logout group-hover:bg-white"></div>
        </a>
        {# End logout #}
      </div>
    </div>
  </aside>
  {# End sticky menu #}

  <main class="w-[calc(100%-225px)] lg:w-[calc(100%-300px)] bg-white border rounded-3xl m-5 ms-0 mt-[6.25rem] relative">
    {% block dashboard_main %}
    {% endblock dashboard_main %}
  </main>
{% endblock main %}
