<div class="flex space-x-5 items-center mb-10 pb-10 border-b border-stone-200">
  {# Photo -#}
  {% if let Some(photo_id) = profile.photo_id -%}
    {% let photo = &self::build_dashboard_image_url(photo_id, "small") -%}
    <div class="flex justify-center items-center size-24 shrink-0 rounded-lg">
      <img src="{{ photo }}"
           alt="{{ profile.name }} photo"
           height="auto"
           width="auto"
           class="size-24 object-contain rounded-lg">
    </div>
  {% endif -%}
  {# End photo -#}

  <div class="flex flex-col space-y-3">
    {# Name -#}
    <div class="capitalize text-2xl font-semibold">{{ profile.name }}</div>
    {# End name -#}

    <div class="flex flex-wrap gap-3 xl:gap-5">
      {# Email -#}
      <a href="mailto:{{ profile.email }}"
         target="_blank"
         rel="noopener noreferrer"
         class="border border-stone-200 rounded-full px-4 flex items-center text-stone-600 text-xs/6 xl:text-sm/6 space-x-2 cursor-pointer">
        <div class="svg-icon size-4 icon-email bg-stone-500"></div>
        <div>{{ profile.email }}</div>
      </a>
      {# End email -#}

      {# Phone -#}
      {% if let Some(phone) = profile.phone -%}
        {% call main_badge(content = phone, icon = "phone") -%}
      {% endif -%}
      {# End phone -#}

      {# Location -#}
      {% if let Some(location) = profile.location -%}
        {% call main_badge(content = location, icon = "location") -%}
      {% endif -%}
      {# End location -#}
    </div>
  </div>
</div>

<div class="flex items-stretch">
  {# Left column -#}
  <div class="w-2/5 lg:w-1/4 pe-10 me-10 border-e border-stone-200 flex space-y-10 flex-col">

    {# Social -#}
    <div class="flex flex-col space-y-3">
      {# Email -#}
      {% call social_link(url = profile.email, icon = "email", is_email = true) -%}
      {# End email -#}

      {# Website URL -#}
      {% if let Some(website_url) = profile.website_url -%}
        {% call social_link(url = website_url, icon = "link") -%}
      {% endif -%}
      {# End website url -#}

      {# GitHub url -#}
      {% if let Some(github_url) = profile.github_url -%}
        {% call social_link(url = github_url, icon = "github") -%}
      {% endif -%}
      {# End GitHub url -#}

      {# LinkedIn url -#}
      {% if let Some(linkedin_url) = profile.linkedin_url -%}
        {% call social_link(url = linkedin_url, icon = "linkedin") -%}
      {% endif -%}
      {# End LinkedIn url -#}

      {# Twitter url -#}
      {% if let Some(twitter_url) = profile.twitter_url -%}
        {% call social_link(url = twitter_url, icon = "twitter") -%}
      {% endif -%}
      {# End Twitter url -#}

      {# Facebook url -#}
      {% if let Some(facebook_url) = profile.facebook_url -%}
        {% call social_link(url = facebook_url, icon = "facebook") -%}
      {% endif -%}
      {# End Facebook url -#}

      {# BlueSky url -#}
      {% if let Some(bluesky_url) = profile.bluesky_url -%}
        {# TODO - update url #}
        {% call social_link(url = bluesky_url, icon = "bluesky") -%}
      {% endif -%}
      {# End BlueSky url -#}
    </div>
    {# End social -#}

    <hr class="my-10 border-t border-stone-200">
    <div class="flex flex-col space-y-4">
      {# Remote -#}
      {% if let Some(open_to_remote) = profile.open_to_remote -%}
        {% call toggle_option(title = "Open to work remotely", status = open_to_remote) -%}
      {% endif -%}
      {# End remote -#}

      {# Relocation -#}
      {% if let Some(open_to_relocation) = profile.open_to_relocation -%}
        {% call toggle_option(title = "Open to relocate", status = open_to_relocation) -%}
      {% endif -%}
      {# End remote -#}
    </div>

    {# Skills -#}
    {% if let Some(skills) = profile.skills -%}
      <hr class="my-10 border-t border-stone-200">

      <div>
        {% call title(content = "Skills") -%}
        <div class="text-stone-600 text-xs/6 flex flex-wrap pt-2">
          {% for skill in skills -%}
            <div class="bg-stone-100 px-4 rounded-full inline-block uppercase mb-2 me-2">{{ skill|unnormalize }}</div>
          {% endfor -%}
        </div>
      </div>
    {% endif -%}
    {# End skills -#}

  </div>
  {# End left column -#}

  {# Right column -#}
  <div class="w-3/5 lg:w-3/4">
    {# Summary -#}
    {% call title(content = "Profile") -%}
    <div class="text-sm/6 text-stone-600 markdown">{{ profile.summary|md_to_html|safe }}</div>
    {# End summary -#}

    {# Experience -#}
    {% if let Some(experience) = profile.experience -%}
      <hr class="my-10 border-t border-stone-200">
      {% call title(content = "Experience") -%}
      <div class="pt-2">
        <ol class="relative border-s border-stone-200">
          {% for exp in experience -%}
            {% let end_date = exp.end_date|display_some_date_or(DATE_FORMAT_2, "Present") -%}
            {% call timeline_item(title = exp.title, entity = exp.company, description = exp.description, start_date = exp.start_date.format(DATE_FORMAT_2), end_date = end_date) -%}
          {% endfor -%}
        </ol>
      </div>
    {% endif -%}
    {# End experience -#}

    {# Education -#}
    {% if let Some(education) = profile.education -%}
      <hr class="my-10 border-t border-stone-200">
      {% call title(content = "Education") -%}
      <div class="pt-2">
        <ol class="relative border-s border-stone-200">
          {% for ed in education -%}
            {% call timeline_item(title = ed.title, entity = ed.educational_institution, description = ed.description, start_date = ed.start_date.format(DATE_FORMAT_2), end_date = ed.end_date.format(DATE_FORMAT_2)) -%}
          {% endfor -%}
        </ol>
      </div>
    {% endif -%}
    {# End education -#}

    {# Certifications -#}
    {% if let Some(certifications) = profile.certifications -%}
      <hr class="my-10 border-t border-stone-200">
      {% call title(content = "Certifications") -%}
      <div class="pt-2">
        <ol class="relative border-s border-stone-200">
          {% for c in certifications -%}
            {% call timeline_item(title = c.title, entity = c.provider, description = c.description, start_date = c.start_date.format(DATE_FORMAT_2), end_date = c.end_date.format(DATE_FORMAT_2)) -%}
          {% endfor -%}
        </ol>
      </div>
    {% endif -%}
    {# End certifications -#}

    {# Projects -#}
    {% if let Some(projects) = profile.projects -%}
      <hr class="my-10 border-t border-stone-200">
      {% call title(content = "Projects") %}
      <div class="pt-2">
        <ol class="relative border-s border-stone-200">
          {% for p in projects -%}
            <li class="mb-10 ms-4">
              <div class="absolute size-3 bg-stone-300 rounded-full mt-1 -start-1.5 border border-white"></div>
              <div class="text-lg font-semibold text-stone-900">{{ p.title }}</div>
              <div class="text-sm/6 text-stone-500 italic text-nowrap truncate">
                <span class="text-xs text-stone-500/75 uppercase">Url:</span>
                <a href="{{ p.url }}"
                   class="truncate"
                   target="_blank"
                   rel="noopener noreferrer">{{ p.url }}</a>
              </div>
              {% if let Some(source_url) = p.source_url -%}
                <div class="text-sm/6 text-stone-500 italic text-nowrap truncate">
                  <span class="text-xs text-stone-500/75 uppercase">Source:</span>
                  <a href="{{ source_url }}"
                     class="truncate"
                     target="_blank"
                     rel="noopener noreferrer">{{ source_url }}</a>
                </div>
              {% endif -%}
              <div class="text-sm/6 text-stone-600 markdown">{{ p.description|md_to_html|safe }}</div>
            </li>
          {% endfor -%}
        </ol>
      </div>
    {% endif -%}
    {# End projects -#}
  </div>
  {# End right column -#}
</div>

{% macro main_badge(content, icon) -%}
  <div class="border border-stone-200 rounded-full px-4 flex items-center text-stone-600 text-xs/6 xl:text-sm/6 space-x-2">
    <div class="svg-icon size-4 icon-{{ icon }} bg-stone-500"></div>
    <div>{{ content }}</div>
  </div>
{% endmacro main_badge -%}

{% macro title(content) -%}
  <div class="uppercase text-stone-800 tracking-[0.25rem] font-semibold mb-4">{{ content }}</div>
{% endmacro title -%}

{% macro social_link(url, icon, is_email = false) -%}
  <a href="{%- if is_email -%}mailto:{%- endif -%}{{ url }}"
     class="btn-tertiary-anchor border border-stone-200 btn-mini flex items-center space-x-2"
     target="_blank"
     rel="noopener noreferrer">
    <div class="svg-icon size-3 bg-stone-300 icon-{{ icon }}"></div>
    <div class="truncate">{{ url }}</div>
  </a>
{% endmacro social_link -%}

{% macro timeline_item(title, entity, description, start_date, end_date) -%}
  <li class="mb-10 ms-4">
    <div class="absolute size-3 bg-stone-300 rounded-full mt-1 -start-1.5 border border-white"></div>
    <div class="mb-2 text-sm text-stone-500/75">{{ start_date }} - {{ end_date }}</div>
    <div class="text-lg font-semibold text-stone-900">{{ title }}</div>
    <div class="text-sm/6 text-stone-500 italic mb-3">{{ entity }}</div>
    <div class="text-sm/6 text-stone-600 markdown">{{ description|md_to_html|safe }}</div>
  </li>
{% endmacro timeline_item -%}

{% macro toggle_option(title, status = false) -%}
  <div class="flex space-x-2 items-center">
    <div class="w-4">
      {% if status -%}
        <div class="svg-icon size-3 icon-check bg-stone-700 mx-auto"></div>
      {% else -%}
        <div class="svg-icon size-4 icon-close bg-stone-700 mx-auto"></div>
      {% endif -%}
    </div>
    <div class="text-xs/6">{{ title }}</div>
  </div>
{% endmacro toggle_option -%}
