{% import "macros.html" as macros %}

{% let profile = profile.clone().unwrap_or_default() %}

<div class="space-y-12">
  <div>
    {% call macros::form_title(title = "Profile", description = "This information will be accessible to employers when you apply for a job. If you wish, you can also mark your profile as public and it will be displayed in the site profiles list.") %}
  </div>

  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 max-w-4xl">
    {# Form image #}
    <div class="col-span-full">
      {% call macros::images_form(label = "Photo", name = "photo_id", icon = "user", value = profile.photo_id|display_some) %}
    </div>
    {# End form image #}
  </div>

  {# Jobseeker form #}
  <form id="jobseeker-form"
        hx-put="/dashboard/job-seeker/profile/update"
        hx-ext="no-empty-vals"
        hx-include="[name=photo_id]"
        hx-trigger="submit"
        hx-indicator="#dashboard-spinner, #save-spinner"
        hx-disabled-elt="button[type=submit], #preview-button">
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
          {# Name #}
          <div class="col-span-3">
            <label for="name" class="form-label">
              Name <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="text"
                     name="name"
                     id="name"
                     value="{{ profile.name }}"
                     class="input-primary"
                     autocomplete="off"
                     autocorrect="off"
                     autocapitalize="off"
                     spellcheck="false"
                     required>
            </div>
          </div>
          {# End name #}

          {# Phone #}
          <div class="col-span-3">
            <label for="phone" class="form-label">Phone</label>
            <div class="mt-2">
              <input type="text"
                     name="phone"
                     id="phone"
                     value="{{ profile.phone|display_some }}"
                     class="input-primary"
                     autocomplete="off"
                     autocorrect="off"
                     autocapitalize="off"
                     spellcheck="false">
            </div>
          </div>
          {# End phone #}

          {# Email #}
          <div class="col-span-3">
            <label for="email" class="form-label">
              Email <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="email"
                     name="email"
                     id="email"
                     value="{{ profile.email }}"
                     class="input-primary"
                     required>
            </div>
          </div>
          {# End email #}

          {# Location #}
          <div class="col-span-full lg:col-span-3">
            <label for="ts_query" class="form-label">Location</label>
            {% call macros::location(location_id = profile.location_id|display_some, city = profile.city|display_some, state = profile.state|display_some, country = profile.country|display_some) %}
          </div>
          {# End location #}

          {# Summary #}
          <div class="col-span-full">
            <label for="summary" class="form-label">
              Summary <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <markdown-editor id="summary" content="{{ profile.summary }}" required></markdown-editor>
            </div>
            <p class="form-legend">A short introduction of yourself. You can use markdown to format the text.</p>
          </div>
          {# End Summary #}

          {# Skills #}
          <div class="col-span-full">
            <multi-select id="skills" name="Skills" options="{{ skills|json }}"
            {% if let Some(skills) = profile.skills -%}selected="{{ skills|json }}"{%- endif %} legend="Indicate your top skills."></multi-select>
            </div>
            {# End skills #}

            {# Open to relocation #}
            <div class="col-span-full">
              <label class="inline-flex items-center cursor-pointer">
                {% call macros::toggle_checkbox(id = "open_to_relocation", checked = profile.open_to_relocation.unwrap_or(false)) %}
                <span class="ms-3 text-sm font-medium text-gray-900">Open to relocation</span>
              </label>
            </div>
            {# End open to relocation #}

            {# Open to remote #}
            <div class="col-span-full">
              <label class="inline-flex items-center cursor-pointer">
                {% call macros::toggle_checkbox(id = "open_to_remote", checked = profile.open_to_remote.unwrap_or(false)) %}
                <span class="ms-3 text-sm font-medium text-gray-900">Open to remote work</span>
              </label>
            </div>
            {# End open to remote #}

            {# Public #}
            <div class="col-span-full">
              <label class="inline-flex items-center cursor-pointer">
                {% call macros::toggle_checkbox(id = "public", checked = profile.public) %}
                <span class="ms-3 text-sm font-medium text-gray-900">Display profile publicly in the profiles list of the site</span>
              </label>
            </div>
            {# End Public #}
          </div>
        </div>

        <div class="border-b border-gray-900/10 pb-12">
          {% call macros::form_title(title = "Links", description = "Some links where employers can find out more about you and your work.") %}

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 max-w-5xl">
            {# Website url #}
            <div class="col-span-3">
              <label for="website_url" class="form-label">Website url</label>
              <div class="mt-2 relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                  <div class="svg-icon size-4 icon-link bg-gray-300"></div>
                </div>
                <input type="url"
                       name="website_url"
                       id="website_url"
                       value="{{ profile.website_url|display_some }}"
                       class="input-primary ps-10">
              </div>
            </div>
            {# End website url #}

            {# Facebook url #}
            <div class="col-span-3">
              <label for="facebook_url" class="form-label">Facebook url</label>
              <div class="mt-2 relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                  <div class="svg-icon size-4 icon-facebook bg-gray-300"></div>
                </div>
                <input type="url"
                       name="facebook_url"
                       id="facebook_url"
                       value="{{ profile.facebook_url|display_some }}"
                       class="input-primary ps-10">
              </div>
            </div>
            {# End facebook url #}

            {# GitHub url #}
            <div class="col-span-3">
              <label for="github_url" class="form-label">GitHub url</label>
              <div class="mt-2 relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                  <div class="svg-icon size-4 icon-github bg-gray-300"></div>
                </div>
                <input type="url"
                       name="github_url"
                       id="github_url"
                       value="{{ profile.github_url|display_some }}"
                       class="input-primary ps-10">
              </div>
            </div>
            {# End github url #}

            {# LinkedIn url #}
            <div class="col-span-3">
              <label for="linkedin_url" class="form-label">LinkedIn url</label>
              <div class="mt-2 relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                  <div class="svg-icon size-4 icon-linkedin bg-gray-300"></div>
                </div>
                <input type="url"
                       name="linkedin_url"
                       id="linkedin_url"
                       value="{{ profile.linkedin_url|display_some }}"
                       class="input-primary ps-10">
              </div>
            </div>
            {# End linkedIn url #}

            {# Twitter url #}
            <div class="col-span-3">
              <label for="twitter_url" class="form-label">Twitter url</label>
              <div class="mt-2 relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                  <div class="svg-icon size-4 icon-twitter bg-gray-300"></div>
                </div>
                <input type="url"
                       name="twitter_url"
                       id="twitter_url"
                       value="{{ profile.twitter_url|display_some }}"
                       class="input-primary ps-10">
              </div>
            </div>
            {# End twitter url #}
          </div>
        </div>

        {# Experience #}
        <div class="border-b border-gray-900/10 pb-12">
          <experience-section experience=" {%- if let Some(experience) = profile.experience -%}{{ experience|json }}{%- endif -%} "></experience-section>
        </div>
        {# End experience #}

        {# Education #}
        <div class="border-b border-gray-900/10 pb-12">
          <education-section education=" {%- if let Some(education) = profile.education -%}{{ education|json }}{%- endif -%} "></education-section>
        </div>
        {# End education #}

        {# Certifications #}
        <div class="border-b border-gray-900/10 pb-12">
          <certifications-section certifications=" {%- if let Some(certifications) = profile.certifications -%}{{ certifications|json }}{%- endif -%} "></certifications-section>
        </div>
        {# End certifications #}

        {# Projects #}
        <div class="border-b border-gray-900/10 pb-12">
          <projects-section projects=" {%- if let Some(projects) = profile.projects -%}{{ projects|json }}{%- endif -%} "></projects-section>
        </div>
        {# End projects #}

        <div class="mt-6 flex justify-between items-center">
          {# Preview #}
          <div class="flex items-center gap-x-6">
            {# Preview button #}
            <button id="preview-button"
                    type="button"
                    hx-post="/dashboard/job-seeker/profile/preview"
                    hx-include="#jobseeker-form, #photo_id"
                    hx-ext="no-empty-vals"
                    hx-target="#preview-content"
                    hx-indicator="#preview-spinner"
                    hx-disabled-elt="this"
                    type="button"
                    class="group btn-primary-outline">
              <span class="hidden md:block">Preview</span>
              <span class="block md:hidden">
                <div class="svg-icon size-3 icon-eye group-hover:bg-white"></div>
              </span>
              {% call macros::btn_spinner(id = "preview-spinner") %}
            </button>
            {# End preview button #}
          </div>
          {# End preview #}

          {# Save button #}
          <div>
            <button type="submit" class="btn-primary">
              {% call macros::btn_spinner(id = "save-spinner", bg_color = "white", fill_color = "primary-300") %}
              Save
            </button>
          </div>
          {# End save button #}
        </div>
      </form>
      {# End jobseeker form #}
    </div>
  </div>

  {# Preview modal -#}
  {% include "misc/preview_modal.html" %}
  {# End preview modal -#}

  <script type="module">
    import {
      toggleModalVisibility,
      isSuccessfulXHRStatus
    } from '/static/js/common/common.js';
    import {
      showErrorAlert,
      showSuccessAlert
    } from '/static/js/common/alerts.js';

    const jobSeekerForm = document.getElementById('jobseeker-form');
    jobSeekerForm.addEventListener('htmx:afterRequest', (e) => {
      if (e.detail.elt.id === 'jobseeker-form') {
        if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
          showSuccessAlert('Profile updated successfully.');
        } else {
          showErrorAlert('Something went wrong updating the profile, please try again later.');
        }
      }
    });

    // On preview button click, show the preview modal
    const previewButton = document.getElementById('preview-button');
    previewButton.addEventListener('htmx:afterRequest', (e) => {
      if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
        toggleModalVisibility('preview-modal');
      } else {
        // When the preview is not available, show an error message
        showErrorAlert('Something went wrong previewing the profile, please try again later.');
      }
    });
  </script>
