{% import "macros.html" as macros %}
{% import "misc/preview_modal.html" as preview %}

{% let profile = profile.clone().unwrap_or_default() %}

<div class="space-y-12">
  <div class="flex flex-col xl:flex-row xl:justify-between xl:space-x-10">
    <ul class="flex flex-wrap space-x-2 -mb-px text-sm font-medium text-center border-b border-stone-900/10 w-full xl:w-auto">
      <li>
        <button type="button"
                data-section="profile"
                data-active="true"
                class="lg:w-32 cursor-pointer inline-flex items-center justify-center p-4 pt-0 border-b-2 border-transparent rounded-t-lg hover:text-stone-600 hover:border-stone-300 active data-[active=true]:text-primary-600 data-[active=true]:border-primary-500 group">
          <div class="svg-icon size-3 me-2 icon-user bg-stone-400 group-hover:bg-stone-500 group-[.active]:bg-primary-500">
          </div>
          Profile
        </button>
      </li>
      <li>
        <button type="button"
                data-section="experience"
                data-active="false"
                class="lg:w-32 cursor-pointer inline-flex items-center justify-center p-4 pt-0 border-b-2 border-transparent rounded-t-lg hover:text-stone-600 hover:border-stone-300 data-[active=true]:text-primary-600 data-[active=true]:border-primary-500 group">
          <div class="svg-icon size-3 me-2 icon-office_chair bg-stone-400 group-hover:bg-stone-500 group-[.active]:bg-primary-500">
          </div>
          Experience
        </button>
      </li>
      <li>
        <button type="button"
                data-section="education"
                data-active="false"
                class="lg:w-32 cursor-pointer inline-flex items-center justify-center p-4 pt-0 border-b-2 border-transparent rounded-t-lg hover:text-stone-600 hover:border-stone-300 data-[active=true]:text-primary-600 data-[active=true]:border-primary-500 group">
          <div class="svg-icon size-3 me-2 icon-graduation_cap bg-stone-400 group-hover:bg-stone-500 group-[.active]:bg-primary-500">
          </div>
          Education
        </button>
      </li>
      <li>
        <button type="button"
                data-section="projects"
                data-active="false"
                class="lg:w-32 cursor-pointer inline-flex items-center justify-center p-4 pt-0 border-b-2 border-transparent rounded-t-lg hover:text-stone-600 hover:border-stone-300 data-[active=true]:text-primary-600 data-[active=true]:border-primary-500 group">
          <div class="svg-icon size-3 me-2 icon-clipboard bg-stone-400 group-hover:bg-stone-500 group-[.active]:bg-primary-500 shrink-0">
          </div>
          Projects
        </button>
      </li>
    </ul>

    <div class="flex items-center justify-end space-x-5 mt-6 xl:mt-0">
      {# Preview #}
      <div>
        {# Preview button #}
        <button id="preview-button"
                hx-post="/dashboard/job-seeker/profile/preview"
                hx-include="#photo_id, #profile-form, #experience-form, #education-form, #projects-form"
                hx-ext="no-empty-vals"
                hx-target="#preview-content"
                hx-indicator="#preview-spinner"
                hx-disabled-elt="#update-profile-button, #preview-button"
                type="button"
                class="group btn-primary-outline w-24">
          <span class="hidden md:block">Preview</span>
          <span class="block md:hidden">
            <div class="svg-icon size-3 icon-eye group-hover:bg-white"></div>
          </span>
          {% call macros::btn_spinner(id = "preview-spinner") %}
        </button>
        {# End preview button #}
      </div>
      {# End preview #}

      {# Save button #}
      <div>
        <button id="update-profile-button"
                class="btn-primary w-24"
                hx-put="/dashboard/job-seeker/profile/update"
                hx-ext="no-empty-vals"
                hx-include="[name=photo_id], #profile-form, #experience-form, #education-form, #projects-form"
                hx-indicator="#dashboard-spinner, #save-spinner"
                hx-disabled-elt="#update-profile-button, #preview-button">
          {% call macros::btn_spinner(id = "save-spinner", spinner_type = "2") %}
          Save
        </button>
      </div>
      {# End save button #}
    </div>
  </div>

  <div>
    {# Profile #}
    <div data-content="profile">
      <p class="mt-1 text-sm/6 text-stone-500">
        This information will be accessible to employers when you apply for a job. If you wish, you can also mark your profile as public and it will be displayed in the site profiles list.
      </p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 max-w-4xl">
        {# Form image #}
        <div class="col-span-full">
          {% if let Some(photo_id) = profile.photo_id %}
            {% let image = &self::build_dashboard_image_url(photo_id, "small") %}
            {% call macros::images_form(label = "Photo", name = "photo_id", icon = "user", value = photo_id.to_string(), url_image = image) %}
          {% else %}
            {% call macros::images_form(label = "Photo", name = "photo_id", icon = "user") %}
          {% endif %}
        </div>
        {# End form image #}
      </div>
      <form id="profile-form">
        <div class="space-y-12">
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
            {# Name #}
            <div class="col-span-3">
              <label for="name" class="form-label">
                Name <span class="asterisk">*</span>
              </label>
              <div class="mt-2">
                <input type="text"
                       name="name"
                       id="name"
                       value="{{ profile.name }}"
                       class="input-primary"
                       autocomplete="off"
                       autocorrect="off"
                       autocapitalize="off"
                       spellcheck="false"
                       required>
              </div>
            </div>
            {# End name #}

            {# Phone #}
            <div class="col-span-3">
              <label for="phone" class="form-label">Phone</label>
              <div class="mt-2">
                <input type="text"
                       name="phone"
                       id="phone"
                       value="{{ profile.phone|display_some }}"
                       class="input-primary"
                       autocomplete="off"
                       autocorrect="off"
                       autocapitalize="off"
                       spellcheck="false">
              </div>
            </div>
            {# End phone #}

            {# Email #}
            <div class="col-span-3">
              <label for="email" class="form-label">
                Email <span class="asterisk">*</span>
              </label>
              <div class="mt-2">
                <input type="email"
                       name="email"
                       id="email"
                       value="{{ profile.email }}"
                       class="input-primary"
                       required>
              </div>
            </div>
            {# End email #}

            {# Location #}
            <div class="col-span-full lg:col-span-3">
              <label for="ts_query" class="form-label">Location</label>
              {% if let Some(location) = profile.location %}
                <search-location location_id="{{ location.location_id }}" city="{{ location.city }}" state="{{ location.state|display_some }}" country="{{ location.country }}"></search-location>
              {% else %}
                <search-location></search-location>
              {% endif %}
            </div>
            {# End location #}

            {# Summary #}
            <div class="col-span-full">
              <label for="summary" class="form-label">
                Summary <span class="asterisk">*</span>
              </label>
              <div class="mt-2">
                <markdown-editor id="summary" content="{{ profile.summary }}" required></markdown-editor>
              </div>
              <p class="form-legend">A short introduction of yourself. You can use markdown to format the text.</p>
            </div>
            {# End Summary #}

            {# Skills #}
            <div class="col-span-full">
              <multi-select name="skills" label="Skills" legend="Indicate your top skills." {%+ if let Some(skills) = profile.skills -%} selected="{{ skills|json }}"{%- endif -%}></multi-select>
            </div>
            {# End skills #}

            {# Open to relocation #}
            <div class="col-span-full">
              <label class="inline-flex items-center cursor-pointer">
                {% call macros::toggle_checkbox(id = "open_to_relocation", checked = profile.open_to_relocation.unwrap_or(false)) %}
                <span class="ms-3 text-sm font-medium text-stone-900">Open to relocation</span>
              </label>
            </div>
            {# End open to relocation #}

            {# Open to remote #}
            <div class="col-span-full">
              <label class="inline-flex items-center cursor-pointer">
                {% call macros::toggle_checkbox(id = "open_to_remote", checked = profile.open_to_remote.unwrap_or(false)) %}
                <span class="ms-3 text-sm font-medium text-stone-900">Open to remote work</span>
              </label>
            </div>
            {# End open to remote #}

            {# Public #}
            <div class="col-span-full">
              <label class="inline-flex items-center cursor-pointer">
                {% call macros::toggle_checkbox(id = "public", checked = profile.public) %}
                <span class="ms-3 text-sm font-medium text-stone-900">Display profile publicly in the profiles list of the site</span>
              </label>
            </div>
            {# End Public #}
          </div>
          <div class="border-t border-stone-900/10 pt-12">
            {% call macros::form_title(title = "Links", description = "Some links where employers can find out more about you and your work.") %}

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 max-w-5xl">
              {# Website URL #}
              <div class="col-span-3">
                <label for="website_url" class="form-label">Website URL</label>
                <div class="mt-2 relative">
                  <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <div class="svg-icon size-4 icon-link bg-stone-300"></div>
                  </div>
                  <input type="url"
                         name="website_url"
                         id="website_url"
                         value="{{ profile.website_url|display_some }}"
                         class="input-primary ps-10">
                </div>
              </div>
              {# End website url #}

              {# Facebook url #}
              <div class="col-span-3">
                <label for="facebook_url" class="form-label">Facebook url</label>
                <div class="mt-2 relative">
                  <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <div class="svg-icon size-4 icon-facebook bg-stone-300"></div>
                  </div>
                  <input type="url"
                         name="facebook_url"
                         id="facebook_url"
                         value="{{ profile.facebook_url|display_some }}"
                         class="input-primary ps-10">
                </div>
              </div>
              {# End facebook url #}

              {# GitHub url #}
              <div class="col-span-3">
                <label for="github_url" class="form-label">GitHub url</label>
                <div class="mt-2 relative">
                  <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <div class="svg-icon size-4 icon-github bg-stone-300"></div>
                  </div>
                  <input type="url"
                         name="github_url"
                         id="github_url"
                         value="{{ profile.github_url|display_some }}"
                         class="input-primary ps-10">
                </div>
              </div>
              {# End github url #}

              {# LinkedIn url #}
              <div class="col-span-3">
                <label for="linkedin_url" class="form-label">LinkedIn url</label>
                <div class="mt-2 relative">
                  <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <div class="svg-icon size-4 icon-linkedin bg-stone-300"></div>
                  </div>
                  <input type="url"
                         name="linkedin_url"
                         id="linkedin_url"
                         value="{{ profile.linkedin_url|display_some }}"
                         class="input-primary ps-10">
                </div>
              </div>
              {# End linkedIn url #}

              {# Twitter url #}
              <div class="col-span-3">
                <label for="twitter_url" class="form-label">Twitter url</label>
                <div class="mt-2 relative">
                  <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <div class="svg-icon size-4 icon-twitter bg-stone-300"></div>
                  </div>
                  <input type="url"
                         name="twitter_url"
                         id="twitter_url"
                         value="{{ profile.twitter_url|display_some }}"
                         class="input-primary ps-10">
                </div>
              </div>
              {# End twitter url #}
            </div>
          </div>
        </div>
      </form>
    </div>
    {# End profile #}

    {# Experience #}
    <div data-content="experience" class="hidden">
      <form id="experience-form">
        <experience-section experience=" {%- if let Some(experience) = profile.experience -%}{{ experience|json }}{%- endif -%} "></experience-section>
      </form>
    </div>
    {# End experience #}

    {# Education and certifications #}
    <div data-content="education" class="hidden">
      <form id="education-form">
        <div class="flex flex-col space-y-12">
          <education-section education="{%- if let Some(education) = profile.education -%}{{ education|json }}{%- endif -%}"></education-section>
          <certifications-section certifications="{%- if let Some(certifications) = profile.certifications -%}{{ certifications|json }}{%- endif -%}"></certifications-section>
        </div>
      </form>
    </div>
    {# End education and certifications #}

    {# Projects #}
    <div data-content="projects" class="hidden">
      <form id="projects-form">
        <projects-section projects="{%- if let Some(projects) = profile.projects -%}{{ projects|json }}{%- endif -%}"></projects-section>
      </form>
    </div>
    {# End projects #}
  </div>
</div>

{# Preview modal -#}
{% call preview::modal() %}
{# End preview modal -#}

<script type="module">
  import {
    toggleModalVisibility,
    isSuccessfulXHRStatus
  } from '/static/js/common/common.js';
  import {
    showErrorAlert,
    showSuccessAlert
  } from '/static/js/common/alerts.js';
  import {
    displayActiveSection,
    validateFormData
  } from '/static/js/dashboard/jobseeker/form.js';

  const sectionsBtn = document.querySelectorAll('[data-section]');
  sectionsBtn.forEach((btn) => {
    btn.addEventListener('click', () => {
      const section = btn.getAttribute('data-section');
      displayActiveSection(section);
    });
  });

  // On update button click, validate the form
  const updateBtn = document.getElementById('update-profile-button');
  updateBtn.addEventListener('htmx:beforeRequest', (e) => {
    if (!validateFormData()) {
      e.preventDefault();
    }
  });

  updateBtn.addEventListener('htmx:afterRequest', (e) => {
    if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
      showSuccessAlert('Profile updated successfully.');
    } else {
      showErrorAlert('Something went wrong updating the profile, please try again later.');
    }
  });

  // On preview button click, show the preview modal
  const previewButton = document.getElementById('preview-button');
  previewButton.addEventListener('htmx:afterRequest', (e) => {
    if (isSuccessfulXHRStatus(e.detail.xhr.status)) {
      toggleModalVisibility('preview-modal', "open");
    } else {
      // When the preview is not available, show an error message
      if (e.detail.xhr.status == 422) {
        showErrorAlert('You must fill in all required fields to be able to preview the profile.');
      } else {
        showErrorAlert('Something went wrong previewing the data, please try again later.');
      }
    }
  });
</script>
